<!DOCTYPE html>
<html lang="en">
    
{% extends 'base2.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

    <main class="main-wrapper">
        
        <aside class="left-sidebar">
           

             <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="top-ul">                       
                        <!-- <li class="nav-small-cap">MENU</li>
                        <li><a href="" class="active">WEBSITE</a>  
                             -->
                            
                        </li>
            
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
             </div>
                
    
                
        </aside>
  
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

           
                        <h3>Hii page ni kwa ajili ya waandishi wa vitabu (<i>authors</i>) wanaotaka kutangaza na kuuza vitabu vyao kwenye mtandao wetu</h3>
                         
                            <h3>Video hapo chini zitakuonyesha mfumo ulivyo na namna ya kuutumia. Tafadhali angalia video zote kwani zitajibu maswali yako mengi, tembelea page hii kila wakati kwani video zaidi zitawekwa. Anza kuangalia video kuanzia chini kuja juu. Kama kuna swali usisite kuniuliza. Nipigie simu nambari 0653397942, jina OB. </h3>

<br>

                     <div class="section2 grey-scale">
                    <div class="text-center">
                    
                    <h3 class="font-weight-bold">1. ACTIVATE BOOK.</h3> 
                    </div>
                    </div>
                    
                <hr>
                
                <div class="video-holder">

<iframe src="https://www.youtube.com/embed/U3d0FqrDa90?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>


<hr>



                            <br>

                     <div class="section2 grey-scale">
                    <div class="text-center">
                    
                    <h3 class="font-weight-bold">2. PAYMENT PAGE.</h3> 
                    </div>
                    </div>
                    
                <hr>
                
                <div class="video-holder">


<iframe src="https://www.youtube.com/embed/bzkPjCrEwnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>


<hr>


                      <div class="section2 grey-scale">
                    <div class="text-center">
                    
                    <h3 class="font-weight-bold">3. LOGIN PAGE.</h3> 
                    </div>
                    </div>
                    
                <hr>
                
                <div class="video-holder">
                       
                        <iframe src="https://www.youtube.com/embed/D1Qfw7NvaVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>



<hr>


                     <div class="section2 grey-scale">
                    <div class="text-center">
                    
                    <h3 class="font-weight-bold">4. READING AND SECURITY FEATURES.</h3> 
                    </div>
                    </div>
                    
                <hr>
                
                <div class="video-holder">
                        

                    <iframe src="https://www.youtube.com/embed/zWDLUMdIWvw?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                    </div>
                    


</div>


    



<div class="col-md-4">






        <p><i>Business model</i> ya OBG inamuwezesha mtu yeyote kutangaza biashara yake ya vitabu kwa gharama ndogo. </span></p>

<h2><u><span style="font-size:18px"><strong>Malengo na Maono</strong></span></u></h2>


<p>Japokuwa vipo vitabu kwa lugha mbali mbali, lengo kuu ni kusaidia jamii inayozungumza lugha ya Kiswahili kujifunza siri ya mafanikio iliyojificha ndani ya maandishi. Tunafanya hivyo kwa kusaidia waandishi wa vitabu kufikia malengo yao na kuishi maisha bora kupitia fursa ya biashara ya ujasiriamali na bidhaa kwa njia ya mtandao. Pia tnafanya hivyo kwa kuwezesha watu wote wasomi na wasio wasomi kupata elimu na ufahamu wa dunia na mbinguni kwa njia ya maandishi.</p>



<p>Maono yetu ni kuongoza tasnia ya uandishi na uuzaji wa vitabu vya kiswahili mtandaoni, kwa kutumia nafasi hii iwe website yenye maadili mazuri, inayoaminika na kufanya kazi kwa weledi wa hali ya juu afrika na duniani kwa ujumla</p>

<h2><u><span style="font-size:18px"><strong>Malengo na Maono</strong></span></u></h2>


<h3><span>Mipango yetu</span></h3>
<hr>
<p>Mipango yetu ni kuifanya website itoe bidhaa na huduma za kiwango cha ubora kwa wateja wetu wote, na dhamira yetu ni kufanya bidhaa zetu kuwa sehemu ya maisha yao ya kila siku. Biashara endelevu na nguvu ya kudumu ya mapato halisi inapatikana kwa kila Mwandishi wa OBG anayeendeleza na kufanya kazi kwa vitendo. </p>
    <P>Mbinu ya ushindi kwa waandishi wa vitabu itapatikana kwa kuzingatia mambo yafuatayo;<span> TANGAZA, RUDIA, ONGEZEKA na Dumisha</span></p>

        
                
                        <h4><span style="font-size:14px"><strong>TANGAZA</strong></span></h4>
                                                <div class="line-sep"></div>
<p> Tangaza biashara yako mara kwa mara bila kuchoka kwa kutumia njia mbali mbali. Kwa kufanya hivyo sio tu utaongeza mauzo bali pia utasaidia watu wengi  kupata huduma yako.</p>
                    <!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>   -->
                    <img src="{%static 'accounts/img/safront5.jpg'%}" class="img-responsive" alt=""'>   
                    


                    
                        <div class="course-image bottom-in">
                            <h4><span style="font-size:14px"><strong>RUDIA</strong></span></h4>
                                                        <div class="line-sep"></div>
<p> Ili ufanikiwe katika maisha jenga utamaduni wa kurudia bila kuchoka. Kumbuka unapokumbana na changamoto ndipo unapofungua mlango mwingine wa mafanikio</p>
    
                            <img src="{%static 'accounts/img/safront6.jpg'%}" class="img-responsive" alt=""'>   
                                <!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>-->
                        </div>
             
                                        
                                        
                        <div class="course-image bottom-in">
                                <h4><span style="font-size:14px"><strong>Ongezeka</strong></span></h4>
                                                                <div class="line-sep"></div>
<p>Kwa kila unachokifanya hakiksha unaongezeka na kukua. Tumia au badili mbinu pale unapoona  mafanikio yako ya maisha hayaongezeki. Weka malengo pambana ili uyafikie kwa wakati.</p>
                            <img src="{%static 'accounts/img/safront7.jpg'%}" class="img-responsive" alt=""'>   
                                <!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>-->
                        </div>
                  
                                        
                                        
                        <div class="course-image bottom-in">
                                <h4><span style="font-size:14px"><strong>Dumisha</strong></span></h4>
                                                                <div class="line-sep"></div>
<p>Usikubali kupoteza ulichokizalisha. Jifunze namna ya kudumisha mafanikio yako ili mwisho wa siku uweze kurithisha watoto wako.</p>

                            <img src="{%static 'accounts/img/safront8.jpg'%}" class="img-responsive" alt=""'>   
                                <!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>-->
                        </div>
                    
            
        
     
     
      {% endblock %}   
        
       