<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

    <main class="main-wrapper">
        
        <aside class="left-sidebar">
           

             <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="top-ul">                       
                        <li class="nav-small-cap">MENU</li>
                        <li><a href="" class="active">WEBSITE</a>  
                            
                            
                        </li>
            
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
             </div>
                
    
                
        </aside>
  
    <div class="main-section">
        <div class="container">


            <div id="linkintro">
                <h3>Hii page ni kwa ajili ya waandishi wa vitabu (<i>authors</i>) wanaotaka kutangaza na kuuza vitabu vyao kwenye mtandao wetu</h3>
                         
                            <h3>Video hapo chini zitakuonyesha mfumo ulivyo na namna ya kuutumia. Tafadhali angalia video zote kwani zitajibu maswali yako mengi, tembelea page hii kila wakati kwani video zaidi zitawekwa. Kama kuna swali usisite kuniuliza. Nipigie simu nambari 0653397942, jina OB. </h3>

                            <br>

                     <div class="section2 grey-scale">
                    <div class="text-center">
                    
                    <h3 class="font-weight-bold">1. PAYMENT PAGE.</h3> 
                    </div>
                    </div>
                    
                <hr>
                
                <div class="video-holder">


<iframe src="https://www.youtube.com/embed/bzkPjCrEwnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>


<hr>


                      <div class="section2 grey-scale">
                    <div class="text-center">
                    
                    <h3 class="font-weight-bold">2. LOGIN PAGE.</h3> 
                    </div>
                    </div>
                    
                <hr>
                
                <div class="video-holder">
                       
                        <iframe src="https://www.youtube.com/embed/D1Qfw7NvaVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>



<hr>


                     <div class="section2 grey-scale">
                    <div class="text-center">
                    
                    <h3 class="font-weight-bold">3. READING AND SECURITY FEATURES.</h3> 
                    </div>
                    </div>
                    
                <hr>
                
                <div class="video-holder">
                        

                    <iframe src="https://www.youtube.com/embed/zWDLUMdIWvw?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

reading and security features
                    </div>
                    





    </div>

            
    



        </div>
    
</main>
     
     
      {% endblock %}   
        
       