<!DOCTYPE html>
<html lang="en">
    
{% extends 'base2.html' %}
{% load static %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

    <main class="main-wrapper">
        
        <aside class="left-sidebar">
           

             <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="top-ul">                       
                        <!-- <li class="nav-small-cap">MENU</li>
                        <li><a href="" class="active">WEBSITE</a>  
                             -->
                            
                       
            
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
             </div>
                
    
                
        </aside>
  
    <div class="main-section">
        



        <div class="container">




            <div class="row">




                <div class="col-md-4">


    

        <h2>
                                           
                                        <span class="caps"><a class="btn btn-info "href="{% url 'home:chat'%}" role="button">VITABU VYANGU &raquo;</a></span>
                                        </h2>
                
                        
                                                <div class="line-sep"></div>
<p> Bonyeza Vitabu vyangu hapo juu kufungua Ofisi yako uweze kuona na kusoma vitabu ulivyokwisha nunua(online books). <span>Kama bado haujanunua kitabu chochote ukurasa huu hautafunguka.</span></p>
                    <!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>   -->
                    <img src="{%static 'accounts/img/safront5.jpg'%}" class="img-responsive" alt=""'>   
                    


                    
      
                                        
                                        
                        
                                        
                                        
                       
</div>






<div class="col-md-4">


    

        
                
                         <span class="caps"><a class="btn btn-info "href="{% url 'accounts:index'%}" role="button">GIS &raquo;</a></span>
                                        </h2>
                                     <div class="line-sep"></div>   
<p> Soma GIS (Geographical Information Systeam) kwa njia ya mtandao kisha pata certificate yako, itakayokuwezesha kupata kazi mahala popote duniani.</p>
                    <!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>   -->
                    <img src="{%static 'accounts/img/safront5.jpg'%}" class="img-responsive" alt=""'>   
                    
                                      
                       
</div>









<div class="col-md-4">


    

        
                
                      <span class="caps"><a class="btn btn-info "href="{% url 'accounts:index'%}" role="button">HIMAYA &raquo;</a></span>
                                                <div class="line-sep"></div>
<p> Je wewe ni mjasiriamali unayetamani kujenga imaya yako, tembelea ukurasa wetu huu hapo juu, utajifunza mengi na kupata fursa ya kibiashara. </p>
                    <!--<img src="{%static 'img/i.jpg'%}" class="img-responsive" alt=""'>   -->
                    <img src="{%static 'accounts/img/safront5.jpg'%}" class="img-responsive" alt=""'>   
                    


                    
      
                  
                                        
                                        
                        
</div>












</div>








<!-- Container -->
</div> 


        

    </div>                
            
        </main>
     
     
      {% endblock %}   
        
       