<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    <meta name="description" content="English Language for Advances Level Certificate">
    <meta name="keywords" content= "vitabu, tanzania, nunua vitabu, authors,books, reading, books online, research, material, library, east africa, read, africa, swahili, book business, book projects, publish">
    
{%endblock%}



 {% block body %}

	<main class="main-wrapper">
		
		
		





	<div class="main-section">
		<div class="container">
			<div id="test" onmousedown='return false;' onselectstart='return false;'>

<a href="{% url 'home:index'%}">Items</a>
<a href="{% url 'accounts:logout'%}">Home</a>
				<h1 class="topic-title">GIS KWA MAENDELEO YA TANZANIA</h1>

	

			
				
                         
                            <hr>
                            <p><span>ISBN </span>


				
				<hr><hr> 
	        
                     <h3><a name="yaliyomo">YALIYOMO</a></h3>

						
						<div class="line-sep"></div>
						<div>

						<p><a href="#ufupi">KITABU KWA UFUPI</a></p>
						<P><a href="#shukran">SHUKURANI</a>	</P>
						<P><a href="#utangulizi">UTANGULIZI	</a></P>
						<P><a href="#madhara">TAARIFA ZA KIJIOGRAFIA NA ZISIZO ZA KIJIOGRAFIA</a></P>	
						<P><a href="#sayahasira">MFUMO WA GIS</a></P>
						<P><a href="#sayamsukumo">KWA NINI GIS SASA?</a></P>
						<P><a href="#ugonjwa">TOFAUTI KATI YA GIS NA GPS</a>	</P>
						<P><a href="#vyanzo">TOFAUTISHA KATI YA GIS NA IT</a></P>
						<P><a href="#mapenzi">SEKTA ZINAZOWEZA KUTUMIA MFUMO WA GIS</a></P>
						<P><a href="#namna">FAHAMU GIS KWA MIFANO.</a></a></P>
						<P><a href="#ujasiriamali">JINSI YA KUWEKA MFUMO WA GIS KWENYE TAASISI</a></P>
						<P><a href="#burenunua">MFUMO WA BURE NA MFUMO WA KUNUNUA</a>	</P>
						<P><a href="#hitimisho">HITIMISHO</a>	</P>


<hr><hr> 
				 

				 <h3><a name="ufupi"></a></h3>

				 <h3>KITABU KWA UFUPI.</h3>
			
				 
				

	<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
	<hr>
<h3><a name="shukran"></a></h3>
			<h3>SHUKRANI</h3>
			<div class="line-sep"></div>
			
			weka hapa

                   		<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
                   		<hr>

			<h3><a name="utangulizi"></a></h3>

					<div class="text-center">
						<h2>SURA YA KWANZA</h2>

						<h3>UTANGULIZI</h3>
					</div>	
				
			weka hapa


<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




<h3><a name="madhara"></a></h3>

<div class="text-center">
<h2>SURA YA PILI</h2>

			<p><span>TAARIFA ZA KIJIOGRAFIA NA ZISIZO ZA KIJIOGRAFIA</span></p>
			
	</div>		
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>

<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3><a name="sayahasira"></a></h3>

<div class="text-center">
<h2>SURA YA TATU</h2>
<br>
			<h3>MFUMO WA GIS</h3>
			
	</div>
			
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>
 
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



 

<h3><a name="sayamsukumo"></a></h3>
<div class="text-center">
<h2>SURA YA NNE</h2>

			<h3>KWA NINI GIS SASA?</h3>
			
	</div>
			
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>


<hr>

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3><a name="ugonjwa"></a></h3>
<div class="text-center">
						<h2>SURA YA TANO</h2>

									<h3>TOFAUTI KATI YA GIS NA GPS</h3>
									
							</div>

<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>

<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<h3><a name="vyanzo"></a></h3>	
<div class="text-center">
						<h2>SURA YA SITA</h2>

									<h3>TOFAUTISHA KATI YA GIS NA IT</h3>
									
							</div>

<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>














<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3><a name="mapenzi"></a></h3>
<div class="text-center">
						<h2>SURA YA SABA</h2>

									<h3>SEKTA ZINAZOWEZA KUTUMIA MFUMO WA GIS</h3>
									
							</div>
							<br><br>
	
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>


<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<hr>	
	
<h3><a name="namna"></a></h3>
<div class="text-center">
						<h2>SURA YA NANE</h2>

									<h3>FAHAMU GIS KWA MIFANO</h3>
									
							</div>
							<br><br>
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<h3><a name="ujasiriamali"></a></h3>


<div class="text-center">
						<h2>SURA YA SABA</h2>
									<h3>JINSI YA KUWEKA MFUMO WA GIS KWENYE TAASISI</h3>
							</div>
							<br><br>



<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<hr>


<hr>
<h3><a name="burenunua"></a></h3>
<div class="text-center">
						<h2>SURA YA KUMI</h2>
									<h3>MFUMO WA BURE VS WA KUNUNUA.</h3>
							</div>
							<br><br>

<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>


<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr>
<h3><a name="hitimisho"></a></h3>
<div class="text-center">
						<h2>SURA YA KUMI NA MOJA</h2>
									<h3>HITIMISHO NA MAPENDEKEZO.</h3>
							</div>
							<br><br>


<div class="text-center">
	<h2>***</h2>
<p>Tanzania Tanzania nakupenda kwa moyo wote.</p>
<h1>MWISHO</h1>
</div>

<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>
	<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
						</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br>				
			</div>


		</div>
	
</main>
     
     
      {% endblock %}   
        
       