
{% extends 'base2.html' %}
{% load static %}

   {% block body %}
         



      
      
      
      
       <main class="page-wrapper">
		<div class="page-header">
		</div><div class="jumbotron">
			<div class="page-conten container mt-50">
				<div class="row">

					
                                        
                                        <div class="col-md-12 col-sm-12">
                                                  <hr>
                                                  <h1>Wasiliana na Muandishi.</h1> 
                                                  <br>
                                                 
                                                 <h2>Jaza Jina lako na jina la kitabu unachotaka kununua</h2> 
                                    
                                                 
						 <hr>  
					</div>
                                       
                                        <br><br>
                                        
                                        <div class="col-md-8">
						

						


						<div class="row">
							<div class="col-md-10 col-sm-12">
								<div class="alert alert-danger">
									<div class="form">
                                                                        <form method="post">

                                                                        {% csrf_token%}
                                                                        {{form.as_p}}
                                                                    
                                                                    
                                                            <button type="submit" class="btn btn-success block btn-login">
										 	Send </button>
                                                                            </form>





                                                                        
								</div>
							</div>
						</div>


								
							</form>
						</div>
					</div>



					<div class="col-md-4">
						
						  <img src="{%static 'accounts/img/logpic2.jpg'%}" class="img-responsive" alt=""'>
						<hr>


						<h3>
							<a href="http://gis4life.pythonanywhere.com/" target="_blank">GIS ONLINE</a> 
						</h3>

						<p>
							Become GIS pro within a short period of time.
						</p>
						<hr>



						<h3>
							Build your Empire
						</h3>

						<p class="mb-20">
							Are you an enterpreneur. Do you want to build your Empire? Contact us. Thanks
						</p>
						
					</div>
				</div>
			</div>
	</main>

   {% endblock %}
