<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

	<main class="main-wrapper">
		
		
		





	<div class="main-section">
		<div class="container">
			<div id="test" onmousedown='return false;' onselectstart='return false;'>

<a href="{% url 'home:index'%}">Items</a>
<a href="{% url 'accounts:logout'%}">Home</a>
				<h1 class="topic-title">HASIRA</h1>

	

			
				
                         
                            <hr>
                            <p><span>ISBN 978-9976-5 1612 8</span>
<P>Kazi hii inalindwa na sheria ya  umiliki ya Jamuhuri ya Muungano wa Tanzania. Haki zote zimehifadhiwa, hairuhusiwi kuiga, kunakili au kutoa kopi
ya kitabu hiki kwa njia yeyote ile bila ya idhini ya mwandishi.</P>
<P>Yaliyomo kwenye kitabu hiki yanaweza kubadilika wakati wowote bila taarifa.</P>
<P>Unaweza kupata kopi ya kitabu hiki kwa kupiga simu nambari +255653397942 au kupitia e mail ifuatayo;  obmsuya@yahoo.com.</P>

<P>Kitabu Kimeandikwa na <span>Overblessing Msuya. </P>
<P>Cover ya kitabu imetengenezwa na: <span>Overblessing Msuya.</span></P>
<P>Kimehaririwa na: 	<span>Grace Msuya na Goodluck Mghonu</span></P>
<P>Kimepigwa chapa na: <span>Zanur General Enteprises.</span></P>

				
				<hr><hr> 
	        
                     <h3><a name="yaliyomo">YALIYOMO</a></h3>

						
						<div class="line-sep"></div>
						<div>

						<p><a href="#ufupi">KITABU KWA UFUPI</a></p>
						<P><a href="#shukran">SHUKURANI</a>	</P>
						<P><a href="#utangulizi">UTANGULIZI	</a></P>
						<P><a href="#madhara">TAARIFA ZA KIJIOGRAFIA NA ZISIZO ZA KIJIOGRAFIA</a></P>	
						<P><a href="#sayahasira">MFUMO WA GIS</a></P>
						<P><a href="#sayamsukumo">KWA NINI GIS SASA?</a></P>
						<P><a href="#ugonjwa">TOFAUTI KATI YA GIS NA GPS</a>	</P>
						<P><a href="#vyanzo">TOFAUTISHA KATI YA GIS NA IT</a></P>
						<P><a href="#mapenzi">SEKTA ZINAZOWEZA KUTUMIA MFUMO WA GIS</a></P>
						<P><a href="#namna">FAHAMU GIS KWA MIFANO.</a></a></P>
						<P><a href="#ujasiriamali">JINSI YA KUWEKA MFUMO WA GIS KWENYE TAASISI</a></P>
						<P><a href="#burenunua">MFUMO WA BURE NA MFUMO WA KUNUNUA</a>	</P>
						<P><a href="#hitimisho">HITIMISHO</a>	</P>


<hr><hr> 
				 

				 <h3><a name="ufupi"></a></h3>

				 <h3>KITABU KWA UFUPI.</h3>
				 <div class="line-sep"></div>
				 
				<P>Kitabu hiki kina jumla ya page 123,  kinaelezea maana ya mfumo wa GIS, kikiwa na malengo makubwa mawili; Kwanza, kuleta uelewa kwa watu wote, wasomi na wasiosoma, kuhusu mfumo wa GIS na pili, kuishawishi Serikali ya Tanzania ili ijikite katika mfumo huu kwani utasaidia kuleta maendeleo katika sekta zote. Ili kuyafikia malengo hayo, imetumika lugha na mifano mepesi katika kuelezea umuhimu na mahusiano ya mfumo wa GIS na maisha yetu ya kila siku. Kitabu hiki ni mwanzo wa ujio wa vitabu vingine  vitakavyoelezea kwa undani zaidi kuhusu mfumo wa GIS.</p>
<P>Ni wazi kwamba nchi haita weza kuendelea bila kujikita kwenye matumizi ya mifumo ya kidigitali kwani kazi za maendeleo ni ngumu, nyingi na zinafanyika katika mazingira magumu na yanayobadilika mara kwa mara. Ugumu huu wa mazingira na mabadiliko ya kila mara yanapelekea binadamu kushindwa kupata majibu ya changamoto zinazojitokeza wakati wa utendaji wa shughuli za maendeleo. Ili Kupambana na changamoto hizi nchi haina budi kufikiria nje ya boksi na kuanza kutumia mifumo yenye uwezo mkubwa wa kutatua matatizo kwa ufanisi, mifumo iliyohakikiwa na ya uhakika zaidi ukilinganisha na mifumo iliyozoeleka huko nyuma. </p>
<P>Maendeleo yanatokana na  maamuzi mazuri ya viongozi wetu lakini ili waweze kutoa maamuzi mazuri ni lazima wapate ufahamu wa kutosha kuhusu jambo wanaloenda kulitolea maamuzi. Ufahamu wa kutosha utafikiwa pale ambapo viongozi watapata taarifa zilizo kamili, za hakika na kwa wakati. Kwasababu ufahamu wa kutosha unatokana na upatikanaji wa taarifa basi taifa halina budi kujikita kwenye utambuzi wa maeneo yake pamoja na kuweka utaratibu endelevu wa kuhuisha(update) hizo taarifa kila zinapobadilika na kuongeza mpya kila zinapojitokeza. </p>
<P>Mfumo wa GIS una uwezo wa kutambua,  kuchanganua, kuhusisha pamoja na kuonyesha maeneo vilipo vitu pamoja na tabia na mahali yanapotokea matukio. Mfumo huu utaviwezesha vyombo mbali mbali vya serikali kupata taarifa na kujua kwa kina tabia za mazingira, mahusiano pamoja na mahali vitu vilipo kote nchini. Taarifa hizi  zitawawezesha viongozi pamoja na wafanyakazi kwa ujumla kufanya maamuzi kwa uhakika  na kwa wakati na hivyo kupunguza gharama pamoja na muda  wa utekelezaji wa shughuli za maendeleo. Mfumo wa GIS umebadilisha kabisa jinsi ambavyo changamoto zinatatuliwa na hivyo kuwa mfumo usioweza kuepukika. Kwa hakika nchi itakayojikita vizuri kwenye mfumo huu itapata maendeleo kwa haraka zaidi.</p>
<P>Kitabu hiki kinatoa mwanga kuhusu mfumo wa GIS na ni wajibu wa kila mtu kukisoma na kukielewa ili tuendeleze taifa letu na tuwe mfano mzuri kwa mataifa mengine Afrika na Duniani kote.</p>

	<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
	<hr>
<h3><a name="shukran"></a></h3>
			<h3>SHUKRANI</h3>
			<div class="line-sep"></div>
			
			<p>Wazo la kuandika kitabu hiki limetokana na changamoto nilizozipata wakati nashawishi taasisi za serikali na makampuni binafsi  kutumia mfumo wa GIS. Nilijikuta  natumia nguvu nyingi sana kwa matokeo madogo. Baada ya kutafakari kwa kina ndipo nikagundua kwamba, tatizo sio ubishi wa watu bali ni upya wa mfumo, unaofanya jamii ya kitanzania kuwa na ufahamu mdogo kuhusu mfumo wa GIS. Baada ya kupata majibu ya changamoto ndipo nikaanza kutafuta mbinu za kupaza sauti kuhusu mfumo wa GIS, mara wazo la kuandika kitabu likanijia.</p>
<p>Kwanza kabisa napenda kumshukuru mungu kwa kunipa nguvu pamoja na maarifa ya kuandika kitabu hiki. Lakini pia napenda kuwashukuru wale wote walinionyesha wazi kutofahamu umuhimu wa mfumo wa GIS, hali ambayo iliopelekea wazo la kuandika hiki kitabu. Lakini pila napenda kuwashukuru wale ambao walifanya juhudi za makusudi kabisa kupinga mfumo wa GIS kwa hofu ya mabadiliko na faida binafsi kwani pingamizi zao zimekuwa chachu ya kuandika hiki kitabu.</p>
<p>Napenda kupeleka shukrani zangu za dhati kwa mke wangu ambaye amekuwa akinipa moyo sana, kwa kuniambia "unaweza" lakini pia kwa kunishangaa pale nilipokuwa nataka kukata tamaa. Napenda kutoa shukrani zangu za dhati kwa watoto wangu Brayden pamoja na Whitney kwa kuweka michezo mbali na kunikubalia kufanya kazi, bila kusahau madai yao ya zawadi za kila Mara, madai yaliyonifanya niwekee bidii kwenye uandishi wa kitabu.</p>
<p>Kitabu hiki kisingeweza kufika hapa bila msaada wa ndugu na jamaa pamoja na makampuni mbali mbali kwa misaada yao ya hali na mali katika kufanikisha safari hii. Kipekee ningependa kushukuru kampuni ya Merrylight Tophair Limited kwa misaada wao ya kifedha kwa kipindi chote cha uandaaji, uchapishaji pamoja na usambazaji wa kitabu hiki.</p> 
<p>Mwisho kabisa shukrani za dhati ziwafikie wafanyakazi wenzangu wa Tume ya Taifa ya Uchaguzi (NEC), Chuo Kikuu cha Ardhi pamoja na watanzania wote kwa ujumla kwa kunisaidia katika kuongeza uwezo na  maarifa ya mfumo wa GIS. Asanteni</p>


                   		<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
                   		<hr>

			<h3><a name="utangulizi"></a></h3>

					<div class="text-center">
						<h2>SURA YA KWANZA</h2>

						<h3>UTANGULIZI</h3>
					</div>	
				
			<p>TANZANIA INA MALENGO ya kuwa nchi ya viwanda na kuwa katika uchumi wa kati ifikapo mwaka 2025. Adhma ya Raisi wa awamu ya tano Dr John Pombe Magufuli kuifikisha Tanzania katika uchumi wa kati itachangiwa sana na ukuaji na matumizi ya Teknolojia mbali mbali za kisasa. Teknolojia zina mchango mkubwa sana katika ukuaji wa uchumi kwani zinataliwezesha taifa kufikia malengo yake kwa haraka na kwa gharama ndogo. Pia, teknolojia itasaidia kutengeneza wataalam ambao ni hazina kubwa kwa nchi na dunia yote kwa ujumla. Ni wazi na ukweli usiopingika kwamba nchi itakayowekeza kwenye teknolojia za kisasa  itapata maendeleo ya kiuchumi kwa haraka zaidi.</p>
<p>Tunaishi nyakati ambazo mabadiliko makubwa ya mifumo hutokea kila mara. Mabadiliko haya yanayotokana na ubunifu unaoleta matokeo makubwa kwa muda mfupi na kwa gharama ndogo. Tumeshuhudia mabadiliko kutoka kwenye matumizi ya karatasi  (analogia) na kuelekea kwenye matumizi ya mitandao (kidigitali). Mabadiliko haya yanarahisisha usimamizi na utendaji wa kazi pamoja na utoaji wa maamuzi.
Kupata taarifa sahihi na kamilifu ni nguzo muhimu sana kwenye maendeleo ya nchi kwani taarifa ni nguvu (information is power). Upatikanaji wa taarifa zilizo sahihi na kamilifu zitasaidia viongozi katika sekta mbali mbali kutoa maamuzi yaliyo sahihi na kwa haraka zaidi. Taarifa ni kamilifu endapo itakuwa na taarifa zote yaani taarifa za kijiografia na na taarifa zisizo za kijiografia. Mfumo pekee wenye uwezo wa kuchakata taarifa za kijiografia na zisizo za kijiografia kwa wakati mmoja ni mfumo wa GIS (Geografical Information System).</p>
<p>Kwa kifupi, kitabu kinaeleza mambo yafuatayo; maana ya mfumo wa GIS na sababu za serikali kujikita katika mfumo wa GIS. Pia, kwa kutambua sinto fahamu iliyopo kati ya mfumo wa GIS na IT, kitabu hiki kinachambua na kueleza tofauti na  mahusiano yaliyopo katika mifumo hii miwili. Pia kitabu kinatoa maelezo yatakayoziwezesha taasisi za serikali na makampuni binafsi kuweka mfumo wa GIS wenye faida. Pia, kitabu kinaeleza na kuongelea sekta 31 ambazo zinaweza kutumia mfumo wa GIS. Mwisho kabisa kitabu kinatoa mapendekezo ya nini kifanyike ili mfumo wa GIS uweze kuletea maendeleo nchini TANZANIA. </p>
 


<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<br>

<br>
      
      
</div>







<br><br>
<h3><a name="madhara"></a></h3>

<div class="text-center">
<h2>SURA YA PILI</h2>

			<p><span>TAARIFA ZA KIJIOGRAFIA NA ZISIZO ZA KIJIOGRAFIA</span></p>
			
	</div>		
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>

<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3><a name="sayahasira"></a></h3>

<div class="text-center">
<h2>SURA YA TATU</h2>
<br>
			<h3>MFUMO WA GIS</h3>
			
	</div>
			
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>
 
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



 

<h3><a name="sayamsukumo"></a></h3>
<div class="text-center">
<h2>SURA YA NNE</h2>

			<h3>KWA NINI GIS SASA?</h3>
			
	</div>
			
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>


<hr>

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3><a name="ugonjwa"></a></h3>
<div class="text-center">
						<h2>SURA YA TANO</h2>

									<h3>TOFAUTI KATI YA GIS NA GPS</h3>
									
							</div>

<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>

<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<h3><a name="vyanzo"></a></h3>	
<div class="text-center">
						<h2>SURA YA SITA</h2>

									<h3>TOFAUTISHA KATI YA GIS NA IT</h3>
									
							</div>

<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>














<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3><a name="mapenzi"></a></h3>
<div class="text-center">
						<h2>SURA YA SABA</h2>

									<h3>SEKTA ZINAZOWEZA KUTUMIA MFUMO WA GIS</h3>
									
							</div>
							<br><br>
	
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>


<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<hr>	
	
<h3><a name="namna"></a></h3>
<div class="text-center">
						<h2>SURA YA NANE</h2>

									<h3>FAHAMU GIS KWA MIFANO</h3>
									
							</div>
							<br><br>
<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


<h3><a name="ujasiriamali"></a></h3>


<div class="text-center">
						<h2>SURA YA SABA</h2>
									<h3>JINSI YA KUWEKA MFUMO WA GIS KWENYE TAASISI</h3>
							</div>
							<br><br>



<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<hr>


<hr>
<h3><a name="burenunua"></a></h3>
<div class="text-center">
						<h2>SURA YA KUMI</h2>
									<h3>MFUMO WA BURE VS WA KUNUNUA.</h3>
							</div>
							<br><br>

<br><br><br><br><br>
<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>


<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr>
<h3><a name="hitimisho"></a></h3>
<div class="text-center">
						<h2>SURA YA KUMI NA MOJA</h2>
									<h3>HITIMISHO NA MAPENDEKEZO.</h3>
							</div>
							<br><br>


<div class="text-center">
	<h2>***</h2>
<p>Tanzania Tanzania nakupenda kwa moyo wote.</p>
<h1>MWISHO</h1>
</div>

<div class="text-center">
<p><spanb>LIPA UWEZE KUONA SURA HII</spanb></p>
</div>
	<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
						</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br>				
			</div>


		</div>
	
</main>
     
     
      {% endblock %}   
        
       