
<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

 <div id="navbar">
  <a class="active" href="#yaliyomo">Yaliyomo</a>

</div>

	<main class="main-wrapper">
	

	<div class="main-section">
		<div class="container">
			<div id="test" onmousedown='return false;' onselectstart='return false;'>

<a href="{% url 'home:index'%}">Items</a>
<a href="{% url 'accounts:logout'%}">Home</a>
<hr>
				<h1 class="topic-title">GIS PROJECT</h1>

</div>
      

<h2><a href= "{%static 'accounts/img/proposal1.pdf'%}"target="_blank"> DOWNLOAD HERE</a></h2>			




<h3><a name="yaliyomo"></a></h3>



</div>
<hr>

<div class="container">




<button class="collapsible">YALIYOMO</button><div class="content">
	<ul>
			<p><span><a href="#shukuru">WAMILIKI WA PROJECT</a></span></p>
			<p><span><a href="#ufupi">MAELEZO MAFUPI YA PROJECT.</a></span></p>

<p><span><a href="#utangulizi">JINA LA PROJECT</a></span></p>
			
<p><span><a href="#madhara">MALENGO YA PROJECT</a></span></p>

<p><span><a href="#sayahasira">MIONGOZO YA PROJECT</a></span></p>
<p><span><a href="#ist">WADAU WA PROJECT</a></span></p>

<p> <span><a href="#mnma">MASWALI NA MAJIBU</a></span></p>


</ul>
</div>

<hr>						
						



				 <h3><a name="shukuru"></a></h3>

				 <h3>WAMILIKI WA PROJECT</h3>
			
<p>Hii ndio orodha ya wadau katika project ya GIS
<ul>
<p><span>1. Jackson Mkufya (Jacko)</span> - Kazi TBC, just completing my MsGis Dissertation Udsm
<p><span>2. Gido Laswai-</span> (masGIS Cartography Technician
<p><span>3. Naitwa Andrew Gondwe</span>- Carographer/GIS, NBS Dodoma
<p><span>4. Michael Joachim Swai</span>
<p><span>5. Anastacia Ndimbo-</span> GIS Specialist, Tanzania Geothermal,   Subsidiary company ya Tanesco
<p><span>6. Overblessing Msuya-</span> Gov employee and part time lecturer Ardhi Univ.
<p><span>7. Peter Myegeta (Peter)</span>- East Africa Crude Oil Pipeline project (EACOP)
<p><span>8. Mvano Rashidi(Chidy)</span>- Gis Analyst/Programmer  Freelancer ,  part time As Data Conversion staff ILMIS
<p><span>9. Emmanuel Maziku (babu maziku)</span>- on going Gis student, Coyesa company limited kama Gis and administration personnel.
<p><span>10. Ramadhani Hassagele(Rama)</span>- Fully Registered Town Planner
<p><span>11. INNOCENT JAPHETLIKA(one step)</span>- MSc. GIS  UDSM, Mbeya (Mwalimu, government secondary school)
<p><span>12. Daniel Sifael</span>-Gudent apo udsm..
<p><span>13. Ali Issa</span>-Evironmental and GIS expert, Zanzibar Environmental Management Authority.
<p><span>14. Grace Chitanda(tanda)</span>- Hydrologist Lake Rukwa Basin Water Board
<p><span>15. Amosi Edward Choye</span>-mapping officer(GIS) from temeke municipal councils,
<p><span>16. Erimina Massawenya-</span> Kazi Ardhi University, Pamoja na hayo yote ni PhD student at UDSM Geography department
<p><span>17. Mohamed Zahran ekioshi)-</span> nafanya kazi kama Mwakilishi wa Teknolojia (Mwatekilishi),Mradi wa Huduma za Miji Zanzibar (ZUSP)
<p><span>18. Pamela Twalangem(Pam))</span>-MSc. GIS Student Udsm.
</ul>
<hr> 
				 

				 <h3><a name="ufupi"></a></h3>

				 <h3>MAELEZO MAFUPI YA PROJECT.</h3>
				 
				 
			<p>Project itahusisha wanafunzi wa vyuo vyote. Kila mwanafunzi atapatiwa fursa  ya kujiunga na kusoma kitabu cha GIS kilichoandikwa kwa lugha ya kiswahili (mtandao), kwa gharama ndogo sana  ya shilingi alfu 2000 tu, kisha watapimwa kwa njia ya mtihani (mtandao). </p> 

				<p>Wanafuzi kumi wa kwanza watalipiwa ada ya shule, miaka miwili kama ni shahada ya pili na miaka minne kama ni shahada ya kwanza au diploma. Wanafunzi wengine arobaini wanaofuata watapewa fursa ya kusoma bure GIS (mtandao) kwa ajili ya kupata cheti.</p>

	<hr>

			<h3><a name="utangulizi"></a></h3>


						<h2>JINA LA PROJECT</h2>
				
				<br>
			
<p>Haya ndio mapendekezo
	<ul>
<p>1. GIS kwa maendeleo ya Tanzania <span>(GMT Project)</span>
<p>2. Soma kuza kiswahili kwa maendeleo ya Tanzania <span>(SOKIMAT Project)</span>
<p>3. Jifunze GIS kwa maendeleo ya Taifa <span>(JGMT Project)</span>
<p>4. Learning Swahili & GIS <span>(Learning Swa-GIS Project)</span>
</ul>



<hr>

<h3><a name="madhara"></a></h3>




			<h2>MALENGO YA PROJECT</h2>
			
			
				 
				 
<p>Project  ina malengo makubwa manne;
<ul> 
<p>1.Kufahamisha uma kuhusu umuhimu wa mfumo wa GIS 
<p>2. kuchochea hamu ya  kupenda kusoma.
<p>3. Kutangaza lugha ya kiswahili.
<p>4. Kutangaza elimu ya mtandao.
</ul>

<hr>

<h3><a name="sayahasira"></a></h3>




			<h2>MIONGOZO YA PROJECT</h2>
			
	
	<br>
<ul>			
<p>1. Project itakuwa chini ya chini ya OBG Company Limited.
<p>2. Gharama zote za project zitatokana na project yenyewe kwa maana hiyo ni kwamba kampuni haitaingiza pesa yeyote kwenye hii project.
<p>3. Vile vile kampuni haitachukua pesa yeyote itakayotokana na project hii. 
<p>4. Pesa zote zitakazopatikana katika project hii zitakuwa ni mali ya project na zitagawanywa kwa washiriki kutokana na vigezo vitakavyoviweka na sisi wenyewe.
<p>5. Gharama zote zitajadiliwa na kamati husika kisha kuwasilishea kwa wajumbe wote kabla  malipo hayajafanyika.
<p>6. Mwisho wa siku washiriki watalipwa kutokana na mchango wao katika kufanikisha hii project. Formular ya malipo itatengenezwa na sisi wenyewe.

 </ul>

<hr>



<hr>

<h3><a name="ist"></a></h3>




			<h2>WADAU WA PROJECT</h2>
			
	
	<br>
	<p>Hii ndio listi ya Wadau ( Stakeholders) waliopatikana.
<ul>			
<p>1. Wanafunzi wa vyuo- watahusika ku register na kusoma kitabu kwa lengo la kupata scholarshi na zawadi zingine.
<p>2. Wizara ya elimu-
<p>3. TUKI - Taasisi ya uchunguzi wa Kiswahili
<p>4. Ardhi University na
<p>5. University of Dar es Salaam, 
<p>6. University of Bagamoyo, 
<p>7. Institute of Rural development planning
<p>8.  Costec
<p>9. Ministry ya education or TCU
<p>10. Ministry of Lands
<p>11. Ministry of Energy and Minerals
<p>12. TAMISEMI including all councils (Halmashauri zote)
<p>13. TPDC
<p>14. TANESCO
<p>15. GST
<p>16. NETWAS
<p>17. TCAA
<p>18. TCC
<p>19. NBS etc
<p>20. Wizara ya Maliasili na Utalii
<p>17. State University of Zanzibar. SUZA
<p>18. TGDC
<p>19. TANAPA
<p>20. NGORONGORO

 </ul>

<hr>


<h3><a name="mnma"></a></h3>

<div class="text-center">


			<h2>MASWALI NA MAJIBU</h>
			
	</div>

<p>1.  Means mwanafunzi yeyote ataruhisiwa kusoma kitabu bila kujali program anayosoma?
	<ul><p>A. Yes</p></ul>
<p>2. Starting date ya project ?
	<ul><p>ANS . Kuanzia Tarehe 10/4/2019 na ending date ni tarehe 14/3/2020.</p></ul>
<p>3. why this Ending date??
	<ul><p>ANS. Tarehe hiyo kwasababu nataka tujipe mud wa kutosha kujiandaa halafu kwa wakati huo vyuo 	vingi vitakuwa vimefungwa/ndio vimefunguliwa</p></ul>
<p>4.mradi utasimamiwa na kambuni ambayo haitatoa fund wala kuchukua mgao,so nilitaka kujua iyo 	kampuni itasimamia activities zipi?
	<ul><p>ANS. Kikubwa hapa ni ku solicity funds,  kupata sponsors kwa ajili ya kuwezesha events pamoja 	na 	scholarships.</p></ul>

<p>5.je kitabu hicho kinatakiwa kuandaliwa upya au ndio kile kitabu chako?
	<ul><p>ANS. Yes ndio kile kitabu changu. "Mfumo wa GIS kwa maendeleo ya Tanzania"</p></ul>
<p>6.km ni kile chako, nini itakua roles yetu?
	<ul><p>ANS. Kupanga na kusimamia kuwezesha project . Kazi kubwa ya timu hii ni kuwaza kisha kuja na mikakati ya ku win sponsors. private companies, goverment, individuals nk</p></ul>
<p>7. Ninataka kujua hao wanafunzi kumi wa mwanzo wa first degree na wa master watapewa msaada wa kufanya degree zinazohusiana na GIS na Remote Sensing.
	<ul><p>ANS.  Ili kuwa na wigo mpana nilikuwa naona asome kozi yeyote anayoitaka kwani GIS inamgusa 	kila mtu.</p></ul>
<p>8. Wazo langu nashauri ingekuwa bora tukakutana live muda na lini tukaonana na kupanga na kuulizana maswali najua tuko 20 lakini hawako hewani kuweza kuchangia au kujua kinachoendlea  kwa muda huu,tukikutana pamoja ni vema kufahamiana pia  ........
	<ul><p>ANS.  Wazo zuri. Nadhani kukutana ni lazima. Ila naona kwa hizi hatua za mwanzoni tuwasiliane 	humu humu kwanza, wote tukishakuwa kwenye page moja then tutapanga lini tukutane. 	Wengine wapo mkoani.</p></ul>

<p>9. Hoja yangu ya pili ni kwamba; Bila shaka kitabu unachokisema watakisoma Online kina haki miliki za mtu binafsi na si mali ya project; je, ikiwa project yetu itakuwa na jina letu, then kitabu na kampuni ni Mali za watu wengine,  hapawez kutokea ukakasi tukajikuta tunamzungumza zaidi author wa kitabu na kampuni kuliko Project? 
	<ul><p>ANS. OBG ni kampuni yangu, ilianzishwa 2014, imekuwa idol kwa muda sasa lkn ipo live. OBG ni 	umbrella tu ya project hii. Kama ingekuwepo kampuni nyingine ambayo ipo tayari kuwa 	umbrella ya hii project ingekuwa sawa. The issue here ni kwamba sikuwa na wazo la kuwa na 	commitment ya kudumu baina yetu lkn kama tukitaka hivyo, commitment ya kudumu, maana 	yake inabidi tuanze ku register kampuni itakayokuwa inamilikiwa na watu wote, which is fine 	lakini utaongeza gharama na commitment ya kudumu.</p></ul>
<p>10. Huu ni mwaka mmoja kamili, ni lini wanafunzi watakuwa wameifaham website kitabu kilipo, wakajisajili na kukisoma, wakafanyiwa assessment, washindi wakapata scholarships hizo za hadi miaka 4 kwa project ya mwaka mmoja? Certificate tutawafundisha muda upi wakati lifespan ya project ni 1 year? Na hapa nahisi ni lazma tushirikiane na chuo flan kwaajili ya kutoa valid certificates.</p>
	<ul><p>ANS. Kitabu ni changu, web app ni yangu as an indivudual, kampuni haimiliki kitabu wala web 	app. Ukitaka project imiliki hivi vyote maana yake ni kwamba itabidi tuandike kitabu kipya as a 	project, tutengeneze web app mpya as a project. Haya yote yanawezekana, tukiamua tunaweza 	lakini mziki wake unauona.</p></ul>

<p>11. Mimi nadhani tulipaswa kuliendea wazo hili sote kwa pamoja right from the beginning to the end, ili kila kitu kiwe cha project; hata tukipata udhamini uwe kwa hiari ya wanaproject. Pia muda wa kufanya hayo yote ni mfupi mno, walau ingekuwa ya miaka 5 hv na udhamini kusomesha watu uanze baada ya mwaka mmoja.</p>
	<ul><p>ANS. Project ya namna hii inakuwa recommended kuwa within one year lakini sio lazima. Ikiwa 	muda mrefu sana inaweza ikapoteza nguvu na ikiwa muda mfupi sana nayo sio vizuri.   	Wakishapatikana washindi ndio mwisho wa project, kipindi cha kusoma hakipo ndani ya project.
	Kuhusu kushirikiana na chuo fulani, hilo ni wazo zuri ambalo tunaweza kulifanyia kazi.</p></ul>


<hr>

 
</div>

</div>


	
						</div>
						
			</div>


		</div>
	
</main>
    <script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>



<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
 
     
      {% endblock %}   
        
       