
{% extends 'basebooks.html' %}

{% load staticfiles %}


   {% block body %}
        <br>  <br>  
        <section class="section">




	    <div class="container-fluid">
			 <div class="row">

          <div class="sidebar">
            <div class="side-bar">
              <ul class="cat-lists">
                <li><a href="{% url 'home:index' %}" class="active">Vitabu Vyote</a> </li>

                {% for category in categories %}
                <li><a href="{% url 'home:category' category_id=category.id %}">
                    {{category.name}}</a></li>
                {% endfor %} 
              </ul>
            </div>
          </div> 

<hr>
          <!-- main body -->

          <div class="col-md-8">
            {% for category in categories %}
            <div class="main-part">
              <div class="mp-title">
                 <hr>
                <h3>  
               
                  {{category.name}}
                </h3>

                <div class="mp-books-count">
                  <span>
                    <!-- 0 books -->
                  </span>
                </div>
              
              </div>


              <div class="mp-books">
                <div class="row">
                  
                 {%for item in category.item_set.all %}
                  <div class="">
                    <div class="card book-card">
                      <div class="book-body">
                        <div class="book-image">

<a href="{% url 'home:item' item_id=item.id %}">
                          <img src="{{item.image_index.url}}" alt="">
                          </a>
                        </div>

                              
                             
                      </div>
                    </div>
                  </div>

                 {%endfor%}

                  
                </div>
              </div>
            </div>
            {% endfor %}
          </div>


       </div>

            


             
            </div>
        </section>
        
        
     
      <br><br>

     
      


   {% endblock %}
