
{% extends 'base2.html' %}

{% load staticfiles %}


   {% block body %}
        <br>  <br>  
        <section class="section">
	    <div class="container">
			<!-- <small>
							<span class="caps">Items</span>
						</small>
                        --> 
                
              
			  <p>Hii ni listi ya vitabu vinavyopatikana OBG online. Bonyeza chaguo lako ili kuona bei na maelezo zaidi,
     bonyeza <a href="{% url 'home:chat'%}"><span>Biashara yangu</span></a> kuona listi ya vitabu ulivyokwisha lipia </p>
                          
		  
                <hr>
                <div class="row">
                     <div class="col-md-6">
                        
                       
                        
                       {% for category in categories %}
                            
		    
                           <h1>{{category.name}}</h1>
                           <div class="line-sep"></div>
                           
                          
                           {%for item in category.item_set.all %}
                              
                              <h3> {{forloop.counter}}. <a href="{% url 'home:item' item_id=item.id %}"> {{item.name}}</a></h3>
                            
                           {%endfor%}

                        
                        {%endfor%}
          
                    </div>
                </div>
            </div>
        </section>
        
        
     
      <br><br>
      
      


   {% endblock %}
