
{% extends 'base2.html' %}
{% load staticfiles %}
    {%block head%}
     
    {% if item != None %}
        <title>{{item.name}}-Selected Class</title>
        
    {% else %}
        <title>Invalid Item ID- Selected Class</title>
    {% endif %}
    
    {%endblock%}


   {% block body %}


 <a href="{% url 'home:index' %}">&lt; Back to the list</a>
               
      
         
                      <div class="container">
                            <small><span class="caps">Book</span></small>
                            <div class="line-sep"></div>
                              
                                {% if item != None %}   
                                    
                                <div class="section-title">{{item.name}}</div>
                                    <hr>
                      </div>
                     
               
                
      <section class="section grey-scale">
                     <div class="container">
                                        
                                <div class="row">
                                  <!-- moja -->
                        <div class="col-md-7">
                                        
                                    <h3>Cover</h3>
                                     <div class="line-sep"></div>
                                        {% if item.image%}
                                                <img src='{{item.image.url}}' class= 'img-responsive'/>
                                                
                                        {%endif%}
                                      <br><br>
                                    <h3>Book Description</h3>
                                     <div class="line-sep"></div>
                                        <p>{{item.description|linebreaks}}</p>
                                    </div><br>
                                  <!-- moja -->
                                  
                                    <div class="col-md-5">
                                           
                                                     
                                                     {%if item.subtitle %}


                                    <h3>Listen the Author</h3>
                                    <div class="line-sep"></div>
                                      <div class="embed-responsive embed-responsive-16by9">                                            
                                        <video class ="video-hoder" controls>

                                              <source src="{{item.videofile.url}}"> 

                                        </video>
                                          
                                        </div>
<br><br>


                                            <div class="card right-in">
                                                 <div class="card-icon">
                                                        <br>
                                                    <ul class="tutor-icons">
                                                        <h4><a class="btn btn-follow btn-lg "href="{{item.subtitle}}"> Read for free</a></h4>
                                                        
                                                        <h4><a class="btn btn-success btn-lg "href="{% url 'home:donate' item_id=item.id %}"> Donate.</a></h4>

                                                        <!-- mbili -->
                                                      </ul>
                                                      <br>
                                                   <hr>

                                                   

                                                  </div>
                                                  

                                              </div>


                                            

                                                    {%else%}




 <div class="col-md-14">
  <hr>

<h3>Listen the Author</h3>
<div class="line-sep"></div>
<div class="embed-responsive embed-responsive-16by9">                                            
<video class ="video-hoder" controls>

<source src="{{item.videofile.url}}"> 

</video>

</div>
<br><br>

</div>


                                 
                                  <div class="card right-in">
                                    <br>





                                <h4>Price: Tsh {{item.price}} </h4>

                                        <div class="card-icon">
                                                <br>
                                            <div class="text-center">
                                                  <ul class="tutor-icons">
                                                  
                                                    <h4><a class="btn btn-follow btn-lg "href="{% url 'home:book' item_id=item.id %}"> BUY NOW.</a></h4>
                                                  
                                    
                                                  </ul>

                                              </div> 
                                        </div>






                                    </div>
                                  </div>
                                  <br>

               
                                        
        </div>

              {%endif%} 
                                



                                {% else %}
                                                <p>Invalid Item ID.</p>
                                {% endif %}
                                       

</div>
                  
</section>

  <section>            
                
      <br>
                
                <div class="container"
        <section class="section">
            
                 <small><span class="caps">Author</span></small>
                            <div class="line-sep"></div>
                
                 <div class="col-md-12">
            
                                                <div class="row">
                                                    <h1>About the Author</h1>
              <!--<div class="col-md-5">-->
                                                            
                <div class="tutor">
                                                                    
                  <div class="tutor-image">
                    {% if item.image%}
                    <img src='{{item.image_author.url}}' />
                    {%endif%}
                  </div>

                  
                                                                         <div class="text-center">
                    <h4>
                      {{item.author}}
                    </h4>
                    
                                                                                <hr>
                  </div>

                  
                      
                </div>
              </div>
        
           

                  <div class="text-left">
                    <p>
                    {{item.author_description}}
                      
                                                                                        
                    </p>
                    
                                                                             
                  </div>

                  




              </div>


        </section>
        
      
           <hr>
            
            <br><br>




   {% endblock %}