<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

	<main class="main-wrapper">
		
		
		





	<div class="main-section">
		<div class="container">
			<div id="test" onmousedown='return false;' onselectstart='return false;'>

<a href="{% url 'home:index'%}">Items</a>
<a href="{% url 'accounts:logout'%}">Home</a>
				<h1 class="topic-title">GIS KWA MAENDELEO YA TANZANIA</h1>

	

			
				
                         
                            <hr>
                            <p><span>ISBN 978-9976- 5-1615-9</span>
<P>Kazi hii inalindwa na sheria ya  umiliki ya Jamuhuri ya Muungano wa Tanzania. Haki zote zimehifadhiwa, hairuhusiwi kuiga, kunakili au kutoa kopi
ya kitabu hiki kwa njia yeyote ile bila ya idhini ya mwandishi.</P>
<P>Yaliyomo kwenye kitabu hiki yanaweza kubadilika wakati wowote bila taarifa.</P>
<P>Unaweza kupata kopi ya kitabu hiki kwa kupiga simu nambari +255653397942 au kupitia e mail ifuatayo;  obmsuya@yahoo.com.</P>

<P>Kitabu Kimeandikwa na <span>Overblessing Msuya. </P>
<P>Cover ya kitabu imetengenezwa na: <span>Overblessing Msuya.</span></P>
<P>Kimehaririwa na: 	<span>Grace Msuya na Goodluck Mghonu</span></P>
<P>Kimepigwa chapa na: <span>Zanur General Enteprises.</span></P>

				
				<hr>
	        
                     <h3><a name="yaliyomo">YALIYOMO</a></h3>

						
						<div class="line-sep"></div>
						<div>

						<p><a href="#ufupi">KITABU KWA UFUPI</a></p>
						<P><a href="#shukran">SHUKURANI</a>	</P>
						<P><a href="#utangulizi">UTANGULIZI	</a></P>
						<P><a href="#madhara">TAARIFA ZA KIJIOGRAFIA NA ZISIZO ZA KIJIOGRAFIA</a></P>	
						<P><a href="#sayahasira">MFUMO WA GIS</a></P>
						<P><a href="#sayamsukumo">KWA NINI GIS SASA?</a></P>
						<P><a href="#ugonjwa">TOFAUTI KATI YA GIS NA GPS</a>	</P>
						<P><a href="#vyanzo">TOFAUTISHA KATI YA GIS NA IT</a></P>
						<P><a href="#mapenzi">SEKTA ZINAZOWEZA KUTUMIA MFUMO WA GIS</a></P>
						<P><a href="#namna">FAHAMU GIS KWA MIFANO.</a></a></P>
						<P><a href="#ujasiriamali">JINSI YA KUWEKA MFUMO WA GIS KWENYE TAASISI</a></P>
						<P><a href="#burenunua">MFUMO WA BURE NA MFUMO WA KUNUNUA</a>	</P>
						<P><a href="#hitimisho">HITIMISHO</a>	</P>


<hr><hr> 
				 

				 <h3><a name="ufupi"></a></h3>

				 <h3>KITABU KWA UFUPI.</h3>
				 <div class="line-sep"></div>
	<p>Mjasiriamali anafanya Mahesabu ili apate Malengo. Ili kuyafikia malengo lazima awe na mikakati madhubiti ya kutangaza biashara. Kitabu hiki kinaweka wazi siri na miujiza ya mahesabu katika ujasriamali. Mahesabu yanakupa hamasa na nguvu ya kuendelea na biashara hata pale unapotaka kukata tamaa. Kitafanya biashara yako kuwa nyepesi na inayofurahisha kwani kitajibu maswali yote magumu yanayokusumbua katika shughuli zako za ujasiriamali.</p>
	Mwongozo
<p>Kutokana na kitabu hiki, mjasiriamali mdogo ni yule mwenye mtaji chni ya shilingi milioni 25 na mjasiriamali wa kati ni yule mwenye mtaji wa shilingi milioni ishirini na tano hadi milioni mia (25M- 100M) na mjasiriamli mkubwa ni yule mwenye mtaji zaidi ya shilingi milioni 100.  Pia tuchukulie kwamba ni lazima utoke kwenye hatua moja  kwenda  nyingine ndani ya miaka mitano.</p> 
 			 
				

	<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
	<hr>
<h3><a name="shukran"></a></h3>
			<h3>SHUKRANI</h3>
			<div class="line-sep"></div>
<p>Napenda kupeleka shukrani zangu za dhati kwa mke wangu mpendwa kwa ushauri wake na upendo alionionyesha kipindi chote cha utayarishaji wa kitabu hiki. Napenda kutoa shukrani zangu za dhati kwa watoto wangu Brayden pamoja na Whitney kwa kuelewa umuhimu wa mahesabu na matangazo katika ujasiriamali na hivyo kukubali kuniacha ili niandike bila kunisumbua.</p>
<p>Kitabu hiki kisingeweza kufika hapa bila msaada wa ndugu na jamaa zangu pamoja na makampuni mbali mbali kwa kutoa misaada yao ya hali na mali katika kufanikisha safari hii. Kipekee ningependa kuwashukuru Merrylight Tophair Limited kwa misaada yao ya kifedha kwa kipingi chote cha uandaaji, uchapishaji pamoja na usambazaji wa kitabu hiki.</p>
 
	
                   		<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
                   		<hr>

			<h3><a name="utangulizi"></a></h3>

					<div class="text-center">
						<h2>SURA YA KWANZA</h2>

						<h3>UTANGULIZI</h3>
					</div>	
				
			
 


<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>

<hr>



<h3><a name="madhara"></a></h3>

<div class="text-center">
<h2>SURA YA PILI</h2>

			<p><span>TAARIFA ZA KIJIOGRAFIA NA ZISIZO ZA KIJIOGRAFIA</span></p>
			
	</div>		



<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>


<h3><a name="sayahasira"></a></h3>

<div class="text-center">
<h2>SURA YA TATU</h2>
<br>
			<h3>MFUMO WA GIS</h3>
			
	</div>
			

 
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>




 

<h3><a name="sayamsukumo"></a></h3>
<div class="text-center">
<h2>SURA YA NNE</h2>

			<h3>KWA NINI GIS SASA?</h3>
			
	</div>
			





<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>





<h3><a name="ugonjwa"></a></h3>
<div class="text-center">
						<h2>SURA YA TANO</h2>

									<h3>TOFAUTI KATI YA GIS NA GPS</h3>
									
							</div>





<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>



<h3><a name="vyanzo"></a></h3>	
<div class="text-center">
						<h2>SURA YA SITA</h2>

									<h3>TOFAUTISHA KATI YA GIS NA IT</h3>
									
							</div>

<




<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>



<h3><a name="mapenzi"></a></h3>
<div class="text-center">
						<h2>SURA YA SABA</h2>

									<h3>SEKTA ZINAZOWEZA KUTUMIA MFUMO WA GIS</h3>
									
							</div>
							





<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>




<hr>	
	
<h3><a name="namna"></a></h3>
<div class="text-center">
						<h2>SURA YA NANE</h2>

									<h3>FAHAMU GIS KWA MIFANO</h3>
									
							</div>
							<br><br>





<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>



<h3><a name="ujasiriamali"></a></h3>


<div class="text-center">
						<h2>SURA YA SABA</h2>
									<h3>JINSI YA KUWEKA MFUMO WA GIS KWENYE TAASISI</h3>
							</div>
							<br><br>









<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>




<h3><a name="burenunua"></a></h3>
<div class="text-center">
						<h2>SURA YA KUMI</h2>
									<h3>MFUMO WA BURE VS WA KUNUNUA.</h3>
							</div>
							<br><br>




<hr>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>

<h3><a name="hitimisho"></a></h3>
<div class="text-center">
						<h2>SURA YA KUMI NA MOJA</h2>
									<h3>HITIMISHO NA MAPENDEKEZO.</h3>
							</div>
							<br><br>


<div class="text-center">
	

<h1>MWISHO</h1>
</div>


	<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
						



						</div>
					
			</div>


		</div>
	
</main>
     
     
      {% endblock %}   
        
       