<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load static %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

	<main class="main-wrapper">
		
		
		





	<div class="main-section">
		<div class="container">
			<div id="test" onmousedown='return false;' onselectstart='return false;'>

<a href="{% url 'home:index'%}">Items</a>
<a href="{% url 'logout'%}">Home</a>
				<h1 class="topic-title">Mahesabu na Ujasiriamali.</h1>

	
<p><span>MISEMO</span></p>
			
				<P>"Usipojiumiza leo kutafuta pesa kwa hiari, maisha yatakuumiza kesho kwa lazima pale utakapokosa pesa, maumivu ya lazima ni machungu kuliko ya hiari " By OB</p>
<P>"Malengo ya kina ni ufunuo wa uhalisia wa changamoto za biashara yako ndani ya kipindi kifupi " By OB </p>
<P>"Ili mjasiriamali afanikiwe ni lazima afanye  mambo ambavyo wengine hawawezi au hawapendi  kuyafanya." By OB </p>
<P>"Kwa kila unachokifanya tumia muda wako mwingi kufanya yaliyo magumu kwanza. Kumbuka, hakuna gumu lililo rahisi, lakini uzuri ni kwamba ugumu upo mwanzoni tu". By OB </p>
<P>"Kama unataka kufanikisha jambo  gumu ni lazima kutafuta ufumbuzi kwa kila changamoto moja inapojitokeza, kusubiri  zikalimbikizana ni kujihakikshia kushindwa." By OB</p>
 

                      <hr>   
                         
                            <p><span>ISBN 978-9976- 5-1611-1</span>
<P>Kazi hii inalindwa na sheria ya  umiliki ya Jamuhuri ya Muungano wa Tanzania. Haki zote zimehifadhiwa, hairuhusiwi kuiga, kunakili au kutoa kopi
ya kitabu hiki kwa njia yeyote ile bila ya idhini ya mwandishi.</P>
<P>Yaliyomo kwenye kitabu hiki yanaweza kubadilika wakati wowote bila taarifa.</P>
<P>Unaweza kupata kopi ya kitabu hiki kwa kupiga simu nambari +255653397942 au kupitia e mail ifuatayo;  obmsuya@yahoo.com.</P>

<P>Kitabu Kimeandikwa na <span>Overblessing Msuya. </P>
<P>Cover ya kitabu imetengenezwa na: <span>Overblessing Msuya.</span></P>
<P>Kimehaririwa na: 	<span> Youngsaviour Msuya</span></P>
<P>Kimepigwa chapa na: <span>Zanur General Enteprises.</span></P>

				
				<hr><hr> 
	        
     <h3><a name="yaliyomo">YALIYOMO</a></h3>

						
		<div class="line-sep"></div>
			<div>

<!-- <p><a href="#ufupi">KITABU KWA UFUPI</a></p> -->
<P><a href="#shukran">SHUKURANI</a>	</P>
<P><a href="#utangulizi">UTANGULIZI	</a></P>
<P><a href="#madhara">MAHESABU</a></P>	
<P><a href="#sayahasira">MFANO WA MAHESABU</a></P>
<P><a href="#sayamsukumo">MALENGO YA KINA NA MATANGAZO</a></P>
<P><a href="#ugonjwa">NGUVU YA KUSALI KWA MAHESABU.</a>	</P>
<P><a href="#ujasiriamali">KITABU KWA UFUPI</a></P>

<hr><hr> 
				 

				 <h3><a name="ufupi"></a></h3>

				 <h3>KITABU KWA UFUPI.</h3>
				 <div class="line-sep"></div>
				 
<p>Mjasiriamali anafanya mahesabu ili apate Malengo. Ili kuyafikia malengo lazima awe na mikakati madhubiti ya kutangaza biashara. Kitabu hiki kinaweka wazi siri na miujiza ya mahesabu katika ujasiriamali. 
Mahesabu yanakupa hamasa na nguvu ya kuendelea na biashara hata pale unapotaka kukata tamaa. Kitabu hiki kitafanya biashara yako kuwa nyepesi na inayofurahisha kwani kitajibu maswali yote magumu yanayokusumbua katika shughuli zako za ujasiriamali. </p>

<p><span>Mwongozo</span></p>
<p>Kutokana na hiki kitabu, tumechukulia kwamba mjasiriamali mdogo ni yule mwenye mtaji chini ya Tsh milioni 25, wa kati ni mwenye mtaji wa Tsh milioni 26 hadi 100  na mjasiriamli mkubwa ni yule mwenye mtaji zaidi ya Tsh milioni 100.  Pia kwenye hiki kitabu tunatumia kipindi cha miaka miatano kama kama kipimo/muda wa kutoka hatua moja kwenda nyingine. Yaani, kama ni mjasiriamali mdogo lazima aingie kwenye ujasiriamali wa kati ndani ya miaka mitano. Najua hunielewi vizuri lakini usiogope endelea kusoma utanielewa. </p>

<p>Overblessing A Msuya.</p>
<p>Muandishi na Mjasiriamali

 </p>
	
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>

<h3><a name="shukran"></a></h3>
			<h3>SHUKRANI</h3>
			<div class="line-sep"></div>
<p>Napenda kupeleka shukrani zangu za dhati kwa mke wangu mpendwa kwa ushauri wake na upendo alionionyesha kipindi chote cha utayarishaji wa kitabu hiki. Napenda kutoa shukrani zangu za dhati kwa watoto wangu Brayden pamoja na Whitney kwa kuelewa umuhimu wa mahesabu katika ujasiriamali na hivyo kukubali kuniacha ili niandike bila kunisumbua.</p>
<p>Kitabu hiki kisingeweza kufika hapa bila msaada wa ndugu na jamaa zangu pamoja na makampuni mbali mbali kwa kutoa misaada yao ya hali na mali katika kufanikisha safari hii. Kipekee ningependa kuwashukuru Merrylight Tophair Limited kwa misaada yao ya kifedha kwa kipindi chote cha uandaaji, uchapishaji pamoja na usambazaji wa kitabu hiki.</p>

			

                   		
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
           <hr>        


			<h3><a name="utangulizi"></a></h3>
		
			<div class="text-center">
						<h2>Sura ya Kwanza</h2>

						<h3>UTANGULIZI</h3>
					</div>	
			
			
<p>Ili mjasiriamali afanikiwe lazima auze bidhaa zake. Lakini, kuuza peke yake sio suluhisho, suluhisho ni KUUZA KWA WINGI. Nimeandika neno "kuuza kwa wingi" kwa  herufi kubwa ili kutilia mkazo neno wingi, kwani utajiri au umaskini wako unatokana na kiwango cha bidhaa utakachouza kwa kipidi fulani.</p>
<p>Najua unatamani kufanikiwa lakini changamoto na sintofahamu zilizopo kwenye biashara zinakufanya kushindwa kutimiza ndoto zako. Inawezekana umekata tamaa na inawezekana wengine wameamua kwenda kwa waganga wakidhani ndiyo mkombozi wa matatizo yao. Nikuambie kitu, Wazungu, Wahindi pamoja na wajasiriamali wengi walio fanikiwa hawakimbilii kwa waganga bali wanakimbilia kwenye MAHESABU.</p> 
<p>Mahesabu yana siri nyingi sana zilizojificha. Kumbuka, huwezi kufanya biashara bila kuhesabu pesa. Hivi unafahamu kwamba, pesa zinakuwa na maana  pale tu zitakapohesabiwa na kujulikana kiwango chake?. Huwezi kufanikiwa bila kufanya mahesabu-mali bila daftari hupotea bila kujua. Maana yake ni kwamba kwenye ujasiriamali mahesabu ni kila kitu. Twende taratibu utanielewa vizuri.</p>

<p>Ukifanya mahesabu unaweza kucheka mwenyewe kwa furaha kama mwehu lakini vile vile unaweza kulia machozi au hata kupata presha na kufa. Unacheka au unapata presha kwasababu mahesabu yanakufunulia  ukweli na uhalisia wa hali yako ya kifedha. Kumbuka, mahesabu hayabadili hali yako ya kifedha bali yanakupa tu taarifa ya uhalisi ya hali yako ya kifedha. Unapopata taarifa inakushtua, moyo unaenda mbio, unakasirika, unalia na kama hujafa basi unaweza chukua hatua mbaya kama vile kujiua, kuiba, kukimbia, kujificha, kuomba, kuuza mali yako nakadhalika. kabla hujafanya mahesabu hali yako ya kifedha ilikuwa ni ile ile lakini hofu haikuwepo, hofu imekuja tu baada ya kufanya mahesabu.</p>

<div class="text-center">
<h3>Mahesabu na Matangazo</h3> 
</div>
<p>Kwenye ulimwengu wa ujasiriamali, mahesabu yana mahusiano makubwa sana na matangazo, sawa na mahusiano yaliyopo kati ya stelingi ya gari na matairi. Jinsi stelingi  ya gari inavyoongoza matairi vile vile ndiyo mahesabu yanavyotoa muongozo wa nini kitangazwe, kwa kiasi gani na kwa namna gani. 

<p>Wajasiriamali wengi hawafahamu hili ndio maana biashara zao zinakuwa ngumu siku hadi siku. Mahesabu kwenye ujasiriamali ni siri ya mafanikio, siri inayotumiwa na  wazungu, wahindi pamoja na wafanyabiashara waliofanikiwa.</p> 
<p>Naweza kusema hivi, umepata bahati ya kipekee kukisoma kitabu hiki kwani siri hii itafunuliwa na hakika utakuwa ndio mwanzo wa mafanikio yako.</p> 

<p><span>undani wa kitabu hiki.</span></p>
Kitabu hiki kinajikita kwenye jambo moja ambalo ni; mahesabu. Ni matumaini yangu kwamba ukiijua siri hii na ukiifanyia kazi lazima utafanikiwa. Amin nakuambia, kinachomfanya mjasiriamali yule kufanikiwa kuliko wewe ni kutokana na ufahamu wake wa siri hii ya mahesabu. 
<p>Humu ndani mambo yote yameelezewa kwa uzuri kabisa lakini upo uwezekano wa kushindwa kuelewa baadhi ya sehemu, ushauri wangu ni kwamba kama ukishindwa kuelewa sehemu fulani rudi nyuma na anza tena kusoma. 
<p>Kwenye kitabu hiki tutaanza kwa kuangalia maana ya mahesabu, pia tutaona mfano wa mahesabu, malengo ya kina na mahesabu halafu tutaona nguvu ya kusali kwa mahesabu. Katika sura ya mwisho tutakiangalia kitabu hiki kwa ufupi, hii itakuwezesha wewe msomaji kupata picha nzima ya kitabu kwa haraka zaidi. 


<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>

<hr>









<h3><a name="madhara"></a></h3>
			<div class="text-center">
	<h2>SURA YA PILI</h2>

	<h3>MAHESABU</h3>
					</div>	
			
<p>Lengo la mahesabu ya kijasirimali ni kukupatia lengo kuu pamoja na malengo ya kina. Malengo ya kina ambayo yanakutaarifu kuhusu changamoto ya biashara yako zikiwa bado ndogo. Hizi taarifa ni muhimu kwani zitashtua hisia zako kuja na majibu ya haraka. 
<p>Kama vile mahesabu yanavyoweza kukuliza pia yanaweza kukupa mwongozo kwani ukifanya mahesabu utapata malengo ya kina yatakayokupa muongozo wa nini cha kufanya. Malengo ya kina yana uwezo na nguvu za kimiujiza zinazoteka hisia  zako na kulazimisha mwili na akili yako kutenda kazi kwa nguvu na kwa hiari zaidi bila shuruti.
<p>Mahesabu ya kijasiriamali yanavunja vunja  changamoto za ujasiriamali na kuzionyesha ndani ya muda mfupi mfupi hivyo kumwezesha mjasiriamali kutafuta ufumbuzi kwa wakati ili kuepuka kulimbikiza changamoto. Unapolimbikiza changamoto zinakuwa kubwa na za kutisha na kukufanya ushindwe kuzikabili.

<p>Kumbuka, mahesabu hayana wivu wa maendeleo, kwahiyo kamwe hayata kuacha uangamie, yatakupa taarifa mapema kila changamoto inapojitokeza. Mahesabu yanaongea na wewe kwa lugha nyepesi inayoeleweka na kadri unavyozidi kukosea ndivyo mahesabu nayo yatakavyozidi kuongea na wewe. 

<p>Malengo ya kina yanatumika kama kumbusho,  msukumo, rahisisho na zuio la changamoto za kijasiriamali;</p> 
<p><span>Kama kumbusho</span> - maaana yake ni kwamba, malengo ya kina yanatumika kumkumbusha mjasiriamali kuendelea kuhangaika ili kuuza mpaka kufikia malengo. </p>
<p><span>Kama msukumo </span>- maana yake ni kwamba, malengo ya kina yanachangia kutoa/kuongeza msukuma wa kutenda kazi. Lengo la kina linakuwa kama msimamizi wa kazi, linakufokea pale unapotaka kuzembea kazi</p>
<p><span>Kama rahisisho </span> - maana yake ni kwamba malengo ya kina yanatumika kama chombo cha kurahisisha majukumu kwani yanaonyesha tatizo mara tu linapotokea. 
Kumbuka, ukivunja vunja changamoto, zinapunguza stresi katika biashara kwani zinakuwa  ndogo ndogo na zinatatulika kiurahisi.
<p><span>Kama zuio </span>- maana yake ni kwamba, malengo ya kina yanatumiaka kuonyesha umuhimu wa pesa hivyo kuzuia kufanya makosa kama vile kupoteza muda.</p>

<h3><span>Mtaji ni mbegu </span></h3>
<p>Kama ilivyo mbegu, mtaji nao ni mbegu hauliwi, kula mtaji ni kosa kubwa sana, kula mtaji ni dhambi duniani hata mbinguni!, kwanini? nitakueleza; lengo la mtaji sio kuliwa bali ni kuzaa. Sehemu ya pesa zinazozaliwa na mtaji kiasi kinaongezwa kwenye mtaji na kiasi kinakuwa faida. Faida ndiyo inayoliwa au kwa lugha nyingine, ndiyo inayotumiwa. Kuanzia leo jifunze na kubali kwamba mtaji hauliwi, kula mtaji ni kujiangamiza.</p>
<p>Kama hufanyi mahesabu kwa lengo la kupata malengo ya kina huwezi kujua kwa hakika mtaji wako ni kiasi gani na faida ni kiasi gani. Ukishtuka umeshakula mtaji na umeshapata dhambi.</p>

<p>Kama unashindwa kujizuia kula mtaji ona hii; Mahindi ambayo yametengwa kwa ajili ya mbegu yanawekewa sumu kwa ajili ya kuyalinda dhidi ya wadudu. Sasa ngoja nikufunue, wazo la kuweka sumu lilitokana na kwamba baadhi ya watu walikuwa wanakula mbegu badala ya kupanda. Usile mtaji wako, na kama utashindwa basi weka sumu ili usiweze kuula. Ni jinsi gani utauwekea mtaji wako sumu ili usiule endelea kusoma hiki kitabu utafahamu.</p> 

<h3><span>Nguvu ya Mahesabu</span></h3>
<p>"Hizi pesa zina mahesabu", huu msemo unatumika kuonyesha umuhimu wa pesa katika jambo fulani, kwamba zimepangiwa shughuli na haziwezi kutumiwa tofauti na matumizi yaliyopangiwa. Unapomuambia mtu naomba usiguse hizo pesa kwasababu zina mahesabu, ujumbe unafika haraka sana na mtu anaheshimu taarifa hiyo. Kwa maana hiyo ni kwamba mahesabu yana uwezo wa kuzuia au kuwezesha matumizi ya pesa.
<p>Mahesabu yana siri nyingi sana ambazo zimejificha na sio rahisi kuzijua mpaka uwe umefundishwa. Mahesabu yanachukua nafasi ya mganga wa kienyeji, mahesabu yanachukua nafasi ya usimamizi na hata nafasi ya kitabu hiki. Ukiweza kujua siri za mahesabu ambazo nitakwenda kukufunulia hivi  punde utajikuta unafanikiwa katika ujasiriamali wako bila hata kutumia nguvu.</p>
<p>Wajasiriamali wengi wanafanya mahesabu ni kwa ajili ya kujua faida na hasara peke yake, matokeo yake wanafanya mahesabu kimazoea.  Tukiongelea mahesabu hatumaanishi uwezo wa kurudisha chenji au kununua kwa shilingi moja na kuuza kwa shilingi mbili, hapana tuna maananisha kitu kikubwa zaidi kinachokuwezesha kuishi marekani na kufanya biashara Tanzania na bado kila kutu kikaenda vizuri. </p>
<p>Naona umeaanza kuogopa, usiogope kwani mahesabu tunayoyaongelea hapa sio ya kuumiza kichwa, tunaongelea mahesabu marahisi ya kawaida kabisa ambayo hata kijana wa darasa la saba anaweza kuyafanya. </p>
<p>Tulisema awali kwamba ujasiriamali bila malengo ni sawa na kusafiri bila kujua unapokwenda na ujasiriamali bila malengo ya kina ni sawa na kwenda sehemu lakini hujui lini utafika na unaenda kufanya nini. Mahesabu ndiyo chombo pekee kitakachokuwezesha kuweka malengo makuu pamoja na malengo ya kina. </p>

<h3><span>Mjasiriamali asiye na malengo ya kina</span></h3> 
<p>Yaani sielewi kabisa, nashangaa sana kwa kweli!. Sijui hata nianze vipi kukuambia. Ni hivi, kama kungekuwepo na uwezekano wa kumchapa viboko mjasirimala asiyependa mahesabu basi ningewatumbua wengi. Nasema hivi kwasababu, huwezi kufanikiwa katika ujasiriamali kama hupendi kufanya mahesabu ya kijasiriamali. Kumbuka, malengo ya mahesabu ya kijasiriamali sio kujua faida na hasara bali ni kutoa msukumo utakao kufanya wewe kuwa mbunifu. </p>
<p>Sijasema vizuri,  ngoja niseme hivi, siri ya mahesabu ni kubwa sana, mtu anayejiita mjasiriamali na anatamani kuwa mjasirimali mkubwa halafu hapendi mahesabu ni sawa mcheza mpira anayecheza peku halafu anategemea siku moja kuichezea Liverpool na kushinda. Nadhani hapo nimeanza vizuri. Sikiliza, futa kabisa wazo la kuwa mjasiriamali mkubwa kama hupendi kufanya mahesabu ya kijasiriamali. </p>

<p>Ukisoma kwenye baadhi ya makala utaona wanasema mjasiriamali hafanyi mahesabu, naomba usichanganye mambo, ni hivi kweli mjasiriamali hapendi mahesabu ya kujumlisha na kutoa, wewe kama mjasiriamali unatakiwa kufanya mahesabu ili kujua ni jinsi gani utayafikia malengo yako uliyojiwekea. Kama hupendi mahesabu, basi anza leo kuyapenda, cha muhimu ni kutambua umuhimu wa mahesabu halafu taratibu utajikuta unayapenda mahesabu kuliko hata waanzilishi wa mahesabu.</p>

<p><span>Tofauti kati ya lengo KUU na lengo la kina.</span></p>
<p>Tumeongea sana kuhusu kuwa na lengo, lakini kama ume noti utaona tunaongela vitu viwili vinavyofanana kiasi ambavyo ni lengo kuu na lengo la kina. Sasa tuangalie maana na tofauti kati ya lengo kuu na lengo la kina halafu tutaona nafasi ya mahesabu katika kuyaweka haya malengo. 
<p>Biashara bila malengo ni sawa na kusafiri bila kujua unaelekea wapi wakati malengo ya kina ni sawa na kujua unapokwenda lakini hujui unaenda kufanya nini na utafika lini.
<p>Kwenye biashara kuna malengo ya aina mbili; </p>
<p><span>Lengo kuu</span>, na <span>Lengo la kina</span></p>. 
<p>Lengo kuu kwa kiingereza inaitwa <i>"Goal"</i> ikiwa na maana ya hamu au maono ya mtu kufikia jambo fulani. Ma/lengo ya kina kwa kiingereza tunaweza kuita <i>"Objectives"</i> yaani ni hamu au maono ya kufikia jambo fulani ndani ya muda mfupi kama vile lisaa limoja. malengo ya kina yakijumlishwa yanakuwa lengo kuu.</p>

<p>Lengo kuu ni lile lengo la juu mfano mwaka huu nataka kuuza bidhaa za milioni ishirini. Lengo la kina ni lile lengo dogo litakalokuwezesha kufikia lengo kuu, mfano nataka kuuza bidhaa za shilingi alfu tano kwa saa. Lengo kuu ni sawa na gari zuri, chakula kizuri, mwanamke mzuri au kitu chochote kizuri ambacho unatamani kukipata. Wakati lengo la kina ni yale mafanikio madogo madogo ya muda mfupi yatakayokuwezeka kufikia lengo kuu.</p> 
<p>Kisaikolojia, unapoweka lengo kuu inakusaidia kuanza biashara, sawa na filimbi ya kuanza mashindano ya ngumi na unapoweka lengo la kina inakusaidia kuweka mikakati ya biashara  sawa na mikakati anayoiweka mpiganaji ngumi ya jinsi ya kurusha na kukwepa ngumi.</p> 
<p>Lengo kuu ni kipimo cha mafanikio ya muda mrefu wakati lengo la kina ni kipimo cha mafanikio kwa muda mfupi. Lengo la kina linakupa mrejesho ndani ya muda mfupi kama  unachokifanya ni sawa au sio sawa. Kama nilivyosisitiza neno "kwa wingi" hapo juu naomba nisisitize tena "lengo la kina" kwani haya mambo mawili ni msingi mkubwa wa kitabu hiki. 
<p>Ni wazi kwamba kila mjasiriamali ana kuu- utajiri, lakini sio kila mjasiriamali ana malengo ya kina-namana ya kupata utajiri. Ukiwa unafanya biashara yako kwa kutegemea lengo kuu (ndani ya mwaka au miezi kadhaa), huwezi kupata msukumo wa kutosha kwasababu lengo lipo mbali sana na uhalisia na hutaweza kulipima kwa wakati. Ili uweze kupima lengo lako kwa wakati inabidi kupata lengo la kina, mfano lengo la kuuza kwa kila saa (lengo la kina). Kazi ya mahesabu ya kijasiriamali ni kutafuta lengo kuu na lengo la kina ili kukuwezesha wewe kujua kiasi cha kuuza ili hatimaye ufikie malengo yako.

<h3><span>Unapataje lengo la kina.</span></h3>
<p>Ili upate lengo la kina ni lazima ufanye mahesabu. Mahesabu yanafanywa kwa kuzingatia vitu vinne <span>Mtaji/Mkopo, Muda wa kurudisha, Matumizi pamoja na Lengo kuu</span>. </p>
<p>Malengo ya kina ni majibu yanayotokana na vigezo hasilia(reality) kwahiyo majibu yake hayabishiki  wala hayajadiliki. Kumbuka, mahesabu sio mdahalo wa kisiasa bali ni ukweli ambao jibu lake ni hilo hilo likifanywa na mtanzania akiwa Tanzania au likafanywa na mmarekani akiwa marekani majibu yake ni yale yale na yanaweza kutumika popote pale duniani. Inawezekana bado haujanielewa vizuri, ngoja nitumie mfano ili unielewe vizuri. </p>
<p>Tuseme umekopa benki sh milioni moja (1,000,000) kwa lengo la kufanya biashara. Mkopo unakuja na masharti, unatakiwa kurudisha mkopo huo ndani ya miezi sita(muda) ukiwa na riba ya shilingi milioni moja(faida ya benki). Unataka mwisho wa siku hiyo pesa izae faida ya shilingi milioni mbili (lengo kuu). </p>

<p>Kwenye mfano huu, vigezo halisia(real) ni lengo kuu yaani (shilingi milioni mbili), faida ya benki yaani milioni moja, muda wa miezi sita.

<p>Kwa vigezo hivi unaweza kujua kiasi cha bidhaa ambazo LAZIMA uuze ili uweze kurudisha deni na kubakiwa na kiasi hicho ndani ya miezi sita. Haya mahesabu afanye mtanzania, mmarekani au mchina jibu ni moja ndio maana tukasema majibu ya mahesabu hayabishiki  wala hayajadiliki. Umeona neno LAZIMA hapo juu, lishike kwani ni muhimu sana kwa maelezo ya mbeleni. 
<p>Kwenye mfano huo hapo juu tumeona lengo la mjasiraimali ni kupata shilingi milioni mbili ndani ya miezi sita. Ili afikie lengo ni lazima kuwepo na msukumo utakao muwezesha kubuni na kutekeleza mipango yake. Huu ubunifu unaweza kuitwa mikakati ambayo kwa kiingereza unaeza kuuita strategies. Moja ya ubunifu unaohitajika kwa mjasiriamali ni ubunifu wa aina na namna ya matangazo. 

<p>Ukiwa na malengo ya miezi sita hayawezi kuwa msukumo wa kutosha kwasababu lengo ni la mbali sana, inabidi kupata lengo la kuuza kwa kila saa (lengo la kina). Kazi ya mahesabu ya kijasiriamali ni kulitafuta lengo la kina ili mjasiriamali ajue kiasi cha kuuza kwa saa yatakayomuwezesha kufanya biashara kwa tija zaidi. Kumbuka, mahesabu yakikupa malengo ya kina yatakupa msukumo wa kubuni mbinu za matangazo. 

<p><span>Jinsi ya kujizuia kupoteza hamu/mzuka wa biashara.</span></p>
<p>Umeshawahi kujiuliza kwanini unapoteza hamu ya kufanya biashara licha ya kwamba awali uliipania sana? Unapoteza hamu kwasababu unaupa mwili na akili yako changamoto ambazo haiwezi kuimudu. </p>

<h3>Maelezo ya kisayanzi kuhusu malengo y akina</h3>
<p>Hebu tupate maelezo ya kisayansi kidogo kuhusu malengo ya kina. Mwanaadamu ameumbwa kusahau hivyo ni lazima akumbushwe mara kwa mara. Asipokumbushwa anasahau na akisahau changamoto zinazojitokeza kwenye biashara zinajilimbikiza, zinakuwa nyingi na kuwa ngumu kuzitatua. Unapokuwa na malengo ya kina (kwa lisaa) unapunguza ukubwa wa changamoto, hivyo kufanya mwili na akili kuendelea kuwa na hamu ya kutekeleza majukumu. 
	<p>Changamoto zinapokuwa kubwa sana ni sawa na wewe kuonyeshwa mlima mrefu, hakika utachoka na kukata tamaa kabla hata hujaanza kuupanda.
<p> Changamoto zinapokuwa nyingi unakuwa ndio mwanzo wa kuchukia, kuchoka na kukata tamaa. Umeshawahi kujiuliza kwanini ukiwa na wazo fulani unakuwa na mzuka sana wa kulitekeleza hilo jambo lakini baada ya kulianza tu ghafla unaanza kuchoka na kukata tamaa? Moja ya sababu ni kwamba, pale unapowaza jambo unakuwa bado hujakumbana na changamoto zake pindi unapoanza unakutana na changamoto ambazo kama kawaida mwili na akili vinaanza kuchoka na kukata tamaa.

<p><span>Muda wa malengo ndio muda wa mrejesho.</span></p>
<p>Maisha yanatengenezwa na sekunde, dakika, saa, siku, mwezi, mwaka na kuendelea. Malengo yanaweza kuwekwa katika muda wowote. Malengo yakiwekwa kwa lisaa tunaita malengo ya kina, ambayo kila lisaa linapopita unapata mrejesho kama umeyafikisha malengo yako au laa. Unapo weka malengo yako kwa siku utapata mrejesho wa mauzo kila mwisho wa siku, vile vile unapo weka malengo yako kwa mwezi utapata mrejesho wa mauzo kila mwisho wa mwezi.
<p>Katika ulimwengu wa ujasiriamali, ili malengo yawe na sifa ya msukumo, kumbusho, katazo na rahisisho, lazima liwekwe katika muda wa lisaa limoja. Kwanini lisaa? Kumbuka, kila tendo la kibiashara linafanyika ndani ya dakika kadhaa. Mfano, kila tangazo linafanyika kwa dakika kadhaa, kila uzo (transaction) linafanyika ndani ya dakika kadhaa, maongezi ya simu yanafanyika kwa dakika kadhaa. Kwa ujumla ni kwamba, ukiangalia kwa makini utaona vitu vingi unavyovifanya katika shughuli zako za ujasiriamali zinaanza na kumalizika ndani ya dakika kadhaa. Kwa hiyo lisaa limoja, ni muda wa kutosha kupata mrejesho wa matokeo ya kazi yako.
<p>Malengo ya lisaa limoja yanakupa muongozo wa nini ufanye ndani ya lisaa limoja ili ufikie malengo yako makuu. Ukiweka mahesabu yako ndani ya lisaa kimiujiza utaanza kuona jinsi unavyojali muda wako na unavyojituma. </p>

<p><span>Swali la kizushi,</span> Ili ujiite tajiri unataka uwe na fedha kiasi gani? Najua hili swali ni gumu sana na kila mtu atajibu kutokana na mtizamo wake. Kumbuka, mtu hata uwe na pesa nyingi kiasi gani bado utatamani kupata zaidi. Mtu unayemuona ni tajiri, ukimuuliza utakuta bado ana tamani kuwa tajiri zaidi, maana yake ni kwamba utajiri ni hali ya kiuchumi unayotamani kuifikia, ni hatua ya juu ya kiuchumi unayojiwekea  kwa lengo lengo la kutaka kuifikia. Kama unataka kuwa mjasiriamali mkubwa ni lazima upitie hatua ya mjasiriamali wa kati.

<p>Hili ndilo la muhimu, kwa kila unalolifanya hakikisha unakuwa na malengo ya kutoka katika hatua moja ya ujasiriamali  na kwenda kwenye hatua nyingi ndani ya muda mfupi usiozidi miaka mitano.</p> 
<p>Kama wewe ni mjasiriamali mdogo malengo yako kwa sasa yawe ni kuwa mjasiriamali wa kati ndani ya miaka mitano.  Ukiweka lengo la kina, mahesabu yatakuambia utumie shilingi ngapi kwa kila siku, uhifadhi kiasi gani, uingize kiasi gani kwa saa, utoe msaada kiasi gani, ununue mzigo kiasi gani, upate wateja wangapi kwa saa. 
<p>Sasa tuangalie mfano wa mahesabu tuone siri iliyojificha ndani yake.. 


			


<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>

<h3><a name="sayahasira"></a></h3>
<div class="text-center">
<h2>SURA YA TATU</h2>

<h3>MFANO WA MAHESABU</h3>
					</div>	
<p>Madhumuni ya mahesabu ya kijasiriamali ni kupata malengo ya kina. Malengo ya kina yatakuonyesha kiasi cha kuuza kwa kila lisaa ili hatimaye ufikie lengo kuu. Malengo ya kina yatakuwa ndio muongozo wako wa biashara. Zipo hatua kadhaa za kupitia mpaka kupata malengo ya kina. Hizi hatua ni rahisi kuzifuata na zinaeleweka vizuri. 

<p>Ili upate lengo la kina ni lazima uzingatie vitu vinne ambavyo ni mtaji ulionao(mtaji), unachotaka kuzalisha(lengo kuu) , muda wa kufikia lengo kuu(muda) pamoja na matumizi kwa siku (matumizi). 
<p>Utajiri ni ndoto yako ni kuwa na kiwango cha mtaji kitakachokutoa katika hatua moja ya ujasiriamali kwenda hatua nyingine- Ndoto yako ndio utajiri wako. Kumbuka maana ya neno utajiri; utajiri ni hatua ya juu zaidi kutoka kwenye hatua uliyopo sasa. Kwa wewe mjasiriamali  mdogo hatua yako ya juu ni kuwa mjasiriamali wa kati. 

<h3><span>Hatua za kupitia ili kupata malengo ya kina</span></h3>
<p>1. Baada ya kujua ndoto yako na muda wa kuifikia, hatua ya kwanza ni kujua mtaji ulionao. Huu mtaji unaweza kuwa ni wa pesa au wa bidhaa. Kama ni bidhaa inabidi ubadilishwe kwenye fedha yaani pesa iliyotumika kununulia au kama ni mali kauli basi ni pesa ambayo ingetumika kununulia hiyo bidhaa.
<p>2. Hatua ya pili ni kujua Riba kama pesa zimetoka benki, mfano, kama ulikopa milioni moja halafu ukatakiwa kurudisha milioni moja na laki tano basi laki tano ndio riba ya banki.
<p>3. Hatua ya tatu ni kukadiria faida ya kupata kutokana na mtaji ulionao yaani lengo kuu. 
<p>4. Hatua ya nne ni kupanga/kuweka muda wa kupata hiyo faida. Huu ni muda ambao utafanya biashara na kupata lengo kuu ulilojiwekea baada ya kurudisha mtaji na riba ya benki. 
<p>5. Hatua ya tano ni kufanya mahesabu na kujua jumla ya pesa zinazotakiwa kuzalishwa kwa kipindi chote ambazo ni; mtaji jumlisha faida yako(malengo) na faida ya benki.
<p>6. Hatua ya sita ni kufanya mahesabu na kujua malengo kwa mwezi. Hapa utapata malengo ya kuzalisha kwa mwezi kwa kuchukua jumla ya pesa zote katika hatua ya tano na kugawanya kwa miezi iliyopo kwenye muda ulioamua kufikia malengo yako.
<p>7. Hatua ya saba ni kufanya mahesabu na kujua malengo ya siku. Utayapata kwa kugawanya jumla ya siku katika mwezi mmoja.
<p>8. Hatua ya nane ni kufanya mahesabu na kujua gharama za matumizi yako ya siku. 
<p>9. Hatua ya tisa ni kujumlisha gharama za matumizi ya siku kwenye malengo ya siku yaliyopo katika hatua ya saba. Note: Gharama hizi ni kama vile chakula, nauli, usafiri, pesa ya dharura na kadhalika. Na kwasababu fedha za matumizi zinatokana na mauzo yako ya siku na kwasababu lengo kuu linatakiwa libaki pale pale ndio maana zinajumlishiwa kwenye gharama ya siku. Kwa hiyo inabidi uuze zaidi ili upate pesa ya matumizi
<p>10. Hatua ya kumi ni kufanya mahesabu ili kupata lengo la kina. Lengo hili linapatikana kwa kugawa jumla kuu uliyoipata kwenye hatua ya tisa na jumla ya masaa unayofanya kazi kwa siku. (yasipungue masaa nane)
Kwa lugha nyingine tunaeza kusema lengo la kina linapatikana kwa kuvunja vunja lengo kuu ili kujue kiasi cha kuingiza kwa saa.
 


<p><span>Sifa kuu ya Lengo kuu</span></p>
<p>Lengo kuu lazima liwe gumu kufikiwa. Lengo kuu ni sehemu ya maono ya utajiri wako, unaopatikana kwa kuzingatia mtaji uliona pamoja na muda. Kumbuka, majumuisho ya malengo makuu ndani ya miaka mitano ndio yatakuvusha kwenda hatua ya juu ya ujasiriamali. Lengo kuu likiwa dogo ni dhahiri kwamba hautaweza kufiki maono (kuwa tajiri). Kwahiyo lengo kuu lazima liwe/liashirie utajiri na lipatikane kwa muda mfupi. 
<p>Kama hatutaweka lengo kuu kwenye kila  mzigo wa biashara hautaweza kufanya mahesabu ya kijasiriamali. Wajasiriamali wanashindwa kufanya mahesabu kwa kisingizio cha wingi wa bidhaa. Ukijua umuhimu mahesabu utayafanya bila kujali wingi wa bidhaa. Wahenga waliposema mali bila daftari hupotea bila taarifa hawakuwa wajinga walikuwa wanaongelea hili. Sasa tuzame kwenye mfano wa mahesabu.

<h3><span>Mfano wa mahesabu</span></h3>
<p>Tuseme umeanza biashara ya kuuza vitabu, umepewa mkopo wa shilingi laki tatu (300,000) kutoka benki. Moja ya sharti la benki ni kurudisha mkopo na riba/faida ya shilingi laki mbili ndani ya miezi miwili(2). Maana yake ni kwamba utataikiwa urudishe laki tano ndani ya miezi miwili. Kumbuka, Iwe umechukua mkopo benki, umepewa na jamaa yako, umelipwa kazini, umeiba au umeokota ni utamaduni mzuri kimahesabu kutenga riba na  kuzingatia muda wa kurudisha. Ni vizuri kujijengea utamaduni huu ili kujenga nidhamu ya fedha. Hapa chini ndio kifupi cha maelezo kwa tarakimu.
<i>
<p>Mkopa kutoka benki= 300,000
<p>Riba  =200,000
<p>Jumla ya fedha za benki = 500,000 
<p>Kurudisha ndani ya miezi 2
<p>Lengo kuu 500,000 x 2 = 1,000,000
</i>
<p>Kwa kutumia mfano hapo juu, upo mtaji wa laki tano. Lengo letu ni kupata faida ya shilingi milioni moja ndani ya miezi sita. Maana yake ni kwamba utafanya biashara na baada ya miezi miwili utarudisha deni la benki la shilingi laki tano na kubakiwa mfukoni na shilingi milioni moja.</p> 
<p>Maswali la kujiuliza ni haya;
<ul>
 <p>1. Je lengo kuu la shilingi milioni moja litatimiza ndoto yako ndani ya miaka mitano? 
 <p>2.Je hili lengo njaa ya utajiri na,
 <p>3.Je kuna uhalisia wa kuweza kuzalisha hicho kiwango ndani ya miezi miwili? 
 </p>
</ul>
<p>Tumesema hapo juu kwamba lengo kuu lazima liwe na njaa ya utajiri yaani iwe imelenga kuwa tajiri. Halafu tulisema tena, hakikisha katika ujasiriamali wako unakuwa tajiri ndani ya miaka mitano, je unahisi kwa  kuzalisha milioni moja ndani ya miezi miwili itakufanya uwe tajiri ndani ya miaka mitano? Ukiona unajibu hapana maana yake ni kwamba lengo lako kuu halitakuvusha hatua nyingine ya ujasiriamali, kwa hiyo inabidi kuongeza. Na kama lengo litakufikisha lakini halina uhalisia kwamba sio rahisi kulifikia maana yake ni kwamba inabidi kulipunguza kidogo.</p>

<p>Kwa kifupi tunaweza kusema, weka kiwango ambacho ni kikubwa lakini sio kikubwa kupitiliza, lazima kiwe na uhalisia.
<p><i><span>Kumbuka;</span> mjasiriamali mdogo ni yule mwenye mtaji chini ya Tsh milioni 25, wa kati Tsh milioni 26 hadi Tsh milioni 100.</i></p> 

<p>Mahesabu hayawezi kufanyika kama hatujakadiria muda wa kutengeneza hiyo biashara. Tuseme tutazalisha hicho kiwango kwa  muda wa ya miezi miwili ambayo ni sawa na muda wa marejesho. 
<p><i>Angalizo:Kila mara unaponunua mzigo mpya au unapo ingiza mtaji mpya lazima uweke LENGO KUU. Mtaji unaweza kuwa pesa au bidhaa, hamna tofauti kwani vyote ni pesa. Faida ya lengo kuu ni lazima uijumuishe faida kutoka kwenye bidhaa zote.</i></p>

<h3><span>Utaweza kama akili, mwili na roho  vitakubaliana.</span></h3>
<p>Baada ya kuweka lengo kuu pamoja  na muda, kinachofuata ni hatua ya kisaikolojia zaidi yaani kulipokea lengo kuu na kuliamini. Hakuna sababu ya kuweka lengo kuu kama hautalikubali na kulipokea. 
<p>Kabla hatujaendelea na mahesabu  tuone na kujifunza siri iliyopo kwenye lengo kuu. 
<p>Kitendo cha kuweka lengo kuu na kuliamini maana yake ni kwamba akili, moyo pamoja na mwili wako vyote kwa pamoja vinakuwa vinazungumza lugha moja. Hii ni hatua muhimu sana kwani ni hatua ya makubaliano ya pamoja kati yako wewe na wewe mwenyewe juu ya mateso na mafanikio. Kwa lugha nyingine naweza kusema wewe umekubaliana na wewe. Wewe unapokubaliana  na wewe kwa maana kwamba hakutakuwepo tena na msuguano/mabishano ndani yako. Umeshawahi kuwaza kitu halafu ukajikuta unacheka mwenyewe kwa furaha? nakuambia hivi, pale wewe utakapokubaliana na wewe mwenyewe ni lazima utafikia ndoto yako. Ukisha liamini lengo lako kinachobaki ni hatua ya utekelezaji ambayo ni rahisi kama umeamini lakini ni ngumu kama hujaamini.

<h3>Ni vigumu kufanya biashara kwa mafanikio kama ulilplipanga mwenyewe huliamini, kwanini?.
<p>Utekelezaji ni mtihani mwingine ambao usipokuwa makini taratiiibu moyo, akili na mwili vitaanza kupishana. Kinachoanza kuchoka na kukatisha tamaa wenzake ni akili. 
<p>Ukimuona mtu hataki kabisa kufanya biashara ujue moyo wake ndio unaomzuia. Na ukimuona  mtu anasema anatamani kuanza biashara lakini anashindwa kuanza ujue hapo kinachomzingua ni akili yake pamoja na mwili wake. Na ukimuona mtu anafanya biashara lakini kila saa analalamika biashara ni ngumu ujue hapo  akili ndio inagoma. Ili kufanikiwa kwa jambo lolote unalotaka kulifanya lazima akili, mwili na moyo vikubaliane kwa pamoja. hii ni hatua muhimu sana katika kufanikiwa kwako. Kujiaminisha zaidi unatakiwa kuendelea kuvunja vunja changamoto katika vipande vidogo vidogo zaidi.  

<h3><span>Malengo ya miezi miwili.</span></h3>
<p>Kwasabu lengo kuu ni  kutengeneza milioni moja  ndani ya miezi miwili, tukijumlisha na kile kiwango cha kurudisha benki itatakiwa tuzalishe shilingi moja na laki tano, kama inavyoonekana hapo chini;
	<i>
<p>Pesa ya benki + riba = 500,000</p>
<p>Lengo = 1,000,000</p>
<p>Jumla = 1,500,000</p>
<p>Ndani ya miezi miwili</p>
</i>
<p>Malengo ya miezi miwili ni mazuri kwa kuona utajiri wako lakini hayaleti msukumo wa kutosha kwenye utendaji. Kumbuka, binaadamu ni msahaulifu, miezi miwili ni mingi sana kukumbuka kitu. Huwezi kupata ufahamu wa kiwango cha kujituma kwa mahesabu ya miezi miwili hivyo mahesabu zaidi yanahitajika kufanyika. </p>

<h3><span>Malengo ya mwezi mmoja</span></h3>
<p>Hatua inayofuata ni kupata malengo  ya mwezi. Kimahesabu ni rahisi sana kwani unagawanya na idadi ya miezi iliyopo kwenye muda uliojipangia. <i>Angalizo; Ili kupata mahesabu vizuri, hakikisha kila kipengele unakifayia mahesabu yake kama ifuatavyo;</i></p>
<i>
<p>Pesa ya benki kwa mwezi 500,000/2 = 250,000
<p>Lengo kwa mwezi 1,000,000/2 = 500,000
<p>Jumla kwa mwezi=750,000. 
</i>
<p>Maana ya mahesabu hapo juu ni kwamba, kila mwezi lazima biashara itengenze shilingini laki saba na alfu hamsini ili kuweza kurudisha deni la benki na kubakiwa na shilingini milioni moja, baada ya miezi miwili. 

<h3><span>Mapungufu na umuhimu wa malengo kwa mwezi.</span></h3>
<p>Malengo kwa mwezi bado ni ya muda mrefu sana na hayawezi kutumika katika ubunifu na utekelezaji wa kazi za ujasiriamali kwani utapata mrejesho wa biashara yako baada ya mwezi kuisha. Mrejesho wa mwezi mzima sio mzuri kwani changamoto zitakuwa zimejilimbikiza na kuwa nyingi sana ambazo zitakukatisha tamaa na utashindwa kuzimudu. </p>
<p>Umuhimu wa mahesabu ya mwezi ni kukuonyesha hali yako ya kiuchumi kwa ujumla, inaweza kukusaidia kuamua kama ufunge biashara au uendelee nayo. 
<p>Ili tuzikabili changamoto za mwezi mzima lazima tushuke kwenye mahesabu ya siku. Kabla ya kufanya mahesabu ya siku soma yafuatayo hapo chini ili upate uelewa zaidi.</p>

<h3><span>Jinsi ya kusogeza utashi wa mwanadamu karibu na ufahamu wake.</span></h3>
<p>Miujiza ya mahesabu yanatokea pale ambapo ufahamu wako unaposogezwa karibu na utashi wa mwanadamu. Ufahamu wako ndio unaopelekea maamuzi, mfano, unapofahamu kwamba yupo nyoka mahali fulani unapochukua maamuzi ya kutofika eneo hilo. Ufahamu kuhusu kiasi cha kuuza na kiasi cha kutumia kikiletwa karibu yako kinausukuma utashi wako kukufanya maamuzi na kusukuma mwili wako kutenda. 
<p>Unapopata ufahamu wa biashara yako kwa kila saa ni lazima utapambana na changamoto hizo kwa kila saa, vile vile unapopata ufahamu kwa siku unapambana na changamoto zote zinazojitokeza kwa siku ile. Vile vile unapopata ufahamu kwa mwezi unapambana na changamoto zote zilizojitokeza ndani ya mwezi ule. 
<p>Binaadamu hana uwezo wa kupambana na changamoto nyingi na kubwa kwa wakati mmoja ndio maana watu wengi wanashindwa biashara kabla hata hawajaanza biashara.
<p>Mahesabu yanaleta uelewa wa hali halisi inayokuzunguka kwa wakati huo na hivyo kuongoza maamuzi yako. Ndio maana mahesabu yanatakiwa yapigwe katika level ya chini ya muda,  ndani ya lisaa limoja. 

<p>Mahesabu chombo cha kufanyia maamuzi lakini pia mahesabu ni... kwa kiingereza imekaa vizuri..  "it is a driving force", yaani ni chombo cha kutoa msukumo wa kutenda. 
<p>Mganga wa kienyeji hana kitu chochote anachokifanya zaidi ya kucheza na akili yako na kukupa msukumo wa kazi, tofauti yake ni kwamba msukumo wa mganga umefichwa ndani ya imani potofu wakati msukumo wa mahesabu unaletwa na ukweli na uhalisia wa mambo. Mahesabu yanasema hivi; ili uwe tajiri lazima uingize kiasi fulani kwa saa. Hiki kiwango sio cha kubahatisha bali ni cha ukweli ambacho haki ongopi. Unaposhindwa, mahesabu yanakuonyesha mahali  ulipokosea wakati uchawi unarusha lawama kwa ndugu, jamaa na marafiki. 
<p>Mahesabu ni siri ya kweli kwani yanabaini ukweli na pili yanaweza ridhishwa kwa vizazi vijavyo.</p> 

<h3><span>Jinsi ya kupata mahesabu ya siku.</span></h3>
<p>Ili kupata mahesabu  kwa siku inabidi tugawanye mahesabu yetu kwa siku thelathini za mwezi. kama ifuatavyo;
	<i>
<p>Pesa ya benki kwa siku 250,000/30= 8,333
<p>Lengo kwa siku 500,000/30= 17,000
<p>Jumla = 25,333/=
</i>
<p>Kwa mahesabu haya maana yake ni kwamba kila siku iendayo kwa Mungu ni lazima uuze mzigo wa shilingi alfu ishirini na mbili ndipo uweze kurudisha mkopo wa benki na kubakiwa na shilingi milioni moja mfukoni  kama faida yako baada ya miezi miwili.

<h3><span>Mahesabu katika uhalisia wa maisha.</span></h3>
<p>Kumbuka, kwenye uhalisia wa maisha kuna gharama za kila siku kama vile kula, kusafiri, kulipa mfanyakazi, kulipia vocha, na gharama nyingine nyingi. Hizi gharama zipo na ni lazima zigharamiwe, hakuna chanzo kingine cha pesa zaidi ya biashara yako. Vile vile, kumbuka kwamba tumepiga mahesabu kwa siku thelathini lakini kiuhalisia hatuwezi kufanya kazi siku zote thelathini kaitka mwezi ni lazima kuna siku ya kupumzika.  sasa hatua inayofuata ni kuweka uhalisia katika mahesabu yetu. Kumbuka, pamoja na gharama za maisha malengo yetu lazima yabaki pale pale kwahiyo ili malengo yetu yasiadhiriwe na gharama ni lazima tuuze na kupata faida ya ziada kwa matumizi yetu. Njia nyepesi ni kupata jumla ya gharama zote na kuziongeza kwenye mauzo. Sasa twende kuingiza gharama za siku kwenye mahesabu yetu.

<p>Tuseme tutapumzika siku moja kila wiki halafu tusema kutakuwepo na siku moja ya dharura kwa mwezi, kwa hiyo ndani ya mwezi mmoja zitabaki siku 25. Mahesabu yetu kwa mwezi yanakuwa hivi;
<i>
<p>Pesa ya benki kwa siku 250,000/25= 10,000
<p>Lengo kwa siku 500,000/25= 20,000
<p><span>Jumla = 30,000/=</span></p>
</i>

<p>Sasa tuangalie gharama za matumizi kwa siku halafu;
	<i>
<p>Chai Asubuhi= 2,000
<p>Chakula cha mchana= 3,000
<p>Usafiri =1,000
<p>Matumizi nyumbani = 10,000
<p>Dharura = 3,000
<p>Jumla ya gharama kwa siku ni shilingi 18,000.</i>
<p>Lazima biashara yetu izalishe shilingi alfu kumi na nane zaidi kwa ajili ya matimizi yetu, kwahiyo mahesabu yatakuwa hivi;</p>
<i>
<p>Pesa ya benki kwa siku 6,000
<p>Lengo kwa siku 30,000 +18,000= 48,000
<p>Jumla = 54,000/=

</i>
<p>Kwa mahesabu haya maana yake ni kwamba kila siku iendayo kwa Mungu ni lazima uuze bidhaa za shilingi alfu hamsini na nne (54) ndipo uweze kurudisha mkopo wa benki na kubakiwa na shilingi milioni moja mfukoni  kama faida yako baada ya miezi miwili.</p>


<h3><span>Faida na hasara ya mahesabu ya siku</span></h3>
<p>Mahesabu kwa siku yanakupa jumla ya mauzo ambayo unatakiwa kuyafanya kila siku. Maana yake ni kwamba ukiuza chini ya hicho kiwango kwa siku hautaweza kufikia lengo kuu uliojiwekea la kupata shilingi milioni moja ndani ya miezi miwili.  Ukiyakubali na kuyaamini malengo yako ya siku ni dhahiri kwamba utaheshimu pesa zako.</p> 
<p>Mahesabu kwa siku yatakuonyesha dhahiri kiwango cha kuuza kwa siku, kiwango cha kutumia kwa siku na kiwango cha kuhifadhi kwa siku. Mahesabu ya siku ni kama mzazi kwa mtoto, kila anapokosea anamfinya na kumrekebisha kabla hajawa mkubwa na kupotea. Samaki mkunje angali mbichi, hii ndio kazi ya mahesabu katika ujasiriamali kwani yanakuwezesha kuona hatari kabla hatari haijawa kubwa sana. 
<p>Ukiishia kwenye mahesabu ya siku inaweza kutosha lakini niamini mimi, ili siri ya mahesabu ijidhihirishe vizuri kwako ni lazima ujue pesa ya kuingiza kwa saa. Kutokana na umuhimu wa mahesabu kwa saa tumeipa sura yake pekee, twende kwenye sura inayofuata tushuhudie miujiza. 

			

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>


<h3><a name="sayamsukumo"></a></h3>
<div class="text-center">
						<h2>SURA YA NNE</h2>

						<h3>MALENGO YA KINA</h3>
					</div>	
<p>Kwasababu unakubaliana na mimi kwamba biashara ni matangazo basi maana yake ni kwamba biashara inakuwa mbaya kwasababu matangazo ni mabaya au sio ya kutosha. Ni vigumu kujua wingi na ubora wa matangazo hadi uwe na malengo ndani ya kipindi kifupi sana-lisaa limoja.
<p>Mahesabu yakikupa malengo kwa saa yanayokufanya utangaze kwa nguvu na ubora zaidi ili ufikie malengo. Malengo ya kina yanapima ufanisi wa matangazo kwa saa na endapo biashara itakuwa mbaya basi mahesabu ya lisaa yatapiga kelele kukutaka ufanye kitu cha ziada kama vile kubadilisha mbinu yako ya uuzaji nk. 
<p>Ukiwa na lengo kwa saa, mtu aliyepo pembeni yako lazima atakuona wewe ni chizi kwani kila wakati utakuwa unatatangaza biashara yako kwa mbinu yeyote ile iliyopo duniani bila uoga wowote. Mtu asiyefahamu siri hii hataweza kuelewana na wewe bali atakuwa anakushanga tu. 
<p>Taarifa ya mauzo kwa saa ni muhimu sana kwani inachukua nafasi ya kukusukuma ili ujitume zaidi. Mjasiriamali wa kweli ni yule anayajua malengo yake kwa saa na anajitahidi kunayafikia.
<p>Kumbuka bila mahesabu kwa saa maana yake ni kwamba utapata taarifa ya changamoto za biashara yako kwa kuchelewa ambapo  utakuta changamoto zimejilimbikiza na kuwa kubwa sana. Sasa tuone kimahesabu namna ya kupata lengo kwa saa (lengo la kina).

<h3><span>Jinsi ya kupata lengo kwa saa (lengo la kina)</span></h3>
<p>Hatua ya kwanza ya kupata lengo kwa saa ni kuamua masaa ya kufanya kazi kwa siku. Kwa kiwango cha kimataifa, mtu anafanya kazi masaa nane kwa siku. Akifanya kazi zaidi ya hapo inakuwa ni muda wa ziada na anapaswa kulipwa pesa ya ziada. 
<p>Hii inatumika zaidi kwenye ajira lakini ni utamaduni mzuri kwa mjasiriamali  kujiwekea misingi kama hii kwani inazidisha heshima katika kazi. Mjasiriamali akishindwa kufikisha lengo lake kwa siku ataalazimika kufanya masaa ya ziada.</p> 

<p>Ona hii, Mfanyakazi aliyeajiriwa anafanya kazi masaa ya ziada ili alipwe pesa za ziada lakini mjasiriamali anafanya kazi masaa ya ziada kujiadhibu kwa kutofikia malengo yake. Sababu pekee ya mjasiriamali kufanya kazi zaidi ya masaa nane ni kwa lengo la kufikia lengo alilojiwekea kwa siku. Kama mjasiriamali atafikisha lengo lake kwa siku ndani ya masaa nani kamwe haruhusiwi kuongeza muda wa ziada. nitaelezea baadae.
<p>Kwa kuzingatia masaa nane, mahesabu yetu yatakuwa ni Jumla ya pesa zote kwa siku gawanya kwa nane kama ifuatavyo;
	<i>
<p>6,000+30,000+18,000 = 54,000/8
<p>Shilingi 6750/= kwa saa
</i>
<p>Maana yake ni kwamba ukichukua mkopo wa shilingi laki tatu, ili urudishe shilingi laki tano baada ya miezi miwili na kisha ubakiwe na shilingi milioni moja ni lazima kila saa uuze vitabu vya shilingi elfu sita na mia saba hamsini kwa saa</p> 
<p>Kwa maana hiyo kama kila kitabu ni shilingi 1000 kwa saa itabidi uuze vitabu 7 kama ifuatavyo;
<i><span> 
<p>6750 / 1000 (bei ya kitabu kimoja) = 6.75 sawa na 7
</p></span></i>
<p>Kwa maana hiyo ni kwamba kila siku lazima uuze vitabu 56 yaani;</p>
<i><p>7(vitabu kwa saa) x 8(masaa ya kazi kwa siku) = 56.</p></i>

<p><span>Nini maana yake</span></p>
<p>Maana yake ni kwamba ukiweza kuuza vitabu saba kwa kila saa kwa masaa nane kwa siku utaweza kurudisha deni lako la shilingi alfu tano ndani ya miezi miwili, utaweza kugharamia matumizi yako yote, na pia utabakiwa na shilingi milioni moja mfukoni. Milioni moja uliyobakiwa nayo maana yake ni kwamba wewe unabadilika na kuwa bank kwani unajikopa hiyo milioni moja na mzunguko unaanza tena. Kumbuka, haijalishi pesa umepata wapi ni lazima pesa zote za mtaji zichukuliwe kama vile zimetoka benki. </p>

<p><span>Mshirikishe mungu</span></p>
<p>Baada ya hapo huo, sasa umefika wakati wa kumshirikisha mungu na kumueleza mipango yako. Imani yako itakusaidia kuzidisha msukumo ndani yako na kukuepusha na balaa zingine ambazo zipo nje ya uwezo wako, balaa kama vile ajali, vifo, magonjwa n.k. Ni wazi kwamba hata kama umefanya mahesabu vizuri kiasi gani au hata kama una msukumo mkubwa kiasi gani ukiwa mgonjwa hutaweza kufanya shughuli zako za ujasiriamali kwa weledi. Unaposali ni vizuri kumueleza mungu undani wa kile unachokiomba. Sura inayofuata tutaangalia nguvu ya kusali kwa mahesabu. </p> 


<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>




<h3><a name="ugonjwa"></a></h3>
<div class="text-center">
						<h2>SURA YA TANO</h2>

						<h3>NGUVU YA KUSALI KWA MAHESABU.</h3>
					</div>	

<p>Unapokuwa na malengo ya kina bado utahitaji nguvu nyingine ya kukuepusha na tusiyoweza kuyaona kwa macho na akili zetu za kibinaadamu, kama vile magonjwa, ajali, chuki nk. Hizi ni changamoto ambazo ni vikwazo kwa mafanikio ya biashara zetu. Sala ni muhimu sana katika kukamilisha mipango yako... kwa kiingereza imekaa vizuri... to seal the deal. Unapomuomba Mungu akuepushe na balaa na kuzidisha palipopungua ni vizuri kuonyeshe haja yako kwa kina, kimahesabu ili Mungu aelewe zaidi uhitaji wako na kukusaidia kwa haraka. 
<p>Unaposali kwa mahesabu unaelezea shida zako kwa mapana zaidi, kwa maana kwamba unaelezea mlolongo mzima wa kilichotokea namna kilivyotokea na namna ulivyo/unavyofikiria kukikabili. Lakini pia unaonyesha ushahidi na kukiri maeneo uliyoyakosea. Pia unaelezea mbinu unazozitumia katika kutatua hizo changamoto na hatimaye unamuomba mungu akupe mbinu mbadala ambayo inafanya kazi zaidi. 


<h3><span>Ukishindwa usimlaumu Mungu</span></h3>
<p>Mara nyingi tunamlaumu Mungu lakini makosa ni yetu, tumekuwa tukipeleka maombi yenye mapungufu au ambayo hayajakamilika. Hebu fikiria hili, mtoto wako akija kukuomba  pesa bila kutaja kiwango, je atapaswa kukulaumu ukimpattia kiasi kisichotosha?. Huyo mtoto atakosea sana akikulaumu  kwani ameomba bila kuonyesha kiwango na mchanganuo wa fedha. Sasa tuseme, mtoto mwingine amekuja kwako na kusema hivi "Baba, unakumbuka ulininunulia madaftari matano na kalamu tano miezi mitatu iliyopita?, haya hapa madaftari yamejaaa yote na kalamu hizi hapa zimeisha. Naomba unipatie shilingi alfu kumi kwa ajili ya madaftari manne, kila moja linauzwa shilingi alfu moja na kalamu nne, kila moja shilingi alfu moja. Alfu mbili iliyobaki nitaitumia kwa ajili ya nauli".</p> 
<p>Unapotoa taarifa kwa mahesabu na ushahidi hata kama mzazi hana pesa kwa wakati huo jambo hilo litaendelea kumsumbua kila wakati mpaka atakusaidia. Kumbuka, unapofanya mahesabu sio tu unapata kitu cha kushawishi bali unaonyesha uhakika wa mahitaji yako. Hapa mahesabu yamechukuwa nafasi ya ushawishi lakini pia yamekuwa sehemu ya msukumo. </p>
<p>Unapopeleka maombi yako kwa Mungu kuhusu shughuli zako za ujasiriamali ni muhimu ziwe zimeelezewa vizuri kimahesabu. </p>

<p><span>Ninavyofikiri </span></p>
<p>Watu wengi hawasali au wanasali kidogo tu kwa kudhani kwamba Mungu anafahamu mahitaji yao. Hili ni kosa, ifuatayo ni imani yangu  kuhusu mahusiano ya mungu na sisi. Unaweza usikubaliane na mimi  lakini mwisho wa siku Mungu ndiye Muweza wa yote.
<p>•<span>Moja,</span> ninaamini kwamba Mungu anaweza kufanya kitu chochote, anaweza kuamuru kitu kiwe au kisiwe. Pia nina amini kwamba Mungu ndiye muumbaji wa kila kitu. 
<p>•<span>Mbili,</span> ninaamini kwamba kitu kibaya kwa mwanadamu kwa Mungu kinaweza kuwa kibaya, kizuri au kisiwe kitu chochote. Mfano, kifo kwa binaadamu ni jambo baya sana na linalohuzunisha, kwa Mungu kifo ni kifo, kinaweza kikawa  ni kitu kibaya, kizuri au kisiwe chochote. Kwa bianaadamu usahaulifu ni udhaifu, kwa Mungu usahaulifu unaweza ukawa ni udhaifu, ujasiri au sio chochote. 
<p>•<span>Tatu,</span> ninaamini kwamba Mungu ana uwezo wa kujisahaulisha kwa makusudi na pia ana uweza wa kujikumbusha kwa makusudi. 
•<p>.<span>Nne,</span> pia nina amini kwamba Mungu ame programu kila kitu halafu akatupa uwezo wa kujiamulia lakini pia akaweka mipaka, kwamba hata kikitokea kisiweze kuzidi kiasi fulani, kwamba Mungu ameweka vigezo, masharti na ukomo kwa kila kitu kinachotokea.
•<p>.<span>Tano,</span> naamini kwamba baada ya mungu kuweka vigezo, masharti na ukomo kwa kila kitu akajisahaulisha kwa makusudi ili  vitu vitokee vyenyewe bila ya yeye kujua na ikiwezekana ashangae atakapokuja kuona matokeo yake baadae. 


<p>Ili unielewe vizuri, haya yote niliyoyasema hapo juu nitayaweka kwenye sentensi moja kama ifuatayo; " Ninaamini kwamba Mungu ndiye mmiliki wa kila kitu, mwenye uwezo wa kuamua nini kiwe na nini kisiwe, akatengeneza kila kitu na kuweka mipaka halafu akajisahaulisha akamuachia mwanadamu uhuru wa kutafuta ili apate kutokana na hali aliyoikuta, hali aliyonayo pamoja na matendo yake.

<h3><span>Faida ya kusali kwa mahesabu.</span></h3>
<p>Mjasiraiamali akifahamu na kuweza kutumia hesabu katika ulimwengu wa roho akachanganya na nguvu ya mahesabu na matangazo katika ulimwengu wa mwili basi atakuwa katika nafasi nzuri sana kibiashara. 
Mahesabu yanakupa ukweli na uhalisia wa biashara yako katika ulimwengu wa mwili wakati sala itakuunganisha na mungu, itakupa msukumo na kukuepusha na mambo mabaya yaliyo katika  ulimwengu wa roho. 
<p>Usipoomba kwa kueleza mahitaji yako kwa kina unafanya kosa kwani unamuweka Mungu kwenye majaribu. Ukiweza kusali kwa mahesabu Mungu atakuelewa na atakusaidia kwenye mikakati yako ya kutangaza biashara yako. Kumbuka, Mungu ameshawekea matangazo kwenye ufahamu wako ndio maana kila mjasiriamali anafanya matangazo, chukua hatua, weka mipango katika utaratibu mzuri kisha mshirikishe Mungu utashanga kila kitu kinakwenda sawa.

<h3><span>Sali kwa marudio</span></h3>
<p>Unaposali sio lazima ujibiwe pale pale na unaposali mara moja kuna uwezekano usijibiwe kabisa. Ni jukumu lako kusali kwa marudio mpaka pale sala yako itakapo jibiwa. Kumbuka, Mungu ametuumba kwa mfano wake, kama ilivyo kwa baba yako mzazi pale unapomuomba kitu hivyo ndivyo ilivyo kwa mungu. Omba kwa unyenyekevu, tumia mahesabu kuonyeshga mchanganuo, eleza unapokwama halafu omba msaada kisha rudia sala hiyo hiyo mara nyingi mpaka ufanikiwe unachokiomba.
<p>Omba kwa marudio maana yake ni kwamba lazima uombe kwa imani kwa kujirudia rudia bila kukata tamaa mpaka utakapo pata jibu. Mshirikishe mungu mbinu zako za biashara na kisha muombe akupe mbinu zaidi. 



<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>


<h3><a name="ujasiriamali"></a></h3>
<div class="text-center">
						<h2>SURA YA SITA</h2>

						<h3>KITABU KWA UFUPI</h3>
					</div>	
<p>•	Mahesabu
<p>•	"Hizi pesa zina mahesabu"
<p>•	Mahesabu yanachukua nafasi ya mganga, usimamizi na hata nafasi ya kitabu hiki.
<p>•	Malengo ya mahesabu ya kijasiriamali sio kujua faida na hasara bali ni msukumo wa ubunifu.
<p>•	Wajasiriamali wengi wana malengo ya kuwa tajiri lakini hawana malengo ya kina.
<p>•	Malengo ya kina hutumika kama kumbusho, msukumo na rahisisho la changamoto za kijasiriamali.
<p>•	Mwanaadamu ameumbwa kusahau hivyo ni lazima akumbushwe mara kwa mara. Asipokumbushwa anasahau na akisahau changamoto zinajilimbikiza na zinapojilimbikiza inakuwa ngumu sana kuzitatua na inakuwa ndio mwanzao wa kuchukia, kuchoka, kukata tamaa na kukimbia na kuacha ulichotaka kukifanya.
<p>•	Je, ili uwe tajiri unataka uwe na kiasi gani cha fedha?
<p>•	Unapofanya mahesabu ya kijasiriamali hatua ya kwanza ni kuchukua mtaji ulionao halafu kukadiria faida ya kupata kutokana na huo mtaji.
<p>•	Hatua ya pili ni kuamua au kuweka muda maalum wa kuipata hiyo faida.
<p>•	Baada ya kuweka lengo kuu lenye sifa zote kinachofuata ni hatua ya kisaikolojia zaidi yaani kulipokea lengo kuu na kuliamini.
<p>•	Ukiweza kuamini lengo lako inabaki hatua nyingine ngumu ya utekelezaji.
<p>•	Miujiza ya mahesabu yanatatokea pale ambapo maamuzi ya kipato na matumizi yanasogezwa karibu na ufahamu na vitendo vya mwili wa binaadamu. 
<p>•	Ukiishia kwenye mahesabu ya siku inaweza kutosha lakini niamini mimi, ili siri ya mahesabu ijidhihirishe vizuri ni lazima mjasiriamali ajue pesa ya kuingiza kwa saa.
<p>•	Nguvu ya kusali kwa mahesabu.
<p>•	Nguvu ya kusali kwa mahesabu
<p>•	Pamoja na bidii zote za kiujasiriamali tutakazoweza kufanya, sisi binaadamu tuna mapungufu, sala ni muhimu sana katika ku... kiingereza imekaa vizuri zaidi... to seal the deal yaani kukamilisha jambo.
<p>•	Wakati mwingine tunamlaumu Mungu kwa makosa yetu wenyewe kwani tumekuwa tukipeleka maombi yetu kwake maombi yenye mapungufu.
<p>•	Watu wengi wanajidanganya kwa kudhani kwamba kwasababu Mungu anafahamu kila kitu basi anafahamu hata mahitaji yake kwahiyo hana haja kuchanganua na kueleza kila kitu anachokihitaji.
<p>•	Ninaamini kwamba Mungu anaweza yote kwa maana kwamba anaweza kufanya au kuamuru kitu chochote na kikatokee kama alivyotaka yeye.
<p>•	Nasema haya yote kwasababu nataka kuunganisha nguvu ya mahesabu na matangazo iliyopo katika ulimengu wa mwili pamoja na nguvu ya sala iliyopo katika ulimwengu wa roho.
<p>•	Pamoja na kuwa ujasiriamali ni mzuri, usipokuwa makini ni rahisi sana kupoteza biashara yako kwa kufanya ubunifu mbaya.
<p>•	Ubunifu katika ujasiriamali unakuja na faida zake pamoja na hasara zake kwahiyo ni lazima kuwa makini sana wakati wa kufanya ubunifu sana sana ule ubunifu unaoleta mabadiliko makubwa.
<p>•	Mjasiriamali mzuri ni yule anaye jaribu mabadiliko kwanza katika kiwango kidogo kabla hajaanza kuitumia kwenye kiwango kubwa. 
<p>•	Ni vigumu sana kwa mjasiriamali kufanikiwa kama kile anachokifanya hakipendi.
<p>•	Ujasiriamali sio kubadilisha biashara bali ni kuboresha biashara.
<p>•	Pale unapofikiria kuiacha biashara fulani kumbuka kwamba tayari umeshajifunza sehemu kubwa ya changamoto za hiyo biashara na unapoiacha na kuanza biashara nyingine maana yake ni kwamba unaanza mwanzo kujifunza changamoto ya hiyo biashara mpaya. 
<p>•	Kumbuka, hakuna biashara rahisi, biashara yeyote ni ngumu na inahitaji mikakati mingi na mikubwa.
<p>•	Kila bidhaa ya kuuza inayo muda wake wa ku expire, maan yake kwamba lazima bidhaa yeyote iuzwe kwa wakati. 
<p>•	Changamoto kubwa wanayokumbana nayo wajasiriamali ni kushindwa kuhesabu bidhaa zao kwa madai ya ugumu. 
<p>•	Ni dhahiri kwamba ukitulia vizuri unaweza kutengeneza utaratibu wa kuona bidhaa zako jinsi zinavyoingi na kutoka. 
<p>•	Wajasiriamali wengine ni wavivu wa kufanya mahesabu lakini wanashindwa kujua kwamba mahesabu yatawasaidia kuondokana na

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>





	
	

	
						</div>
						
			</div>


		</div>
	
</main>
     
     
      {% endblock %}   
        
       