<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

	<main class="main-wrapper">

	<div class="main-section">
		<div class="container">
			<div id="test" onmousedown='return false;' onselectstart='return false;'>

<a href="{% url 'home:index'%}">Vitabu vingine</a>
<!-- <a href="{% url 'accounts:logout'%}">Home</a> -->
				<h1 class="topic-title">Mbinu tisa za kudai deni kwa mafanikio</h1>

                            <hr>
                            
	

<p>Njia pekee ya kuepuka ku dai wateja  ni kuuza bidhaa zako fedha taslimu (<i>cash</i>), lkn kuuza  <i>cash</i> ina changamoto nyingi kwani wateja wengi wanakuwa hawana pesa taslimu, pili wengi wanapenda kupata vitu bwereree na kadhalika. Kutokana na hilo hatuwezi kukwepa kuuza kwa mkopo. 
Kweli kukopa harusi kulipa matanga, inaumiza na inatia hasira pale unapo mtendea mteja wako mema, kwa kumkopa, halafu matokeo yake anakuzungusha, hataki kukulipa. Utamu wa ngoma unakuja pale ambapo unataka kumdai mteja lakini wakati huo huo hutaki kumuudhi.  Makala hii itakufundisha mbinu za kudai mteja kwa mafanikio. Kabla hatujaona mbinu za kudai kwa mafanikio tuone kwanini madeni mengi yanasumbua kulipwa.</p>

<p>Unajua kwanini ni vigumu sana kwa mtu kulipa deni? Ni kwa sabu moja kubwa, ameshindwa kulipa deni lako kipaumbele. Unachotakiwa kufanya kama mjasiriamalu ni kulipa deni lako kipaumbele kwenye akili ya mteja wako. Mbinu kubwa inayotumiwa na wajasiriamali wengi ni ya kumpigia mteja simu za mara kwa mara. Pamoja na kuwa simu zinasaidi kulipa deni kipaumbele  lakini mara nyingi simu zinasababisha usumbufu na kuchukiwa. Mbaya zaidi simu zinaweza kufanya usilipwe kabisa au hata ukilipwa mteja anaweza kukimbia. 
Wateja wanatofautiana, na utofauti huu unaweza ukawa ni kutokana na tabia au hali halisi ya kifedha. Wapo wateja ambao wawe na pesa wasiwe na pesa wao ni wasumbufu kulipa deni. Ni jukumu lako kuwajua hao wateja na kuwa treat tofauti. Lakini swali linalokuja ni hili, utawajua wateja wangapi ili uweze kuwa treat tofauti. Ukiwa kama mjasiriamali unayekuwa unatakiwa utengeneze utaratibu ambao utakunufaisha sasa hivi ukiwa na wateja wachache na baadae ukiwa na wateja wengi. Sasa tuangalie mbinu za kudai kwa mafanikio.</p>

<p><span>1. Usikope mtaji kopa faida.</span></p>
<p>Kanuni ni hii, kama umeshindwa kuuza cash, kamwe usikopeshe kwa asilimia mia moja, ni heri usifanye biashara. Nitakueleza kwanini, mtaji sio pesa yako na wala huruhusiwi kucheza nayo kwa hiyo ni kosa kubwa tena ni dhambi kukopesha kwa asilimia mia. Hakikisha mtaji wako unalipwa halafu unakopesha faida. Mfano, unauza viatu  kwa shilingi alfu ishirini,  kwenye hiyo alfu ishirini mtaji wako ni sh alfu nane na  faida yako ni shilingi alfu kumi na mbili, hakikisha anakulipa mtaji wako wa shilingi alfu nane halafu unamkopesha shilingi kumi na mbili ambayo ndio faida yako. Ukikopesha faida unalinda mtaji wako, unapunguza maumivu pale unapozungushwa hivyo kutoa nafasi kwa mbinu zingine. Kumbuka; ni heri usifanye biashara kuliko kukopesha mtaji.</p>

<p><span>2. Tumia uongo.</span></p>
<p>Ni eneo moja tu ambalo kusema uongo sio dhambi nalo ni pale unapodai au unapotenda haki. Niamini mimi, kama umeshawahi kusikia neno "tumia maarifa", linalohibiriwa  kwenye vitabu vitakatifu, basi ujue maana yake ni tumia uongo kutenda haki. Kwenye haki uongo unabadilika na kuwa maarifa. Mdanganye mteja mpaka akulipe haki yako. Angalia usitumie uongo vinginevyo kwani utaua biashara yako.
<p><span>3. Tumia mbinu ya Ajira.</span></p>
<p>Inapendeza kuwa bosi lakini sio kila wakati ubosi una faida, pale unapodili na kudai wateja usipende kujitambulisha kama mwenye maamuzi ya mwisho badala yake jipachike ajira. Unapo ongea kama muajiriwa unakuwa na nafasi kubwa zaidi ya kumdai mtu kwa kumsingizia bosi wako hivyo kumfanya asikuchukie wewe na kukulipa. Unaposema umetumwa unapunguza kumuudhi mteja. </p>
<p><span>4. Tumia mbinu ya Mkataba.</span></p>
<p>Jenga utamaduni wa kuweka mkataba, sio lazima mkataba uwe wa maneno mengi ya kisheria na wala sio lazima uitwe mkataba. Maneno machache sana yenye muonekano wa risiti yanatosha kuwa kama mkataba, hakikisha mteja ana saini. Unapomsainisha mteja usitaje neno mkataba, chukulia kama risiti kwa ajili ya kumbukumbu zako. Hakuna mteja akakayekataa ku saini risiti lakini mkataba utasaini mwenyewe nakuambia. Kijikaratasi chochote kinaweza kuwa ushahidi mahakamani au popote pale hivyo kutoa shinikizo kwa mteja kukulipa.
<p><span>5.Rekodi mazungumzo yenu.</span></p>
<p>Sasa hivi masha yamerahisishwa sana. Unaweza ku install application katika simu yako ambayo ina rekodi mazungumzo yote katika simu yako. Hakikisha una rekodi mazungumzo yenu yote kuhusu makubaliano yeno na ahadi zake anazokupa. Haya mazungumzo ni muhimu sana sio tu katika kumshawishi bali hata katika kumdai kwa lazima.</p>
<p><span>6. Toa offer zaidi.</span></p>
<p>Kutoa ofa zaidi ni mbinu nyingine inayoweza kurejesha deni lako. Kama una uwezo wa kumpatia offer nzuri zaidi tumia mbinu hiyo kulipwa deni lako. Mpelekee ofa lakini yenye masharti ya kulipa deni la nyuma.</p> 
<p><span>7. Chukua RB.</span></p>
<p>Pale mambo yanapotaka kushindikana nenda polisi chukua Rd. Kumbuka, unapokuwa na mkataba mkononi maana yake ni kwamba unakuwa na ushahidi, ukiwa na ushahidi ni kwamba unaweza kufungua kesi na kushinda. Lengo la kuchukua RB sio kumkamata mteja na kumpeleka polisi bali ni kumfanya mteja alipe deni lako kipaumbele. Ili kutimiza lengo hilo usikimbie kuchukua polisi na kwenda kumkamata mteja wako bali mfuate kisha muonyeshe hiyo rb halafu kwa lugha ya upole kabisa muambie bosi wako ameenda kukuchukulia rb. Tumia uwezo wako wa kuongea kumsihi alipe deni.</p>
<p><span>8. Nenda mahakamani.</span></p>
<p>Hii ni hatua ya mwisho kabisa ambayo sitegemei uifikie, lakini hakikisha on top ya mkataba unakuwa na kumbukumbu ya mazunguzo yote mliyokuwa munayafanya. Lengo kubwa sio kumpeleka mahakamani mteja wako bali ni kumfanya alipe deni lako kipaumbele na kukulipa. Kabla hujaenda mahakamani hakikisha unmtaarifu na kumuonyesha kwamba hiyo ndio hatua unayoenda kuichukua. ikishindikana basi nenda mahakamani ili upate haki yako.</p>
<p><span>9. Usitumie hasira.</span></p>
<p>Unaweza kudai haki yako kwa nguvu zote bila kuwa na hasira. Sio tu kwamba hasira itakunyima haki yako bali itakuletea madhara katika afya yako. Jitahidi sana wakati unamdai haki yako unaweka hasira mbali. Kumbuka; hasira inaleta chuki, busara inaleta upendo. Tumia busara kudai haki yako zidisha upendo.</p>


				
		<br>


	
						</div>
						
			</div>


		</div>
	
</main>
     
     
      {% endblock %}   
        
       