<!DOCTYPE html>
<html lang="en">
    
{% extends 'base3.html' %}
{% load staticfiles %}

{%block head%}
     
    
    
    {%endblock%}



 {% block body %}

	<main class="main-wrapper">
		
		
		





	<div class="main-section">
		<div class="container">
			<div id="test" onmousedown='return false;' onselectstart='return false;'>

<a href="{% url 'home:index'%}">Items</a>
<a href="{% url 'accounts:logout'%}">Home</a>
				<h1 class="topic-title">NGUZO TATU ZA
MJASIRIAMALI 
</h1>
				<h2 class="topic-title">Uaminifu, ubora na bidii </h2>

	
<p><span>MISEMO</span></p>
			
<P>"Ili upate pesa lazima ujiumize kwa hiari, laa sivyo maisha yatakuumiza kesho kwa lazima pale utakapokosa pesa, maumivu ya lazima ni machungu kuliko ya hiari " By OB</p>
<P>"Malengo ya kina ni ufunuo wa uhalisia wa changamoto za biashara yako ndani ya kipindi kifupi " By OB </p>
<P>"Ili mjasiriamali afanikiwe ni lazima afanye  mambo ambayo wengine hawawezi au hawapendi  kuyafanya." By OB </p>
<P>"Kwa kila unachokifanya tumia muda wako mwingi kufanya yaliyo magumu kwanza. Kumbuka, hakuna gumu lililo rahisi, uzuri ni kwamba ugumu upo mwanzoni tu". By OB </p>
<P>"Kama unataka kufanikisha jambo  gumu ni lazima kutafuta ufumbuzi kwa kila changamoto moja inapojitokeza, kusubiri  zikalimbikizana ni kujihakikshia kushindwa." By OB</p>
 

                      <hr>   
                         
    <p><span>ISBN 978-9976- 5-1617-3</span>
<P>Kazi hii inalindwa na sheria ya  umiliki ya Jamuhuri ya Muungano wa Tanzania. Haki zote zimehifadhiwa, hairuhusiwi kuiga, kunakili au kutoa kopi
ya kitabu hiki kwa njia yeyote ile bila ya idhini ya mwandishi.</P>
<P>Yaliyomo kwenye kitabu hiki yanaweza kubadilika wakati wowote bila taarifa.</P>
<P>Unaweza kupata kopi ya kitabu hiki kwa kupiga simu nambari +255653397942 au kupitia e mail ifuatayo;  obmsuya@yahoo.com.</P>

<P>Kitabu Kimeandikwa na <span>Overblessing Msuya. </P>
<P>Cover ya kitabu imetengenezwa na: <span>Overblessing Msuya.</span></P>
<P>Kimehaririwa na: 	<span>Grace Msuya na Youngsaviour Msuya</span></P>
<P>Kimepigwa chapa na: <span>Zanur General Enteprises.</span></P>

				
				<hr><hr> 
	        
    <h3><a name="yaliyomo">YALIYOMO</a></h3>

						
	<div class="line-sep"></div>
						<div>

<p><a href="#ufupi">KITABU KWA UFUPI</a></p>
<P><a href="#shukran">SHUKURANI</a>	</P>
<P><a href="#utangulizi">UTANGULIZI	</a></P>
<P><a href="#madhara">PESA.</a></P>	
<P><a href="#sayahasira">UAMINIFU	</a></P>
<P><a href="#sayamsukumo">MATANGAZO</a></P>
<P><a href="#ugonjwa">SAYANSI YA MATANGAZO</a>	</P>
<P><a href="#vyanzo">SHINDA VITA.</a></P>
<P><a href="#mapenzi">WASAIDIZI.</a></P>
<P><a href="#ujasiriamali">KITABU KWA UFUPI</a></P>
						


<hr><hr> 
				 

				 <h3><a name="ufupi"></a></h3>
<h3>KITABU KWA UFUPI.</h3>
				 <div class="line-sep"></div>
				 
<p>Uaminifu katika ujasiriamali ni mbinu ya mafanikio katika biashara. Uaminifu kwenye ujasiriamali sio ule uaminifu unaofundishwa makanisani au misikitini, bali ni uaminifu wenye lengo la kutengeneza wateja wa kudumu katika biashara. 
<p>Hakuna binaadamu asiyependa vitu bora, ni lazima mjasiriamali ajikite kwenye ubora ili kutengeneza mazingira mazuri ya biashara yake. Unapokuwa muaminifu na mwenye kujali ubora wa bidhaa, wateja watamiminika kwako na kuwa wengi. Ili uweze kuwadumia wateja wateja wengi, ni lazima uwe na bidii ya kazi. 
<p>Ukiwa muaminifu na mwenye kujali ubora wa bidhaa, wateja wanakutangaza kwa wateja wengine, hatimaye wateja wanaongezeka na kuwa wengi. Ili uweze kuwadumia wateja wengi waliotokea kukupenda kutokana na uaminifu na ubora wa bidhaa zako ni lazima uwe na bidii ya kazi.
<p>Kitabu hiki kinaweka wazi siri na miujiza ya uaminifu na ubora wa bidhaa. Hakifundishi jinsi ya kufanya biashara peke yake bali pia kinakupa hamasa na nguvu ya kuendelea na biashara hata pale unapotaka kukata tamaa. 
<p>Overblessing A Msuya.
<p>Muandishi na Mjasiriamali

	
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>

<h3><a name="shukran"></a></h3>
			<h3>SHUKRANI</h3>
			<div class="line-sep"></div>
			<p>Napenda kupeleka shukrani zangu za dhati kwa mke wangu mpendwa kwa ushauri wake na upendo alionionyesha kipindi chote cha utayarishaji wa kitabu hiki. Napenda kutoa shukrani zangu za dhati kwa watoto wangu Brayden pamoja na Whitney kwa kuelewa umuhimu wa nguzo tatu za ujasiriamali na hivyo kukubali kuniacha ili niandike bila kunisumbua.</p>
<p>Kitabu hiki kisingeweza kufika hapa bila msaada wa ndugu na jamaa zangu pamoja na makampuni mbali mbali kwa kutoa misaada yao ya hali na mali katika kufanikisha safari hii. Kipekee ningependa kuwashukuru Merrylight Tophair Limited kwa misaada yao ya kifedha kwa kipingi chote cha uandaaji, uchapishaji pamoja na usambazaji wa kitabu hiki.</p>

			

                   		
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
           <hr>        


			<h3><a name="utangulizi"></a></h3>
		
			<div class="text-center">
						<h2>SURA YA KWANZA</h2>

						<h3>UTANGULIZI</h3>
					</div>	
			
			
<p>Pesa imetengenezwa kwa misingi ya uaminifu hivyo ni lazima mjasiriamali awe muaminifu ili aweze kufanikiwa katika shughuli zake za biashara. Pesa ni rafiki wa mjasiriamali muaminifu. Pesa inapenda kwenda na kukaa kwa mtu muaminifu kwa sababu kubwa mbili; moja, wakuwa upande wake na kumtangaza, pili, sheria ya nchi inakuwa upande wake na kumlinda. Pesa kamwe haikai kwa mtu mdanganyifu na muongo kwani sikuzote sheria ya nchi na matakwa ya wateja yanamtafuna. 
<p>Uaminifu tunao uongelea hapa sio ule unaofundishwa makanisani au misikitini, bali ni ule wenye lengo la kukutengenezea mahusiano mazuri kati ya mjasiriamali na mteza na kumfanya kuwa wa kudumu. 
<p>Hakuna binaadamu asiyependa vitu vilivyo bora, ni lazima mjasiriamali ajikite kwenye ubora ili kutengeneza mazingira mazuri ya biashara yake. Mama yako mzazi anakupenda sana lakini anaweza asinunue bidhaa zako kama hazina ubora. Kwa kifupi ni kwamba hakuna mtu duniani asiyependa kitu kizuri. Unapouza bidhaa bora, maana nyingine ni kwamba unamfanya mteja akuone wewe kama yeye, akuamini na akupende kisha akutangaze.
<p>Utakapokuwa muaminifu na mwenye kujali ubora wa bidhaa, wateja wanakutangaza kwa wateja wengine, hatimaye huduma yako itapokelewa kwa shangwe kisha wateja wanaongezeka na kuwa wengi. Ili uweze kuwadumia wateja wengi kwa ufasaha ni lazima uwe na bidii ya kazi.. 
<p>Hizi nguzo tatu; uaminifu, ubora na bidii, ni lazima uzishike na kuzifuata ili ufanikwe. Najua sio rahisi, ndio maana nimeandika kitabu hiki ili uzione nguzo hizi kwa undani zaidi na hatimaye ziwe sehemu ya maisha yako ya ujasiriamali.
<p>Biashara ni vita, ukishindwa kufanya biashara usimlaumu mtu mwingine bali jilaumu wewe mwenyewe. Siku zote kumbuka uaminifu, ubora na bidii ya kazi ndio nguzo kuu katika ujasiriamali.


<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>

<hr>






<h3><a name="madhara"></a></h3>
			<div class="text-center">
						<h2>SURA YA PILI</h2>

						<h3>PESA.</h3>
					</div>	
			
<p>Hapo awali kabla ya fedha, biashara zilikuwa zinafanywa kwa kubadilishana vitu/bidhaa (barter trade), mfano, gunia moja la mahindi kwa madebe matatu ya maharage. Pamoja na kuwa biashara ya namna hii ilikuwa ngumu sana lakini ilitengeneza mazingira mazuri ya uaminifu.  Katika kipindi hicho yalikuwepo makundi mawili ya watu ambao ni wazalishaji na watoa huduma. Watoa huduma walilipwa kwa kupewa bidhaa kama malipo ya huduma zao. Na hapo ndipo mahusiano ya kazi na uchumi yalipoanza, ili uchumi wa mtu ukue lazima azalishe au atoe huduma itayomuwezesha kulipwa sawa na makubaliano yao. 
Kwa hiyo tangu awali kabla hata pesa haijaingia ukila bila kuzalisha maana yake ni kwamba unazorotesha uchumi wa mtu mwingine.

<h3>Ujio wa fedha na madhara yake.</h3>
<p>Ujio wa fedha ukatengeneza kundi lingine la watu, linalounganisha wazalishaji na wanunuaji, kundi hili likaitwa wafanyabiashara. Ujio wa pesa pamoja na wafanyabiashara ukarahisisha sana ufanyaji biashara.  
<p>Pamoja na kuwa pesa imetengenezwa kwa misingi ya uaminifu, ujio wa wafanyabiashara ukatengeneza mazingira ya kutoaminiana,  kwa lugha nyingine unaweza kusema; shetani akapata eneo la kucheza na akili za watu. Wafanyabiashara wahalifu wengi wakajitokeza wakatumia ujio wa pesa kujinufaisha kiharamu bila kufanya kazi. Ili kulinda misingi ya pesa serikali zikatunga sheria nyingi ili kudhibiti wimbi ya uongo na utapeli na kuhakikisha kwamba kila mtu anapata pesa kwa misingi iliyowekwa.
<p>Fedha imetengenezwa tu ili kurahisisha ubadilishaji wa bidhaa na sio vinginevyo kwani inathibitisha umiliki wa bidhaa hivyo kuwezesha biashara ya zamani ya kubadilishana vitu kwa vitu kubadilika na kuwa kubaadilishana vitu kwa pesa. Ujio wa pesa haujaja kubadilisha fomula ya biashara bali imekuja kurahisisha biashara, unapata pesa kulingana na huduma uliyoitoa au bidhaa uliyouza.

<h3>Kwanini pesa ina nguvu</h3>
<p>Kitu chochote kinaweza kuwa pesa kinachotakiwa ni uthibitisho  ambao unafahamika, unaaminika na unaokubalika na watu. Kujipatia pesa kwa namna nyingine yeyote zaidi ya kuzalisha au kutoa huduma ni kuangamiza biashara yako kwani ni kinyume na misingi ya pesa. Haitadumu kwasababu unaenda kinyume na fomula ya pesa na biashara. 
<p>Pesa ina nguvu kutokana na vigezo vitano vikubwa ambavyo ni;
<p><span>1.	Uaminifu</span>- Mwazo wa pesa ni uaminifu. Bila uaminifu hamna pesa.
<p><span>2	Utambulisho </span>- Pesa lazima itambulike kwa muonekano, mahali ilipotoka, idadi yake. Pesa ili iwe na nguvu ni lazima itambulike duniani kote na mataifa yote.
<p><span>3	Thamani (value)</span>- Pesa lazima iwe na thamani na lazima iwe na uwezo wa kupanda na kushuka kutokana na sababu mbali mbali kama vile uzalishaji, ubunifu, mzunguko nk.
<p><span>4	Kurudi ilipotoka</span>- Pesa zinapoharibika/chakaa zinarudishwa zilipotoka na kutengenezwa mpya.
<p><span>5	Kufa</span>- Pesa ikipoteza utambulisho wake inakuwa imekufa, mfano kuungua, kuoza, kubadilishwa n.k
Kutokana na vigezo hivi ndio maana pesa ina nguvu sana na nchi haiwezi kujitengeneza pesa zake mwenyewe na kama itafanya hivyo basi itazitumia ndani ya nchi yake pekee kwani hazitambuliwi na nchi zingine. Ili pesa yako itumike dunia nzima ni lazima itambulike na iwe na thamani inayotambulika.

<h3>Safari ya pesa.</h3>
<p>Mwanzo kila nchi ilipewa kiwango fulani cha fedha zikiwa na thamani fulani. Mgawanyo na kiwango cha thamani kilitokana na vigezo fulani fulani vilivyokubalika kimataifa. 
<p>Kupanda na kushuka kwa tahamani ikawa ndio mwanzo wa ushindani wa kiuchumi kati ya nchi na nchi. Thamani ya pesa haionekani kwa macho bali ni makubaliano ya vigezo vya kimataifa. 
<p>Baadhi ya vigezo vinavyotumika kupandisha au kushusha tahamani ya fedha ya nchi fulani, ni;
<p><span>1	uchapishaji wa fedha za ziada</span> ikawa ni kigezo kimojawapo cha kushusha au kupandisha thamani ya pesa. 
<p><span>2	Ubunifu na ugunduzi wa vitu mbali mbali</span> ukawa ni kigezo kimojawapo cha kupandisha thamani fedha.
<p><span>3	Kilimo, viwanda na mali aisli</span> vikawa vigezo vya kupandisha thamani fedha. 
<p><span>4	Uchapishaji haramu wa pesa, utakatishaji, ufichaji pesa</span> vikawa ni baadhi ya vigezo vya kushusha thamani fedha. 
<p><span>5	Kuzungusha fedha</span> ikawa kigezo cha kupandisha thamani fedha. 
<p>Kwa kifupii ni kwamba Uzalishaji, utoaji wa huduma, ugunduzi, kujibana na mengine yanayofanana na hayi ndio yanayopandisha thamani ya fedha na kukuza uchumi wa nchi. Kazi zisizo za halali zinasababisha pesa kupoteza thamani na hivyo kuzorotesha uchumi wa nchi.


<h3>Bei ya bidhaa</h3>
<p>Bei ya bidhaa inatokana na sababu nyingi, baadhi ya sababu hizo ni kama zifuatazo;
<p>Ubora wa bidhaa. Bidhaa bora ni ile inayoishi na hali yake ya awali kwa muda mrefu. Siku zote bidhaa bora ni ya ghali zaidi ukilinganisha na bidhaa zisizo bora kwani wateja wengi wanazigomania.
<p>Muonekano wa bidhaa-Hii ni sababu kubwa ya bei ya bidhaa kutokana na mvuto unaosababishwa na muonekano wake au fasheni iliyopo kwa wakati ule. Bidhaa inaweza ikawa bora au sio bora lakini ikawa na muonekano unaopendwa hivyo ukafanya bei ya bidhaa hiyo kuwa kubwa. 
<p>Msukumo utokanao na uhitaji na upatikanaji wa bidhaa husika (Demand and supply). Uhitaji unapokuwa mkubwa unapandisha thamani ya kitu na hivyo bei kuwa kubwa, vile vile upatikanaji wa bidhaa unapokuwa mkubwa unashusha thamani ya bidhaa hivyo kuwa na bei ndogo. 
<p>Maamuzi ya muuzaji kwa kuzingatia faida. Muuzaji anaweza kupanga bei ya bidhaa kutokana na utashi wake, utashi huu unaeza kusababishwa na bei ya manunuzi au faida anayoitaka.
<p>Maamuzi ya serikali. Serikali inaweza kupanga bei za bidhaa ili kuthibiti mfumuko wa bei. Hii ni njia mojawapo ya kupunguza kundi moja kuumiza kundi lingine. 
<p>Kwa ujumla ni kwamba bei ya bidhaa inaamuliwa na thamani ya bidhaa yenyewe. Dhamani inapokuwa kubwa inawafanya wateja kuwa tayari kulipa na kununua na dhamani inapkuwa ndogo inawafanya wateja kukataa kununua hiyo bidhaa. 


<h3>Heshimu pesa.</h3>
<p>Jifunze kusahau ulipoweka pesa- mfano wa kufua nguo na pesa.MTU ambaye hana uwezo wa kuisahau pesa yake hana uwezo wa Ku save. Unapoweka pesa kwenye saving account maana take in kwamba bank inakulazimisha kuisahau pesa yako.  Ukiweza kuisahau pesa yako kwenye matumizi lakini ukaikumbuka kwenye kuzalisha utajiri in wako. Ukiwa na pesa ukakumbwa na tatizo itaisha kwasababu in asili ya MTU kuogopa kuzalilika lkn tatizo hill hill kama usingekuwa na pesa ungelitatua kwa kuhangaika. 
<p>Mahusiano ya pesa na muda- (hii ikae kwenye mahesabu)- iangalie pesa kama Maji kwenye ndoo- pesa inavyojikusanya ni kama matone ya Maji kwenye ndoo lakini inavyotumika ni kama kubinua ndoo nakuyamwaga. 

<p>Huo ndio utaratibu halali wa upatikanaji wa pesa, lakini mafisadi, wezi, matapeli, Malaya wanajaribu kubadilisha huu uhalisia. Shida, njaa, kuonekana, majukumu vs hardworking, smart move, smart investment- mahusiano yake na matone pamoja na kumwaga Maji. 

<p>Pesa inazaa, lakini ukweli ni kwamba kitu kinachozaa kinakufa- kuzaa sio zoezi Dogo inachukua muda lakini ukisha zaa inabidi ulee huu ndio ukuzaji wa mtaji wako , kifo kinaweza kikaja kwa sekunde, mfano kwenye biashara ni sawa na kuibiwa, kutapeliwa lakini vile vile kifo kinaweza kikaja kwa mateso ya kuugua, kwenye biashara ni sawa na kufanya uwekezaji mbaya.</p>  
<p>Jitahidi, pesa ikiingia kwa matone nayo itoke kwa matone, wakati huo huo jitahidi pesa iingie kwa matone lakini makubwa na haraka haraka halafu yatoke kwa matone Madogo taratibu. 

<p>Kifo vs pesa- hii isikupe Wasiwasi kwenye ulimwengu wa maisha mazuri hamnaga kufa labda kama huwapendi watoto wako, unayo watoto na unawapenda na hutaki wapate shida vile vile unayo wajukuu na hutaki wapate shida kwa hiyo hakuna kufa. Wafundishe jinsi ya kutunza Mali ili kizazi chako kiendelee kukua. 


			


<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>










<h3><a name="sayahasira"></a></h3>
<div class="text-center">
						<h2>SURA YA TATU</h2>

						<h3>UAMINIFU</h3>
					</div>	
<p>Uaminifu katika biashara ni mbinu ya kivita inayompa mjasiriamali mafanikio katika biashara yake. Uaminifu kwenye ujasiriamali sio ule uaminifu unaofundishwa makanisani au misikitini, hii ni mbinu ya kivita yenye lengo la kutengeneza wateja wa kudumu katika biashara. 
<p>Pesa imetengenezwa kwa misingi ya uaminifu hivyo ni lazima mjasiriamali awe muaminifu ili aweze kufanikiwa. Fomula ya pesa kwa mtu mmoja mmoja inafanya kazi sawa na kwenye nchi. Mjasiriamali muaminifu ni rafiki wa pesa. Pesa inapenda kwenda na kukaa kwa mtu muaminifu kwa sababu mbili kubwa; moja sheria ya nchi inakuwa upande wake na pili wateja wanamkubali na kuwa upande wake. Pesa haikai kwa mtu mdanganyifu na muongo kwani sikuzote sheria ya nchi na matakwa ya wateja yanamtafuna. 
<p>Hii ndio hali halisi kwani pesa imeumbwa na kutengenezwa na watu kwa kuzingatia vigezo vya uhalali wa thamani ya kitu na makubaliano kati ya mwenye nacho na anayekitaka. Kama ulikuwa hujui,jua leo, uaminifu ni siri kubwa itakayo kufanikisha katika biashara yako. 
<p>Katika ujasiriamali uaminifu upo wa aina mbili; Uaminifu wa bidhaa na uaminifu wa mjasiriamali.
	<ul>
<p>•	Uaminifu wa bidhaa:- Pamoja na kuwa bidhaa haina mdomo lakini inazungumza kwa muonekano na maandishi yaliyopo juu yake. Kama yanayoonekana yanaashiria ukweli ukweli wa thamani iliyopo kwenye bidhaa kwa maana ya ladha, hali ya bidhaa na muda wa bidhaa kuishi. Muonekano pamoja na maandshi kwenye bidhaa yanatakiwa yawakilishe uhalisia wa ubora wa bidhaa husika, visitumike kudanganya kuhusu ubora wa bidhaa. </p>
<p>•	Uaminifu kwa mjasiriamali:- Uaminifu kwa mjasiriamali ni kusema ukweli na kutenda kweli na haki sawa na maneno yake, utu na makubaliano baina yake na mteja
</p></ul>.
<p>Uaminifu unapotea pale mjasiriamali anapotumia maneno, muonekano wa bidhaa pamoja na maandishi kwenye bidhaa kupotosha ukweli kuhusu thamani ya bidhaa husika. Ni lazima bidhaa iongee sahihi kuhusu thamani yake na ni wajibu wa mjasiriamali kusema ukweli kuhusu thamani ya bidhaa ili kudumisha na kuongeza idadi ya wateja katika biashara.</p> 


<h3>Uaminifu ni lazima</h3>
<p>Kama unatamani maendeleo ya kweli lazima uwe muaminifu kwenye ujasiriamali kwani maendeleo yanaletwa na wateja na wateja wanaletwa na wateja wenzao. Ni ujinga kukosa uaminifu kwenye biashara yako kwani unapokosa uaminifu ni kufanya juhudi za makusudi za kufukuza wateja, sawa na kuwaambia wasinunue tena bidhaa kwako na wala wasikuletee wateja wengine. 
<p>Sababu kubwa ya mjasiriamali kusema uongo ni matamanio ya kupata faida zaidi. Uongo kwenye biashara ni sumu ya biashara na ni njia nyeupe ya kushindwa biashara. Sasa, ni kwanini kukosa uaminifu ni kuangamiza biashara yako? Yafuatayo ndiyo yatajitokeza pale mjasiriamali atakapokosa uaminifu kwa wateja wake.</p>
<ul>
<p>1. lazima udanganye wateja wengi ili upate faida kubwa. Kwa maana nyingine, ni lazima uwachukize wateja wengi.
<p>2. Kutokana na machukizo hayo hao wateja hawawezi kuwa wa kudumu kwani haiwezekani ukamdanganya mtu halafu akaendelee kuwa mteja wako wa  kudumu. 
<p>3. Hakuna mteja atakaye kuunganisha na wateja wengine kwani utamtia aibu, ukimdanganya mtu hawezi kutangaza bidhaa zako. 
</p></ul>
<p>Ni kosa kubwa kupoteza uaminifu katika biashara yako kwani utapoteza wateja na kufanya maisha yako ya biashara kuwa magumu. Unapokuwa muaminifu unatengeneza mazingira mazuri sana ya biashara yako kwani;
	<ul>
<p>1	Utamfanya mteja kuwa wa kudumu.
<p>2	Utamfanya mteja kuwa msaidizi wako kwani ataeleza wenzake uzuri wa bidhaa zako.
<p>Kumbuka; utakapokuwa muaminifu unamuajiri mteja akutangazia biashara yako bila kumlipa mshahara, ukifanikiwa unapata nguvu ya kujituma zaidi, vile vile unapomfurahisha teja anajisikia raha kutangaza biashara yako. Kuwa muaminifu siku zote kwani, wateja wanakutegemea wewe kuwapatia bidhaa bora. 
<p>Wajasiliamali wengi wanaangamia kwasababu ya kukosa uaminifu. Kama ambavyo nchi zinaangamia, mjasiriamali anapokosa uaminifu kwa wateja wake naye anaangamia kwani wateja watamkimbia. 
<p>Mjasiriamali ni kiunganishi kati ya wazalishaji na waatumiaji, anapokosa uaminifu ana adhiri mzunguko mzima wa fedha na hatimaye kuleta umasikini. Biashara bila uaminifu maana yake ni kwamba;
	<ul>
<p>•	Bidhaa zinachelewa kufika sokoni kwa wakati. 
<p>•	Bidhaa zita sua sua kwenye uuzaji hivyo bidhaa kuharibika kwenye maghala.
<p>•	Kupotea kwa muda mwingi wa biashara kwani kila upande lazima ujiridhishe kabla ya kufanya biashara. 
<p>•	Wateja kutapeliwa hivyo kuogopa kununua vitu bila kuvihakiki. 
<p>•	Mzunguko wa pesa kuwa mdogo.
<p>•	Kuletwa kisichoagizwa 
<p>•	Kuongezeka kwa utapeli.
<p>Hatimaye kufa kwa Biashara.
</ul>
<p>Unapofanya biashara lazima utumie mbinu yeyote kujenga wateja. Ukikosa uaminifu utapoteza wateja..
<p>Unakumbuka huu msemo "mteja ni mfalme". Msemo usemi haujasemwa kimasihara kwani bila mteja hakuna mjasiriamali. Maana yake ni kwamba mjasiriamali lazima afanye kila afanyalo ili amfurahishe mteja ili aendelee kuwa mteja wake. Mteja ndiye atakayekufanya uwe tajiri. Haijalishi unamnyeyekea vipi siku ukiwa tajiri na yeye atakunyenyekea, kwahiyo, nyenyekea ili unyenyekewe. 

<h3>Upendo ni siri ya biashara</h3>
<p>Mama yako mzazi anakupenda sana lakini anaweza asinunue bidhaa zako kama hakuamini. Hakuna mtu asiyependa kitu kizuri, unapokuwa na upendo unampatia mteja kitu kizuri anachokipenda, maana nyingine ni kwamba unamfanya mteja akuone wewe kama yeye, akuamini na akupende. Uaminifu ni kipimo cha upendo kwa wateja na ni njia pekee ya kujenga mahusiano mazuri na wateja wako ambayo ni ya kudumu. 

<h3>Paza sauti kuhusu uaminifu  wako</h3>
<p>Kuwa muamininifu sio kazi ndogo, ni lazima utangaze uaminifu wako kwa nguvu zote. Mteja hawezi kujua uaminifu wako kwa haraka mpaka umueleze. Usipoeleza kuhusu uaminifu wako unakuwa haujitendei haki, tangaza kuhusu uaminifu wako kuliko hata unavyotangaza bidhaa zako. Matangazo ya uaminifu yanachukua nafasi kubwa sana kumuhakikishia mteja kuhusu uaminifu wako. Pale unapumshawishi mteja kununua bidhaa ni maneno yako ndiyo yanayoweza kuonyesha ubora wa bidhaa yako..
<p>Lazima mjasiriamali ahubiri injili ya uaminifu kwa kila mteja unayekutana Naye. Unapoacha kutangaza uaminifu wako maana yake ni kwamba unamuacha mteja aamue mwenyewe kukupima, lakini unapomtangaza maana yake in kwamba unamlazimisha akupime. 

<h3>Tapeli ni nani.</h3>

<p>Tapeli ni mtu anayetumia maneno na ushahidi wa uongo ili kumchukulia mtu fedha au kitu chake bila mtu mwenyewe kujua. Watu wengi wanatumia kivuli cha ujasiriamali kutapeli watu. Unaposema uongo kwa lengo la kujinufaisha unakuwa tapeli. 
<p>Kama una uza bidhaa yenye   ubora mdogo lakini ina muonekano sawa na yenye ubora mkubwa hiyo ni hatua ya juu zaidi ya kukosa uaminifu. Hii sio kitu kingine bani ni utapeli.  
<p>Utapeli ni matokeo ya kukosa uaminifu, uwizi ni matokeo ya kukosa uoga pamoja na uaminifu. Mwizi akikomaa anakuwa jambazi, tapeli akikomaa anakuwa tapeli sugu. 
<p>Sifa kubwa ya matapeli ni kuficha sura zao, hawapendi kutambuliwa kwa hofu ya kuogopa kukamatwa na kushitakiwa. Sifa nyingine kubwa ya tapeli ni ulaghai kwa kutumia lugha tamu ya ushawishi. unaweza ukawa haufahamu ni kwa kiasi gani unajiaribia lakini ukweli ni kwamba uongo kwenye biashara ni utapeli. Utapeli ni kitengo kama vitengo vingine kama vile uwizi, umalaya, ujambazi nk. Haiwezekani ukachanganya haya mambo na biashara yako. Ukichanganya lazima biashara itakufa. 
<p>Biashara yako inatengenezwa na vitu vitatu tu ambavyo ni bidhaa, wateja na wewe mwenyewe. Mahusiano yako na wateja ni uaminifu wako kwao kwani wateja hawataki kitu kingine zaidi ya kupata kile wanachokitaka. Hakikisha mteja anapata kile anachokitaka. </p>

<h3>lugha ya biashara</h3>
<p>Usichanganye kati ya lugha ya biashara na utapeli, utapeli ni pale ambapo unasema kitu wakati unao uhakika rohoni mwako kwamba ni uongo. Lugha ya biashara zipo za aina mbili, mbaya na nzuri. Lugha mbaya ya biashara ni pale unajisemea tu kwa nia ya kumshawishi mteja bila kuwa na uhakika na unachokisema kama ni kweli au uongo. Lugha nzuri ya biashara ni kusifia bidhaa kadiri uwezavyo, sifa ambayo kweli inapatikana ndani ya bidhaa. </p>

<h3>Uaminifu na umakini</h3> 
<p>Unapokuwa muaminifu haina maana kwamba watu unaoshirikiana nao ni waaminifu kwako. Ni lazima uaminifu uendane na umakini mkubwa ili wanaokuzunguka wasikutapeli na kuua biashara yako. Kitendo cha wewe kuwa muaminifu kitakufanya kuwa target ya matapeli.</p> 
<p>Ili kuepuka matatizo, jiamini wewe lakini usimuamini mtu kwani unaishi kwenye jamini iliyojaa watu wasio waaminifu. Kwa mazingira ya kiafrika uaminifu ni one way yaani kama barabara basi ni ile inayoelekea upande mmoja, ni uaminifu wako kwa wateja wako na sio uaminifu wa wateja/wafanyabiashara wengine kwako.</p>
<p>Namna pekee ya kumuamini mtu mwingine ni kama ni mshirika mwenzako. Mshirika ni mtu anayeamini sawa na wewe na aliye tayari kufuata taratibu mlizo jiwekea bila kupotosha. Mshirika sio wa maneno bali wa matendo. 
<p>Siku zote ubiri kwa nguvu kuhusu uaminifu wako na tenda matendo yako kwa uaminifu lakini usitegemee wakutendee hivyo kwahiyo kuwa makini sana pale unapopokea ahadi au bidhaa kutoka kwao. Watu wabaya wanaweza kucheza na akili yako kwasababu ya uaminifu wako. 
<p>Matapeli wengine wanatumia mbinu za kurubuni kwanza, pale wanapotambua kwamba wewe ni muaminifu wanaweza kukutapeli kwa kukusaidia kwanza. Inaweza ikawa ni pesa au mzigo, lengo lao likiwa ni kujenga uaminifu kwao. Unapojenga nao uaminifu maana yake ni kwamba wanakuwa washirika wako na hapo ndipo wanakutapeli. </p>

<p>kuwa makini sana unapokuwa kwenye biashara na hakiksha kwamba uaminifu wako usiwe tatizo. Mtu muaminifu lazima awe makini na asiruhusu tamaa ikamtoa nje ya reli.</p>

			

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>



<h3><a name="sayamsukumo"></a></h3>
<div class="text-center">
						<h2>SURA YA NNE</h2>

						<h3>THAMANI YA BIDHAA </h3>
					</div>	
<p>Thamani ni kiwango cha uaminifu kilichopo ndani ya bidhaa unaobeba uhalisia sawa na mategemeo ya mteja kwa maana ya ubora na umuhimu wa bidhaa husika kwa wakati husika. </p>
<p>Watu wote wanapenda kupata vitu bora. Mjasiriamali atakaye jikita kwenye bidhaa bora anajitengenezea mazingira mazuri ya kufanikiwa katika biashara yake. 
<p>Siku zote, kama unauza vitu bora usiishie hapo, hakikisha unahubiri kuhusu ubora wa vitu ulivyo navyo. Hakikisha unahubiri ubora na kuishi katika mahubiri yako. 

<h3>Uza bidhaa zenye thamani.</h3>
<p>Mjasiriamali anayetaka kufanikiwa lazima ajifunze kuuza bidhaa zenye thamani. Maamuzi ya kuuza vitu vya thamani hayaji yenyewe ni lazima mjasiriamali afanye maamuzi ya makusudi kuuza bidhaa za thamani. Pamoja na kuwa kupata bidhaa za thamani ina changamoto lazima mjasiriamali ajenge utamaduni wa kupenda bidhaa za dhamani. 

<p>Ili upate bidhaa za thamani lazima utumie muda mwingi kuzitafuta,
 ni lazima ufanyike utafiti wa kutosha kuhakiki uthamani wa bidhaa.</p>
<p>Ili kuepuka udanganyifu lazima usimamizi ufanyike kuhakikisha unachopewa ndicho ulichokichagua. </p> 
<p>Thamani ya bidhaa sio tu kudumu bali pia ni kufikisha hisia za mteja. Ili kupata bidhaa nzuri kwa maana ya kukonga nyoyo za wateja lazima ujenge utamaduni wa kujua vitu vizuri vinavyoenda na wakati (fasheni). Unaweza kuwa mjasiriamali muaminifu lakini kwasababu ya kushindwa kujua fasheni ukashindwa kuuza na kufurahisha wateja wako. Kama wateja wako wanajali sana fasheni lazima uende na wakati kuhusu aina ya bidhaa, rangi n.k.</p>

<p>Zaidi ya ubora wa bidhaa ni lazima mjasiriamali naye awe na muonekano unaoendana na wateja wake, huwezi kuuza vitu vya fasheni halafu wewe unavaa misambwanda.</p> 
<p>Na kama bidhaa itakuwa ya thamani dogo basi lazima bei yake iwe ndogo. Muonekano wa bidhaa hauna mahusiano na ubora wake. Kumbuka, kitu kinaweza kikaonekana kizuri lakini hakina ubora.</p>

<p>Mteja anataka kuhakikishiwa kuhusu ubora wa kitu ni wajibu wako kumuhakikishia kuhusu ubora wa kitu. Maneno yatokayo mdomoni kwako yawe yanasisitiza kuhusu ubora kila wakati kwani ni njia bora ya kumshawishi mteja. Unapotangaza ubora usiokuwepo ujue wewe ni tapeli.</p> 
<p>Hakikisha bidhaa inazungumza ukweli wa jinsi ilivyo, vilevile na Wewe unazungumza ukweli kuhusu biashara yako. </p>

<h3>Thamani ya bidhaa</h3>
<p>Uhitaji unaofanya bidhaa kuwa na thamani zaidi. Bidhaa inapoteza thamani yake pale inapokuwa haihitajika lakini pia kama bidhaa ipo nyingi kupitiliza inaikosesha dhamani.</p> 
<p>Uhitaji wa bidhaa unatokana nasababu tatu, ambazo ni;</p> 
<ul>
<p><span>Ubora wa bidhaa:</span>- Huu ni muda ambao thamani ya bidhaa inaishi ndani ya bidhaa.</p>
<p><span>Uhaba wa bidhaa:-</span>Bidhaa inapokosekana thamani yake inakuwa kubwa zaidi kwani tatizo linaendelea kuwepo. Uhaba wa bidhaa unaweza kusababisha kutokea kwa mbadala wake. Mjasiriamali mjanja ni yule anayeweza kuliona hili mapema na kutafuta mbadala wa bidhaa fulani inayopendwa na wateja.</p>
<p><span>Muonekano wa bidhaa:-</span> Muonekano wa bidhaa  unatokana na vitu mbali mbali kama vile fasheni, rangi, ladha n.k. </p>

<p>Sababu hizi tatu ndiyo zinatengeza thamani ya bidhaa. Bidhaa ikiwa na vigezo vyote vitatu yaani ina ubora mzuri, haipatikani kiurahisi na ina muonekano mzuri inakuwa na dhamani kubwa sana. Bidhaa inapoendelea kukosa hivi vigezo ndivyo dhamani yake inavyoendelea kushuka. 
<p>Pamoja na kuwa vigezo vyote vitatu ndivyo vinatengeneza thamani ya kitu, kigezo kimoja kinaweza kikawa ndicho pekee kinachomvuta mteja.</p>
<p> Bidhaa isiyo bora inaweza kuwa na dhamani zaidi kuliko bidhaa iliyo bora zaidi. Mfano, wasanii wengi wa muziki  wapo tayari kununua cheni ya thamani ndogo kwa sababu tu ina muonekano sawa na cheni ya mwanamuziki mashuhuri. Kumbukuka, wateja wanatofautiana sana lazima mjasiriamali ajue aina ya wateja wake.</p>

<p>Kila bidhaa inatengenezwa na muonekano wake pamoja na matumizi yake lakini bidhaa inaweza kuonekana sawa na nyingine lakini ikawa na ubora tofauti. Muonekano unawakilisha ubora wa bidhaa lakini ukitumika vibaya unaweza kutumika kudanganya wateja. Mchezo huu mbaya umekuwa ukitumika zaidi na wajasiriamali waongo. Huu sio mchezo mzuri kwa mjasiriamali kwani unapoteza wateja. Lazima mjasiriamali ahakikishe muonekano na thamani ya bidhaa vianashabihiana. </p>
<p>Kazi ya muonekano wa bidhaa ni kumvuta mteja  na kazi ya ubora ni kumfurahisha na kumdumisha mteja. </p>

<h3>Ubora na muda.</h3>
<p>Ni lazima mjasiriamali awe tayari kupoteza muda mwingi kutafuta bidhaa za thamani ili atengeneze wateja wa kudumu. Sio rahisi kupata bidhaa bora lakini vile vile sio rahisi kutengeneza wateja wa kudumu. Tumia muda mwingi kutafuta bidhaa bora halafu wateja wa kudumu watajitengeneza wenyewe. Usipokuwa na bidhaa bora itakuchukua muda mwingi kupata wateja wa kudumu na unaweza usiwapate kabisa. Ni lazima ufanye kazi ya ziada kutafuta na kuuza bidhaa bora, hakika malipo yake utayaona.</p>
<p>Kuna mahusiano makubwa kati ya ubora wa bidhaa na muda wa kuzitengeneza au kuvipata kwasababu;</p>
<ul>
<p>1. Bidhaa zenye ubora zinachukua muda mwingi kutengenezwa ukilinganisha na bidhaa zenye ubora mdogo. </p>
<p>2. Vile vile inachukuwa muda mwingi kutafuta bidhaa za dhamani kwani ni chache na watu wengi wanazigombania. </p>
</ul>
 

<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>




<h3><a name="ugonjwa"></a></h3>
<div class="text-center">
						<h2>SURA YA TANO</h2>

						<h3>BIDII </h3>
					</div>	

<p>Unapokuwa muaminifu na mwenye kujali ubora wa bidhaa unatengeneza wateja wengi na kazi zinaongezeka, kazi zinapoongezeka muda wa kupumzika unapungua. Ni lazima unapojipanga kuwa muaminifu pia ujipange kuwa na bidii ya kazi kwani muda sio mrefu wateja watakuwa wengi wanakusumbua. Fanya kazi kwa malengo jali muda wako ili kuepuka usumbufu wa akili na mwili.</p>

<h3>Amka asubuhi sana.</h3>
<p>Moja ya dalili ya mtu mwenye bidii ya kazi ni uwezo wa kuamka asubuhi na mapema. Kuna faida nyingi za kuamka asubuhi, hizi ni baadhi tu;</p> 
<ul>
<p>1. Unapo amka asubuhi unapata muda mwingi wa kufanya kazi.
<p>2. Akili inakuwa na uwezo mkubwa wa kufikiri.</p> 
<P>3. Asubuhi kunakuwepo na utulivu wa aina yake, hamna simu, hamna meseji, hamna mtu anayegonga mlango, hamna mtoto anayelia.</P> 
	 
	 </ul>
<P>Asubuhi ni wakati mzuri wa kuwaza na kupanga mipango yako ya siku hiyo. Unapo amka asubuhi sana inakuwezesha kufanya majukumu mengine ya siku bila kuadhiri ratiba yako ya kazi kama vile kusafiri, kufanya mazoezi nakadhalika. Kama unafuatilia watu waliofanikiwa utagundua kwamba kila mmoja anaongelea swala la kuamka mapema. Japo ni ngumu lakini jenga utamaduni wa kuamka mapema, awali itakuwa ngumu lakini muda unavyozidi kwenda una anza kuzoea.</P>
<P>Kwa kiwango cha kimataifa, mtu anafanya kazi masaa nane kwa siku, usipojenga utamaduni wa kuamka mapema itakuwa ngumu sana kupata masaa nane ya kufanya kazi kila siku. </P> 
<P>Nimeona vyema kukupa baadhi ya mbinu ambazo natumia ili kuamka mapema. Zinaweza zisi make sensi kwasasa lakini ukizijaribu amini nakuambia utazikubali.</P>
<P>Watu wengi wakitaka kuamka asubuhi wanatumia alam ili kuwa amsha lakini mara alam inapolia wanajikuta wanazima na kuendelea kulala. Sasa fanya hivi, alam inapolia tumia mbinu hizi mbili, moja fungua macho au kwa lugha nyingine weka macho yako wazi hata kama bado una usingizi pili weka kopo la karanga pembeni mwa kitanda chako, alam ikilia chukua karanga au kitu chochote cha kutafuna weka mdomoni halafu anza kutafuna. Ukitumia mbinu hizi kimiujiza utaona unashinda usingizi.</P>

<h3>jali Muda wa kazi.</h3>
<p>Maisha yanatengenezwa na sekunde, dakika, saa, siku, mwezi, mwaka na kuendelea. Vile vile mafanikio katika biashara yanatokana na muda wa kufanya biashara. Unaweza kufanya biashara masaa nane lakini ukiangalia unakuta umefanya masaa manne tu kwani muda mwingi umeutumia kupiga stori, kula, kutembea, kupumzika, kugombana, kuchati nakadhalika. </p>
<p>Mjasiriamali anayejitambua hapotezi muda kwa mambo ya kijinga. Mambo ya kijinga yana muda wako pale utakapokamilsha masaa nane kwa siku.</p>

<h3>Penda kazi yako.</h3>
<p>Ni vigumu sana kwa mjasiriamali kufanikiwa kama  hapendi anachokifanya. Siku zote fanya biashara unayoipenda lakini kama hukuipenda awali basi fanya jitihada ili uipende kwani unapopenda kazi inageuka na kuwa starehe.</p> 
<p>Kama unapata ugumu wa kujali muda wako, ni vyema kuweka utaratibu utakaokuwezesha kujali muda wako. Angalia vitu ambavyo vinakupotezea muda kisha viondoe katika maisha yako. Kama simu ndio tatizo basi izime au funga vitu visivyo vya lazima (whatsapp n.k), kama tatizo ni stori na marafiki na umeshindwa kuacha basi gombana nao.</p>
<p> Unaweza fanya yote haya lakini kama akili na roho yako haijakiri kwamba biashara ni vita unaweza usifikie malengo yako.</p>

<h3>Weka malengo.</h3>
<p>Ukiweka  malengo ya kuuza  kwa saa yatakufanya uwe na bidii ya kazi ya kuuza ili uyafikie. Malengo unayaweka mwenyewe, unayaamini halafu unaanza kuyafanyia kazi.  Malengo kuuza ndani ya kila lisaa limoja yanapima ufanisi wako kwani endapo biashara itakuwa mbaya basi malengo yatapiga kelele kukutaka ufanye kitu cha ziada ili uyafikie.</p> 
<p>Taarifa ya mauzo kwa saa ni muhimu sana kwani inachukua nafasi ya kukusukuma ili ujitume zaidi. Mjasiriamali wa kweli ni yule anayajua malengo yake kwa saa na anajitahidi kunayafikia. Weka malengo yako kwa kuzingatia mtaji ulionao, muda wa kuyafikia na matumizi yako.</p>

<h3>Wasaidizi.</h3>
<p>Ni dhahiri kwamba moja ya dalili za mjasiriamali kukua ni kuwa na wafanyakazi. Tofauti kubwa kati ya mfanyabiashara na mjasiriamali ni namna anavyoishi na kushirikiana na wafanyakaizi wake. Mjasiriamali anashirikiana na wafanyakazi wake kama timu moja au kwa lugha nyingine kama familia moja kwa maana hiyo ni kwamba ni lazima uhakikishe kwamba mfanyakazi wako anajisikia kama kama vile biashara yako ni ya kwake pia.</p> 
<p>Mahusiano yako na wafanyakazi wako ndio nguzo ya maendeleo yako, kama unashindwa kutengeneza mahusiano mazuri na wafanyakazi wako ni lazima ufanye juhudi za makusudi ili uweze. Katika vitu ambavyo binaadamu amepewa tofauti na wanyama wengine ni uwezo wa kujifunza kitu kipya ambacho sio asili yake. Kama kuna jambo lolote linakupa shida tambua kwamba, hilo jambo linakusumbua kwasababu haujataka kusumbuka kulishinda.

<p>Ukitaka kushinda jambo lolote lile utashinda, yanayotakiwa ni mambo matatu tu ambayo ni  <span>kukubali, kujifunza na kujikumbusha</span> mara kwa mara.
<p>Wafanyakazi wako wakifaidika katika biashara yako watajituma zaidi.Vile vile wakifanya kazi katika mazingira mazuri na yenye furaha watajituma zaidi. Kwa kifupi ni kwamba tengeneza mazingira ili wafanyakazi wako waweze kufurahia kazi.</p> 

<p>Sio rahisi kutengeneza timu nzuri ya wafanyakazi, tumia nguvu nyingi kutengeneza timu bora na usihofu kwamba watakukimbia. Cha muhimu ni kuhakikisha malengo yako ya kina yanafikiwa. Tengeneza timu yako tengeneza himaya yako, utajiri utakuja tu kama utaweza kuwafanya watu wakakufanyie kazi. </p>
<p>Wafanyakazi wanapokukimbia wala usiwalaumu, ukweli ni kwamba kila mtu anataka awe na uhuru wa kufanya maamuzi. Nasema hauna haja ya kuwalaumu wafanyakazi wako pale wanapokukkmbia kwani hata wewe ulishawahi kumkimbia bosi wako. Unachotakiwa kulaumu ni wewe mwenyewe. Wafanyakazi wako kwako kwa manufaa  yao wenyewe na watoto wao, hata siku moja hawafikirii kukufanyia wewe, ni wajibu wako kuwafanya wakupende, wajisikie huru, wawe na furaha na wawe na matumaini juu yako.</p>
<p>Mjasiriamali mdogo maana yake ni kwamba mtaji wake ni mdogo na hana pesa ya kutosha kuwafurahisha wafanyakazi wake. Lakini sio pesa tu ndio inaweza kuwapa furaha wafanyakazi, tumia mbinu mbali mbali kuwapa wafanyakazi wako raha.</p>
<p>Hii ni muhimu sana; Wapatie wafanyakazi wako kitu ambacho hawawezi kukipata kiurahisi sehemu nyingine yeyote, sio lazima pesa hata undugu na ukaribu unatosha  kumfanya mfanyakazi akupende na awe karibu yako. Kumbuka kila kitu unachokifanya kiwe na kinaendana na malengo yako ya kina uliyojiwekea. Mafunzo kwa wafanyakazi wako ni muhimu sana ili kuwajengea uwezo. Kamwe usiruhusu umbea na masimango baina ya wafanyakazi wako. 

<p>Kwa kifupi ni hivi; tengeneza mazingira mazuri ya kazi kiasi kwamba mfanyakazi wako akiwa na mpenzi  wake usiku anawaza lini kutakucha ili aje  kazini.</p>

<h3>Fomula ya tatu nane</h3>
<p>Siku ina masaa ishirini na nne, igawe siku katika makundi matatu ya masaa nane nane. Masaa nane ya kwanza ni ya kazi, masaa nane ya pili ni ya familia na masaa nane ya tatu ni ya kulala.</p> 
<p>Hakikisha kila siku unatumia masaa nane ya kufanya kazi. Hakikisha vitu vyote vinavyopoteza muda wako wa kufanya kazi unaviweka pembeni. Malengo yako yaweke ndani ya masaa nane kwa siku. Usipoyafikia malengo yako ya siku ni lazima ujiadhibu kwa kufanya kazi kwa masaa mengi zaidi.</p>
<p>Hakikisha kila siku unapata masaa nane kwa ajili ya familia, ndugu, jamaa na marafiki. Haya masaa yanapatikana kwa kujumlisha masaa machache wakati wa kuamka na masaa machache baada ya kutoka kazini. Ujasiriamali usikufanye ukakosa muda wa kukaa na familia yako. </p>
<p>Hakikisha kila siku unapata masaa nane ya kulala. Hii ipo kisayansi zaidi, binaadamu anatakiwa kulala masaa nane kwa siku ili mwili wake na akili yake vifanye kazi vizuri. Kwahio ukilala saa tatu usiku una amka saa kumi na moja aubuhi, ukilala saa nne usiku una amka saa kumi na mbili asubuhi. Kama unataka kuamka mapema zaidi lala mapema zaidi.</p>
<p>Malengo yako yasipofikiwa baada ya masaa nane ya kazi ni lazima kufidi kutoka kwenye muda wa kulala au muda wa familia. Jitahidi kufikia malengo yako kwani usipoangalia utakuwa unaiba muda wa shughuli nyingine. Ukipanga mipango yako halafu uka iheshimu na kuifuata utashangaa unafanikiwa</p>



<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>
<hr>




<h3><a name="ujasiriamali"></a></h3>
<div class="text-center">
						<h2>SURA YA NANE</h2>

						<h3>KITABU KWA UFUPI</h3>
					</div>
<ul>	
	
<p>•	Pesa imetengenezwa kwa misingi ya uaminifu hivyo ni lazima mjasiriamali awe muaminifu ili aweze kufanikiwa katika shughuli zake za biashara.
<p>•	Hakuna binaadamu asiyependa vitu vilivyo bora, ni lazima mjasiriamali ajikite kwenye ubora ili kutengeneza mazingira mazuri ya biashara yake
<p>•	Utakapokuwa muaminifu na mwenye kujali ubora wa bidhaa, wateja watakutangaza kwa wateja wengine, hatimaye huduma yako itapokelewa kwa shangwe. Ili uweze kuwadumia wateja wengi waliotokea kukupenda kutokana na uaminifu na ubora wa bidhaa zako ni lazima uwe na bidii ya kazi. 
<p>•	Hapo awali kabla ya fedha, biashara zilikuwa zinafanywa kwa kubadilishana vitu/bidhaa, mfano, gunia moja la mahindi kwa madebe matatu ya maharage. Pamoja na kuwa biashara hii ilikuwa inapoteza sana muda ilitengeneza mazingira mazuri ya uaminifu. 
<p>•	Ujio wa fedha ukatengeneza kundi lingine la watu, linalounganisha wazalishaji na wanunuaji, kundi hili likaitwa wafanyabiashara.
<p>•	Pamoja na kuwa pesa imetengenezwa kwa misingi ya uaminifu, ujio wa fedha ukatengeneza mazingira ya kutoaminiana,
<p>•	Fedha imetengenezwa tu ili kurahisisha ubadilishaji wa bidhaa na sio vinginevyo 
<p>•	Kujipatia pesa kwa namna nyingine yeyote zaidi ya kuzalisha au kutoa huduma ni kuangamiza biashara yako
<p>•	Jifunze kusahau ulipoweka pesa- mfano wa kufua nguo na pesa
<p>•	Uaminifu katika biashara ni mbinu ya kivita inayompa mjasiriamali mafanikio katika biashara yake
<p>	Kama unatamani maendeleo ya kweli lazima uwe muaminifu kwenye ujasiriamali kwani maendeleo yanaletwa na wateja na wateja wanaletwa na wateja wenzao
<p>•	Kuwa muamininifu sio kazi ndogo, ni lazima utangaze uaminifu wako kwa nguvu zote. 
<p>•	Tapeli ni mtu anayetumia maneno na ushahidi wa uongo ili kumchukulia mtu fedha au kitu chake bila mtu mwenyewe kujua.
<p>•	Usichanganye kati ya lugha ya biashara na utapeli, utapeli ni pale ambapo unasema kitu wakati unao uhakika rohoni mwako kwamba ni uongo. 
<p>•	Unapokuwa muaminifu haina maana kwamba watu unaoshirikiana nao ni waaminifu kwako. 
<p>•	Ili kuepuka matatizo, jiamini wewe lakini usimuamini mtu kwani unaishi kwenye jamini iliyojaa watu wasio waaminifu. 
<p>•	Unapokuwa muaminifu unatengeneza wateja wengi na kazi zinaongezeka,
<p>•	Pesa imetengenezwa kwa misingi ya uaminifu hivyo ni lazima mjasiriamali awe muaminifu ili aweze kufanikiwa katika shughuli zake za biashara.
<p>•	Hakuna binaadamu asiyependa vitu vilivyo bora, ni lazima mjasiriamali ajikite kwenye ubora ili kutengeneza mazingira mazuri ya biashara yake
<p>•	Utakapokuwa muaminifu na mwenye kujali ubora wa bidhaa, wateja watakutangaza kwa wateja wengine, hatimaye huduma yako itapokelewa kwa shangwe. Ili uweze kuwadumia wateja wengi waliotokea kukupenda kutokana na uaminifu na ubora wa bidhaa zako ni lazima uwe na bidii ya kazi.. 
<p>•	Hapo awali kabla ya fedha, biashara zilikuwa zinafanywa kwa kubadilishana vitu/bidhaa, mfano, gunia moja la mahindi kwa madebe matatu ya maharage. Pamoja na kuwa biashara hii ilikuwa inapoteza sana muda ilitengeneza mazingira mazuri ya uaminifu. 
<p>•	Ujio wa fedha ukatengeneza kundi lingine la watu, linalounganisha wazalishaji na wanunuaji, kundi hili likaitwa wafanyabiashara.
<p>•	Pamoja na kuwa pesa imetengenezwa kwa misingi ya uaminifu, ujio wa fedha ukatengeneza mazingira ya kutoaminiana,
<p>•	Fedha imetengenezwa tu ili kurahisisha ubadilishaji wa bidhaa na sio vinginevyo 
<p>•	Kujipatia pesa kwa namna nyingine yeyote zaidi ya kuzalisha au kutoa huduma ni kuangamiza biashara yako
<p>•	Jifunze kusahau ulipoweka pesa- mfano wa kufua nguo na pesa
<p>•	Uaminifu katika biashara ni mbinu ya kivita inayompa mjasiriamali mafanikio katika biashara yake
<p>•	Kama unatamani maendeleo ya kweli lazima uwe muaminifu kwenye ujasiriamali kwani maendeleo yanaletwa na wateja na wateja wanaletwa na wateja wenzao
<p>•	Kuwa muamininifu sio kazi ndogo, ni lazima utangaze uaminifu wako kwa nguvu zote. 
<p>•	Tapeli ni mtu anayetumia maneno na ushahidi wa uongo ili kumchukulia mtu fedha au kitu chake bila mtu mwenyewe kujua.
<p>•	Usichanganye kati ya lugha ya biashara na utapeli, utapeli ni pale ambapo unasema kitu wakati unao uhakika rohoni mwako kwamba ni uongo. 
<p>•	Unapokuwa muaminifu haina maana kwamba watu unaoshirikiana nao ni waaminifu kwako. 
<p>•	Ili kuepuka matatizo, jiamini wewe lakini usimuamini mtu kwani unaishi kwenye jamini iliyojaa watu wasio waaminifu. 
<p>•	Unapokuwa muaminifu unatengeneza wateja wengi na kazi zinaongezeka,
<p>•	Siku ina masaa ishirini na nne, igawe siku katika makundi matatu ya masaa nane nane. Masaa nane ya kwanza ni ya kazi, masaa nane ya pili ni ya familia na masaa nane ya tatu ni ya kulala. 
</ul>
<p><a href="#yaliyomo">Rudi Yaliyomo</a></p>





	
	

	
						</div>
						
			</div>


		</div>
	
</main>
     
     
      {% endblock %}   
        
       