{% extends 'base2.html' %} 
{% load static %}
    {%block head%}
     
    {% if item != None %}
        <title>{{item.name}}-Selected Class</title>
        
    {% else %}
        <title>Invalid Item ID- Selected Class</title>
    {% endif %}
    
    {%endblock%}


   {% block body %}
  
  


      
          <br> 
  
        
        <section class="section grey-scale">
      <div class="container">
<div class="col-lg-12 col-md-12">
  <div class="col-lg-12 col-md-12" style="padding-left: 0;padding-right: 0;">
  
                 
 <h2 class="btn btn-follow" ><span><a href="{% url 'home:index'%}" style="color:#fff;text-decoration:none;">Nunua Soma mtandaoni (ebook)</a></span></h2>
 <h2 class="btn btn-follow" ><span><a href="{% url 'accounts:index'%}" style="color:#fff;text-decoration:none;">Nunua vilivyo chapishwa (Hard copy)</a></span></h2>

  <h2 class="btn btn-follow" ><span><a href="{% url 'home:activate'%}" style="color:#fff;text-decoration:none;">Kwa Wandishi wauzaji</a></span></h2>
  <h2 class="btn btn-follow" ><span><a href="{% url 'himaya:urais_nchi'%}" style="color:#fff;text-decoration:none;">Locations</a></span></h2>

  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#regprocess">Namna ya kununua kitabu mtandao
                    </button> 

  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#regprocess2">Namna ya kununua vitabu chapishwa
                    </button> 


            </div>
          </div>
        <div class="course-image bottom-in">
                
<img src="{%static 'accounts/img/safront3.jpg'%}" class="img-responsive" alt=""'> 
                
            </div>
        
        
      </div>
        
        </section>
        
        
        
        
        <section id="vedio-sec" style="background-color: #fff;">
      
          <div class="container">
          
                                
          
<div class="col-lg-12 col-md-12  col-sm-12 contnthere" style="margin-bottom: 15px;">
               

                <hr>
                <br>
<h3><span>OBG Company Limited.</span> </h3>

<p>Website hii inamilikiwa na kufanya kazi chini ya Kampuni ya "OBG Company Limited". Hii ni moja ya website chache maarufu nchini Tanzania ambayo inamuwezesha muandishi kufikisha vitabu kwa wasomaji popote pale duniani. Katika Website hii Muandishi ana options mbili; moja, kuuza kwa njia ya mtandao peke yake<span>(ebook)</span> au kuuza kwa njia ya kupakua <span>(Download)</span>. Wasiliana nasi kwa maelezo zaidi.</p>

<p>Website hii inawezesha watu wengi, haswa wale  wanaozungumza lugha ya Kiswahili, kupata vitabu na nakala mbali mbali kwa ajili ya kusoma kwa lengo la kujielimisha na kujiburudisha.</p>









</div></div></section>





              


<section class="section">
      <div class="container">
        <div class="row">

          <div class="col-md-12"style="margin-bottom: 15px;">
             
              <h3><span>Wasiliana Nasi.</span></h3>
            
          </div>




          <div class="col-md-7">
            
                        
                                           
                    <div id="contact">
                                    
                    
                        <div class="video-container">                                   
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5233.185493903763!2d39.27138706048278!3d-6.833484473017059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4ba5bbc1ba7b%3A0x2f4f0a88e2089417!2sKariakoo%2C+Dar+es+Salaam!5e0!3m2!1sen!2stz!4v1538828227060" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        
                    </div>
          </div>

<br>
          <div class="col-md-5">
            <div class="">
    <div><p>Tupigie simu <a href="tel:0653397942" class="pull-right">+255653397942</a></p></div>
                        
  
                            <hr>
        <p class="text-center">Or <br> be classical</p>
                       
  <form>
    <div class="form-group"><input type="text" class="form-control" name="" value="" placeholder="Name"></div>
                                                                
    <div class="form-group"><input type="email" class="form-control" name="" value="" placeholder="E-mail"></div>
                                                                
    <div class="form-group"><input type="tel" class="form-control" name="" value="" placeholder="Phone"></div>
                                                                
    <div class="form-group"><textarea class="form-control" name="" rows="3" placeholder="Message"></textarea></div>
                                                                
     <button class="btn btn-follow pull-right" type="submit" name="button">
           <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Tuma</button>
  </form>
                        </div>
          </div>
        </div>
      </div>
    </section>
<br>
     
  </main>






 <div class="modal fade bd-example-modal-lg" id="regprocess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
        <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLongTitle">Hatua za kununu kitabu</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                
                                            <!--<div class="modal-body">-->
                                            
             <ul class="courses-lists " align="left">
                                            
           <li><p>1.Bonyeza nunua vitabu </p></li>
           <li><p>2. Kutoka kwenye listi ya vitabu, chagua kitabu unachokitaka kisha bonyeza kwenye picha ya kitabu.</p></li>
                                                
                                         
            <li><p>3. Maelezo ya kitabu husika yatafunguka, utaona maelezo ya kitabu kwa ufupi, utapata maelezo kuhusu muandishi, utapata video fupi pamoja na bei ya kitabu husika</p></li> 
                                                
          <li><p>5. Bonyeza neno lipa kupata kurasa ya malipo.Kama ni mara yako ya kwanza (haujawahi kusajiliwa) utapelekwa kwenye eneo la kujisajili kisha kujaza fomu kuonyesha kitabu unachokitaka. Kama umeshajisajili awali utapelekwa kwenye fomu kujaza taarifa za kitabu </p></li>
         <li><p>6.  Baada ya hapa utapatiwa taarifa za malipo kwenda kwa muandishi wa kitabu husika. Fanya malipo kisha subiri kitabu chako kufunguka.</p></li>
         <li><p>7. Baada ya muda mchache kitabu chako kitafunguka, ili kukiona na kuweza kukisoma utabonyeza neni vitabu vyangu.</p></li>
         <li><p>7. Kama utasubiri zaidi ya dakika kumi na tano bila kukiona kitabu basi wasiliana na muandishi kwa namba utakayoiona kwenye kurasa ya malipo.</p></li>
         
                                                </ul> 
                                               
                                                    
                                                
                                                    
                                                    
                                           
              
                            </div>
                        </div>
                    </div>


  

        <div class="modal fade bd-example-modal-lg" id="regprocess2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
        <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLongTitle">Hatua za kununu kitabu mtandao</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                
                                            <!--<div class="modal-body">-->
                                            
             <ul class="courses-lists " align="left">
                                            
           <li><p>1.Tuma mahitaji yako kwenye whatsapp namba 0653397942</p></li>
           <li><p>2. Tuma listi ya vitabu unavyovihitaji ukionyesha jina la kitabu na idadi ya vitabu.</p></li>
                                                
                                         
            <li><p>3. Kupata listi ya vitabu vinavyopatika kwetu, bonyeza "nunua vitabu chapishwa" hapo juu</p> </li> 
                                                
          <li><p>5. Wasiliana nasi kwa namba 0653397942 kwa ajili ya malipo na maelezo zaidi kama vile namna utakavyo pokea mzigo wako </p></li>
         <li><p>6. Tunasafirisha mizigo popote nchini, gharama za usafiri zinabadilika kutokana na eneo husika</p></li>
         
         
                                                </ul> 
                                               
                                                    
                                                
                                                    
                                                    
                                           
              
                            </div>
                        </div>
                    </div>






              
          
          
            
      </div>
    </div>
      
    </section>




    <footer>
    <div class="footer">
      <div class="container">
        
        <div class="row">
          <div class="col-md-4">
            <div class="link-title">
              <p>
                Kuhusu sisi
              </p>
              <div class="separator"></div>
            </div>


            <div>
              <p>
                <p> Sisi ni kampuni yenye malengo ya kubadili maisha ya watu kwa njia ya vitabu. </p>
              </p>
            </div>
          </div>


          <div class="col-md-2">
            

            <ul class="links">
              <div class="link-title">
              <p>
                kurasa
              </p>
              <div class="separator"></div>
            </div>
                                                        
                                                        <li>
                <a href="{% url 'home:index'%}">Listi ya vitabu</a>
              </li>

              <li>
                <!-- <a href="">Privacy Policy</a> -->
              </li>
            </ul>
          </div>

          
          <div class="col-md-3">
            <div class="link-title">
              <p>
                Zaidi
              </p>
              <div class="separator"></div>
            </div>

            <ul>
                                                    
                                                        
                
                       
                          
              
 
              
                <P><a href="{% url 'home:authors'%}">Tangaza nasi kitabu chako</a></P>
              
            </ul>
          </div>


          <div class="col-md-3">
            <div class="link-title">
              <p>
                Wasiliana nasi
              
              </p>
              <div class="separator"></div>
            </div>

            <p>
              3rd Floor, Imalaseko Investment Limited, <br>
              Kariakoo <br>
              P. O. Box 123 <br>
              Dar Es Salaam, Tanzania
            </p>
            <a href="tel:+255652441424" class="a-link">
              (+255) 653 397942
              
            </a>

            <a href="mailto:obmsuya@yahoo.com" class="a-link">
              obgcompanyltd@gmail.com
            </a>

          </div>


        </div>

        
          <hr class="white">
<hr class="white">

          <div class="footer-bottom">
            <span>
              @2018 OBG
            </span>

            <span>
              
            </span>
          </div>
                                        
                                        
                                        
                                     
                                        
                                        
      </div>
  </div>
    </footer>


  <script>
      function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
  </script>
 {% endblock %}